Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Fix modeling ply clear() method
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
Due: mypy-code

Fix modeling ply clear() method (#808)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
Due: mypy-code

Fix ACPInstance restart behavior
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/launch.py
  tests/unittests/test_acp_instance.py
Due: mypy-code, mypy-tests

Remove commented-out code
  src/ansys/acp/core/_server/launch.py
Due: mypy-code

Improve getting started
  doc/source/getting_started.rst
  doc/source/user_guide/howto/create_input_file.rst
  examples/modeling_features/005-ply-direction-lookup-table.py
Due: mypy-tests

Fix toctree
  doc/source/index.rst
Due: none

Fix filetransfer channel after restart
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/launch.py
  tests/unittests/test_acp_instance.py
Due: mypy-code, mypy-tests

Improve getting started (#810)
  doc/source/getting_started.rst
  doc/source/index.rst
  doc/source/user_guide/howto/create_input_file.rst
  examples/modeling_features/005-ply-direction-lookup-table.py
Due: mypy-tests

Show edges in getting started
  doc/source/getting_started.rst
Due: none

Accept ValueError in os.lstat
  tests/unittests/test_imported_solid_model.py
Due: mypy-tests

Fix ACPInstance restart behavior (#809)
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/launch.py
  tests/unittests/test_acp_instance.py
Due: mypy-code, mypy-tests

Show edges in getting started (#811)
  doc/source/getting_started.rst
  tests/unittests/test_imported_solid_model.py
Due: mypy-tests

Explicitly set the plot theme in all examples
  doc/source/api/example_helpers.rst
  doc/source/conf.py
  examples/modeling_features/001-materials.py
  examples/modeling_features/002-rosettes-ply-directions.py
  examples/modeling_features/003-simple-selection-rules.py
  examples/modeling_features/004-advanced-selection-rules.py
  examples/modeling_features/005-ply-direction-lookup-table.py
  examples/modeling_features/006-layup-thickness-definitions.py
  examples/modeling_features/007-sensor.py
  examples/modeling_features/010-sandwich-panel-layup.py
  examples/modeling_features/020-solid_model.py
  examples/modeling_features/030-imported-plies.py
  examples/modeling_features/031-imported-solid-model.py
  examples/modeling_features/050-composite_cae_h5.py
  examples/use_cases/01-optimizing-ply-angles.py
  examples/workflows/01-pymapdl-workflow.py
  examples/workflows/02-advanced-pymapdl-workflow.py
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  src/ansys/acp/core/extras/__init__.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

Minor tweaks to the examples
  examples/modeling_features/006-layup-thickness-definitions.py
  examples/modeling_features/007-sensor.py
  examples/modeling_features/030-imported-plies.py
Due: mypy-tests

Add note about using Jupyter or IPython for optimization example
  examples/use_cases/01-optimizing-ply-angles.py
Due: mypy-tests

Regenerate poetry lockfile
  poetry.lock
Due: none

Add note about missing output in examples
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
Due: mypy-tests

Getting started: show fiber direction instead of reference direction
  doc/source/getting_started.rst
Due: none

Fix indentation errors in examples (#813)
  examples/modeling_features/006-layup-thickness-definitions.py
  examples/modeling_features/007-sensor.py
  examples/modeling_features/030-imported-plies.py
  examples/use_cases/01-optimizing-ply-angles.py
Due: mypy-tests

Add a note about the plot theme used
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code

Regenerate poetry lockfile (#814)
  poetry.lock
Due: none

Explicitly set the plot theme in all examples (#812)
  doc/source/api/example_helpers.rst
  doc/source/conf.py
  examples/modeling_features/001-materials.py
  examples/modeling_features/002-rosettes-ply-directions.py
  examples/modeling_features/003-simple-selection-rules.py
  examples/modeling_features/004-advanced-selection-rules.py
  examples/modeling_features/005-ply-direction-lookup-table.py
  examples/modeling_features/006-layup-thickness-definitions.py
  examples/modeling_features/007-sensor.py
  examples/modeling_features/010-sandwich-panel-layup.py
  examples/modeling_features/020-solid_model.py
  examples/modeling_features/030-imported-plies.py
  examples/modeling_features/031-imported-solid-model.py
  examples/modeling_features/050-composite_cae_h5.py
  examples/use_cases/01-optimizing-ply-angles.py
  examples/workflows/01-pymapdl-workflow.py
  examples/workflows/02-advanced-pymapdl-workflow.py
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  src/ansys/acp/core/extras/__init__.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

Add note about missing output in examples (#815)
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
Due: mypy-tests

Linearize ISM mesh for plotting
  examples/modeling_features/031-imported-solid-model.py
Due: mypy-tests

Linearize ISM mesh for plotting (#817)
  examples/modeling_features/031-imported-solid-model.py
Due: mypy-tests

Fix link to pyvista.PolyData
  examples/modeling_features/031-imported-solid-model.py
Due: mypy-tests

Store composite definitions in UserFiles directory
  doc/source/index.rst
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code

Getting started: show fiber direction instead of reference direction (#816)
  doc/source/getting_started.rst
  examples/modeling_features/031-imported-solid-model.py
Due: mypy-tests

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#805)
  CONTRIBUTORS.md
Due: none

Allow for import of geometries with multiple parts in the pymechanical integration
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code

Add a feature tree
  doc/source/api/example_helpers.rst
  doc/source/api/extras.rst
  doc/source/api/index.rst
  doc/source/user_guide/concepts/feature_tree.rst
  doc/source/user_guide/concepts/index.rst
  doc/source/user_guide/concepts/store.rst
  doc/source/user_guide/howto/print_model.rst
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/extras/__init__.py
  src/ansys/acp/core/extras/feature_tree.py
  tests/unittests/test_feature_tree.py
  tests/unittests/test_tree_printer.py
Due: mypy-code, mypy-tests

tests: fix vulnerability branch
  .github/workflows/ci_cd.yml
Due: none

Update dependencies, fix PyVista incompatibility
  poetry.lock
  src/ansys/acp/core/_plotter.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  tests/unittests/test_plot_utils.py
Due: mypy-code, mypy-tests

Update dependencies, fix PyVista incompatibility (#824)
  poetry.lock
  src/ansys/acp/core/_plotter.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  tests/unittests/test_plot_utils.py
Due: mypy-code, mypy-tests

Add Python 3.13 support
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  pyproject.toml
Due: none

[TO REVERT] Exclude ansys-mapdl-core and ansys-mechanical-core in Python 3.13 dependencies
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
Due: none

Exclude PyVista 0.44.2
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
