Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]

  - repo: https://github.com/psf/black
    rev: "24.3.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.3.0]

  - repo: https://github.com/pycqa/isort
    rev: "5.13.2"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.0.0"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "1.8.0"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.2.9
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

run pre-commit hooks
  examples/modeling_features/001-materials.py
  examples/modeling_features/01-sandwich-panel-layup.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

Use the [all] extras in check-vulnerabilities
  .github/workflows/ci_cd.yml
Due: none

Make PyVista optional, fix optional deps definition (#685)
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/conf.py
  doc/source/intro.rst
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_plotter.py
  src/ansys/acp/core/_recursive_copy.py
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_tree_objects/_elemental_or_nodal_data.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/_solid_model_export.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_utils/path_to_str.py
  src/ansys/acp/core/_utils/pyvista_import_check.py
  src/ansys/acp/core/_utils/string_manipulation.py
  src/ansys/acp/core/_utils/typing_helper.py
  src/ansys/acp/core/_utils/visualization.py
  src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/mechanical_integration_helpers.py
  tests/conftest.py
  tests/unittests/test_edge_property_list.py
  tests/unittests/test_model.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_plot_utils.py
Due: mypy-code, mypy-tests

fix example if run on github
  examples/modeling_features/001-materials.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for b77057a2a9d140fd423396ca4dd9a1c9693dfdda
  benchmarks/data.js
Due: none

fix materials example if run on github and pymechanical examples if run locally
  examples/modeling_features/001-materials.py
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
Due: mypy-tests

revert change
  examples/modeling_features/01-sandwich-panel-layup.py
Due: mypy-tests

add thumbnail for the new example
  doc/source/_static/gallery_thumbnails/sphx_glr_001-materials_thumb.png
  examples/modeling_features/001-materials.py
Due: mypy-tests

add solid model example
  examples/modeling_features/001-materials.py
  examples/modeling_features/020-solid_model.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

fix test coverage
  examples/modeling_features/001-materials.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

run pre-commit hooks
  examples/modeling_features/020-solid_model.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

run pre-commit hooks
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code

fix thumbnail path
  examples/modeling_features/001-materials.py
Due: mypy-tests

Definition of ply materials (Fabric, Stackup and Sub-Laminate) (#692)
  doc/create_doc_windows.ps1
  doc/source/_static/gallery_thumbnails/sphx_glr_001-materials_thumb.png
  examples/modeling_features/001-materials.py
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 19f59d5ed8d4345289307414c741227deda97323
  benchmarks/data.js
Due: none

refine example
  examples/modeling_features/020-solid_model.py
Due: mypy-tests

revert accidental change
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code

initial draft of the example
  examples/modeling_features/021-imported-solid-model.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

cosmitic changes
  examples/modeling_features/021-imported-solid-model.py
Due: mypy-tests

add codecov.yml file
  src/ansys/acp/core/.codecov.yml
  src/ansys/acp/core/extras/__init__.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code

add additional unit tests for EdgeProperties (Lamina, TaperEdges)
  src/ansys/acp/core/.codecov.yml
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_sublaminate.py
Due: mypy-tests

run pre-commit hooks
  src/ansys/acp/core/extras/example_helpers.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_sublaminate.py
Due: mypy-code, mypy-tests

revert changes and add more unit tests
  src/ansys/acp/core/extras/example_helpers.py
  tests/unittests/test_stackup.py
  tests/unittests/test_virtual_geometry.py
Due: mypy-code, mypy-tests

run pre-commit hooks
  examples/modeling_features/021-imported-solid-model.py
Due: mypy-tests

Update the advanced PyMAPDL example
  examples/data/class40/class40.cdb
  examples/workflows/02-advanced-pymapdl-workflow.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

Fix benchmark
  tests/benchmarks/test_class40.py
  tests/data/class40.cdb
Due: mypy-tests

CI: use only the plotting extra in the vulnerability check action
  .github/workflows/ci_cd.yml
Due: none

Update the advanced PyMAPDL example (#690)
  examples/workflows/02-advanced-pymapdl-workflow.py
  src/ansys/acp/core/extras/example_helpers.py
  tests/benchmarks/test_class40.py
  tests/data/class40.cdb
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 44ce704033805fe3f520e77f3ea5ba0f7773a493
  benchmarks/data.js
Due: none

CI: use only the plotting extra in the vulnerability check action (#699)
  .github/workflows/ci_cd.yml
Due: none

add PyACP benchmarks (pytest) benchmark result for 91b0a48aa4d31b7a4e70853e755998b5783907a6
  benchmarks/data.js
Due: none

Workflow: allow loading Mechanical H5, update 'create input file' doc
  doc/source/examples/index.rst
  doc/source/user_guide/howto/create_input_file.rst
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Fix vale warnings
  doc/source/user_guide/howto/create_input_file.rst
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Update src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Specify that materials are not loaded from Mechanical H5 transfer
  doc/source/user_guide/howto/create_input_file.rst
Due: none
