Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Enable nitpicky doc build, add internal API docs
  .github/workflows/ci_cd.yml
  doc/source/_templates/autosummary/internal/base.rst
  doc/source/_templates/sidebar-nav-bs.html
  doc/source/api/index.rst
  doc/source/api/internal.rst
  doc/source/conf.py
Due: none

Add ConnectLaunchConfig to API docs
  doc/source/api/server.rst
Due: none

Tweak nitpick ignore rules
  doc/source/conf.py
Due: none

Remove -j auto flag
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Due: none

Enable nitpicky doc build, add internal API docs (#421)
  .github/workflows/ci_cd.yml
  doc/source/_templates/autosummary/internal/base.rst
  doc/source/_templates/sidebar-nav-bs.html
  doc/source/api/index.rst
  doc/source/api/internal.rst
  doc/source/api/server.rst
  doc/source/conf.py
Due: none

add PyACP benchmarks (pytest) benchmark result for a1e6c98b7f18903a328c0341b4d78685b1731611
  benchmarks/data.js
Due: none

Add plotting how-to
  doc/source/.gitignore
  doc/source/api/other_types.rst
  doc/source/conf.py
  doc/source/user_guide/howto/index.rst
  doc/source/user_guide/howto/visualize_model.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
Due: mypy-code

Add model.update()
  doc/source/user_guide/howto/visualize_model.rst
Due: none

Mention directions plotter in vector data section
  doc/source/user_guide/howto/visualize_model.rst
Due: none

Skip visualize_model when SKIP_GALLERY is set
  doc/source/conf.py
  doc/source/index.rst
  doc/source/user_guide/howto/visualize_model.rst
Due: none

Add section about showing geometries
  doc/source/user_guide/howto/visualize_model.rst
  src/ansys/acp/core/example_helpers.py
Due: mypy-code

Get input file from example-data repository
  doc/source/user_guide/howto/visualize_model.rst
  src/ansys/acp/core/example_helpers.py
Due: mypy-code

Minor improvements on examples
  examples/003_sandwich_panel.py
  examples/004_basic_rules.py
  examples/005_advanced_rules.py
Due: mypy-tests

Make TriangleMesh public, remove duplicates from 'internal.rst'
  doc/source/api/internal.rst
  doc/source/api/other_types.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
Due: mypy-code

Add plotting how-to (#409)
  doc/source/.gitignore
  doc/source/api/internal.rst
  doc/source/api/other_types.rst
  doc/source/conf.py
  doc/source/index.rst
  doc/source/user_guide/howto/index.rst
  doc/source/user_guide/howto/visualize_model.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/example_helpers.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 77b25bab9c7e875792739aa361b3515d2f526020
  benchmarks/data.js
Due: none

Add tests for create method
  examples/004_basic_rules.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_cad_geometry.py
  tests/unittests/test_cutoff_selection_rule.py
  tests/unittests/test_cylindrical_selection_rule.py
  tests/unittests/test_edge_set.py
  tests/unittests/test_element_set.py
  tests/unittests/test_fabric.py
  tests/unittests/test_geometrical_selection_rule.py
  tests/unittests/test_lookup_table_1d.py
  tests/unittests/test_lookup_table_3d.py
  tests/unittests/test_lookup_table_column.py
  tests/unittests/test_material.py
  tests/unittests/test_modeling_group.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_oriented_selection_set.py
  tests/unittests/test_parallel_selection_rule.py
  tests/unittests/test_rosette.py
  tests/unittests/test_sensor.py
  tests/unittests/test_spherical_selection_rule.py
  tests/unittests/test_stackup.py
  tests/unittests/test_sublaminate.py
  tests/unittests/test_tube_selection_rule.py
  tests/unittests/test_variable_offset_selection_rule.py
  tests/unittests/test_virtual_geometry.py
Due: mypy-code, mypy-tests

Add more tests for virtual geometry
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_lookup_table_column.py
  tests/unittests/test_virtual_geometry.py
Due: mypy-tests

Improve naming
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
Due: mypy-code

Ensure only a single object instance exists per tree object (#415)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_object_cache.py
  src/ansys/acp/core/_tree_objects/base.py
  tests/unittests/test_object_permanence.py
  tests/unittests/test_parallel_selection_rule.py
  tests/unittests/test_stackup.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 86c3806d8dd353f9f5a39fe82d93387ca3f4374a
  benchmarks/data.js
Due: none

Allow linking to CutoffSelectionRule from ModelingPly
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  tests/unittests/test_modeling_ply.py
Due: mypy-code, mypy-tests

Go through setters in __init__
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
Due: mypy-code

Add test for invalid operation types with CutoffSelectionrule
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  tests/unittests/test_modeling_ply.py
Due: mypy-code, mypy-tests

Fix typo
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
Due: mypy-code

Allow linking to CutoffSelectionRule from ModelingPly (#424)
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  tests/unittests/test_modeling_ply.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for c1255f78f870d80388cfc154bae7fab4943d2bdb
  benchmarks/data.js
Due: none

Add thickness example
  examples/001_basic_flat_plate.py
  examples/002_start_from_existing_project.py
  examples/003_sandwich_panel.py
  examples/004_basic_rules.py
  examples/005_advanced_rules.py
  examples/005_thickness_definitions.py
  src/ansys/acp/core/example_helpers.py
Due: mypy-code, mypy-tests

Add template rule example
  examples/005_advanced_rules.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
Due: mypy-code, mypy-tests

Cleanup
  examples/003_sandwich_panel.py
  examples/005_advanced_rules.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/example_helpers.py
Due: mypy-code, mypy-tests

Cleanup
  examples/005_advanced_rules.py
Due: mypy-tests

Add runtime type check for grpc_link_property
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/edge_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  tests/unittests/test_geometrical_selection_rule.py
Due: mypy-code, mypy-tests

Check that material can be reverted to None
  tests/unittests/test_fabric.py
Due: mypy-tests

Make allowed_types argument required
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
Due: mypy-code

Add runtime type check for grpc_link_property (#429)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/edge_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  tests/unittests/test_fabric.py
  tests/unittests/test_geometrical_selection_rule.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 699f7cfe2c1fcd021b4b79720e4d5cdcb24c51e6
  benchmarks/data.js
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
