Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Update doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/file_management.rst
Due: none

moved the 'and load the model' phrase to correct heading
  examples/001_basic_flat_plate.py
Due: mypy-tests

Update examples/009_optimization.py
  examples/009_optimization.py
Due: mypy-tests

Improve the geometry plot in thickness definition example (#510)
  examples/005_thickness_definitions.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for bbbddff2a669af50128b32e37bf13c1c50ae0482
  benchmarks/data.js
Due: none

Update doc/source/user_guide/concepts/material_property_sets.rst
  doc/source/user_guide/concepts/material_property_sets.rst
Due: none

Update doc/source/user_guide/howto/visualize_model.rst
  doc/source/user_guide/howto/visualize_model.rst
Due: none

Update doc/source/user_guide/howto/view_model_in_acp_gui.rst
  doc/source/user_guide/howto/view_model_in_acp_gui.rst
Due: none

Update doc/source/user_guide/howto/launch_configuration.rst
  doc/source/user_guide/howto/launch_configuration.rst
Due: none

Replace license server adress by dummy address
  examples/pymechanical/remote_workflow.py
Due: mypy-tests

Replace license server adress by dummy address (#511)
  examples/pymechanical/remote_workflow.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 6713128e3e9329cc6075f46a88c2298785f32595
  benchmarks/data.js
Due: none

edits per Dominik's feedback
  doc/source/user_guide/concepts/store.rst
  examples/pymechanical/acp_future/readme.md
  examples/pymechanical/remote_workflow.py
Due: mypy-tests

ran pre-commit check
  examples/009_optimization.py
Due: mypy-tests

Fixed heading underlines
  doc/source/user_guide/howto/file_management.rst
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
  examples/006_rosettes.py
  examples/007_direction_definitions.py
  examples/008_solve_class40.py
  examples/009_optimization.py
Due: mypy-tests

Overall doc review (#501)
  doc/source/user_guide/concepts/index.rst
  doc/source/user_guide/concepts/material_property_sets.rst
  doc/source/user_guide/concepts/store.rst
  doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/index.rst
  doc/source/user_guide/howto/launch_configuration.rst
  doc/source/user_guide/howto/print_model.rst
  doc/source/user_guide/howto/view_model_in_acp_gui.rst
  doc/source/user_guide/howto/visualize_model.rst
  doc/source/user_guide/index.rst
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
  examples/006_rosettes.py
  examples/007_direction_definitions.py
  examples/008_solve_class40.py
  examples/009_optimization.py
  examples/pymechanical/Readme.md
  examples/pymechanical/acp_future/readme.md
  examples/pymechanical/embedded_workflow.py
  examples/pymechanical/generate_mesh.py
  examples/pymechanical/postprocess_results.py
  examples/pymechanical/remote_workflow.py
  examples/pymechanical/set_bc.py
  examples/pymechanical/setup_acp_model.py
  src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/example_helpers.py
Due: mypy-code, mypy-tests

Use docker compose by default, fallback to docker-compose
  .github/workflows/ci_cd.yml
  src/ansys/acp/core/_server/docker_compose.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Use docker compose by default, fallback to docker-compose (#514)
  .github/workflows/ci_cd.yml
  src/ansys/acp/core/_server/docker_compose.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Update main README
  README.rst
Due: none

Add server availability disclaimer
  README.rst
  doc/source/index.rst
Due: none

Replace docker-compose with docker compose in README
  README.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for ccf83d73a846ba18e1a1e208446edd737c4c6cd9
  benchmarks/data.js
Due: none

Add server availability disclaimer (#515)
  README.rst
  doc/source/index.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for 7f6ff8139ee583f7c3ac3b774688aee0fad32ce3
  benchmarks/data.js
Due: none

Remove testing session section from intro
  doc/source/intro.rst
Due: none

Remove testing session section from docs (#517)
  doc/source/intro.rst
  poetry.lock
Due: none

add PyACP benchmarks (pytest) benchmark result for e5d82d6a9753829695dba47910add4f93e2dea85
  benchmarks/data.js
Due: none

cicd: uncomment stages for releasing
  .github/workflows/ci_cd.yml
Due: none

Use released ansys-dpf-core and ansys-dpf-composites
  Release_checklist.rst
  poetry.lock
  pyproject.toml
Due: none

cicd: uncomment stages for releasing (#518)
  .github/workflows/ci_cd.yml
Due: none

add PyACP benchmarks (pytest) benchmark result for 57ed691447479d23bf08b974774c1236755021e4
  benchmarks/data.js
Due: none

Update minimum dpf-core version to 0.8
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
