Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Docs: make example thumbnails bigger
  doc/source/_static/custom.css
  doc/source/_static/gallery_thumbnails/sphx_glr_001-materials_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_03-pymechanical-shell-workflow_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_04-pymechanical-solid-workflow_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_05-pymechanical-to-cdb-workflow_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_06-cdb-to-pymechanical-workflow_thumb.png
  doc/source/conf.py
Due: none

Update CODEOWNERS and CONTRIBUTORS
  .github/CODEOWNERS
  CONTRIBUTORS.md
Due: none

Adapt security considerations to mention auto-transfer mode (#730)
  doc/source/user_guide/security_considerations.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for dfa81e76447d3afb7d3615ed2373008514e20f46
  benchmarks/data.js
Due: none

Docs: make example thumbnails bigger (#733)
  doc/source/_static/custom.css
  doc/source/_static/gallery_thumbnails/sphx_glr_001-materials_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_03-pymechanical-shell-workflow_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_04-pymechanical-solid-workflow_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_05-pymechanical-to-cdb-workflow_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_06-cdb-to-pymechanical-workflow_thumb.png
  doc/source/conf.py
Due: none

add PyACP benchmarks (pytest) benchmark result for 8be6a44fc537e26c477ce868924198e68bef8dae
  benchmarks/data.js
Due: none

Update CODEOWNERS and CONTRIBUTORS (#734)
  .github/CODEOWNERS
  CONTRIBUTORS.md
Due: none

add PyACP benchmarks (pytest) benchmark result for 6017106c5aff7c0b59375e18d11796216cce678c
  benchmarks/data.js
Due: none

Docs: add experimental warning to CDB to PyMechanical example
  examples/workflows/06-cdb-to-pymechanical-workflow.py
Due: mypy-tests

Docs: add experimental warning to CDB to PyMechanical example (#736)
  examples/workflows/06-cdb-to-pymechanical-workflow.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 01add18666c49fbf9aa7a4d5c664e23a60211d83
  benchmarks/data.js
Due: none

Add Python 3.13 support
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  pyproject.toml
Due: none

Fix numpy type hints
  src/ansys/acp/core/_tree_objects/_elemental_or_nodal_data.py
Due: mypy-code

Ignore incorrectly inferred array dtype
  examples/modeling_features/005-ply-direction-lookup-table.py
Due: mypy-tests

Update examples/modeling_features/005-ply-direction-lookup-table.py
  examples/modeling_features/005-ply-direction-lookup-table.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for db5c9f4e33852a42d479340eb63d9045bd85f845
  benchmarks/data.js
Due: none

[TO REVERT] Exclude ansys-mapdl-core and ansys-mechanical-core in Python 3.13 dependencies
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
Due: none

Exclude PyVista 0.44.2
  poetry.lock
  pyproject.toml
Due: none

Added warning comment
  doc/source/intro.rst
Due: none

Changed to danger directive
  doc/source/intro.rst
Due: none

Added exit call to avoid problems when building documentation
  examples/use_cases/01-optimizing-ply-angles.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
Due: mypy-tests

Added links to documentation, minor changes
  doc/source/intro.rst
Due: none

Update doc/source/intro.rst
  doc/source/intro.rst
Due: none

Added mapdl.exit() call whenever an instance is created
  examples/workflows/01-pymapdl-workflow.py
  examples/workflows/02-advanced-pymapdl-workflow.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 80f16cadb6ddd5595a503803cd434fe532f8adca
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for e1c4808a8af955f799a170797ba97151a1e23534
  benchmarks/data.js
Due: none

Improve error message on inexistent files with local server
  src/ansys/acp/core/_server/acp_instance.py
  tests/unittests/test_acp_instance.py
Due: mypy-code, mypy-tests

Update spelling of PyDPF - Composites
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/pymechanical_with_shim/embedded_workflow.py
  examples/use_cases/01-optimizing-ply-angles.py
  examples/workflows/01-pymapdl-workflow.py
  examples/workflows/02-advanced-pymapdl-workflow.py
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  src/ansys/acp/core/dpf_integration_helpers.py
Due: mypy-code, mypy-tests

Fix title underlines
  examples/workflows/01-pymapdl-workflow.py
  examples/workflows/02-advanced-pymapdl-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
Due: mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
