Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Fix remaining vale warnings
  doc/source/_static/gallery_thumbnails/README.md
  doc/source/index.rst
Due: none

Workflow: allow loading Mechanical H5, update 'create input file' doc (#689)
  doc/source/_static/gallery_thumbnails/README.md
  doc/source/examples/index.rst
  doc/source/index.rst
  doc/source/user_guide/howto/create_input_file.rst
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for f5e3c842341618a2e6e20ec1bc2535824fac3e44
  benchmarks/data.js
Due: none

Ignore vale on internal README
  doc/source/_static/gallery_thumbnails/README.md
Due: none

add PyACP benchmarks (pytest) benchmark result for 8cf45e083d3e9b8be5a78882d60ce45c018c9cc5
  benchmarks/data.js
Due: none

add plotting examples for a solid model
  doc/source/user_guide/howto/visualize_model.rst
  examples/modeling_features/020-solid_model.py
Due: mypy-tests

fix pre-commit checks
  examples/modeling_features/020-solid_model.py
Due: mypy-tests

add example for solid model (#695)
  doc/source/user_guide/howto/visualize_model.rst
  examples/modeling_features/020-solid_model.py
  src/ansys/acp/core/extras/__init__.py
  src/ansys/acp/core/extras/example_helpers.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_stackup.py
  tests/unittests/test_sublaminate.py
  tests/unittests/test_virtual_geometry.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 88f7bc19c3e8fa6307e0c00fc1df6a0fc4f0d8f6
  benchmarks/data.js
Due: none

Handle changing the working directory in direct launch mode
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/launch.py
  tests/unittests/test_acp_instance.py
Due: mypy-code, mypy-tests

[WIP] Implement auto-upload mode
  doc/source/api/workflow.rst
  doc/source/intro.rst
  doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/view_model_in_acp_gui.rst
  examples/modeling_features/001-materials.py
  examples/modeling_features/01-sandwich-panel-layup.py
  examples/modeling_features/02-simple-selection-rules.py
  examples/modeling_features/03-advanced-selection-rules.py
  examples/modeling_features/04-layup-thickness-definitions.py
  examples/modeling_features/05-rosettes-ply-directions.py
  examples/modeling_features/06-ply-direction-lookup-table.py
  examples/use_cases/01-optimizing-ply-angles.py
  examples/workflows/01-pymapdl-workflow.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/launch.py
  src/ansys/acp/core/_tree_objects/_solid_model_export.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/extras/example_helpers.py
  tests/conftest.py
  tests/unittests/test_cad_component.py
  tests/unittests/test_cad_geometry.py
  tests/unittests/test_edge_property_list.py
  tests/unittests/test_imported_solid_model.py
  tests/unittests/test_model.py
  tests/unittests/test_solid_model.py
  tests/unittests/test_tree_printer.py
  tests/unittests/test_virtual_geometry.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Fix test failure
  tests/unittests/test_imported_solid_model.py
Due: mypy-tests

Run pre-commit hooks
  examples/modeling_features/001-materials.py
  examples/workflows/01-pymapdl-workflow.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

More doctest fixes
  doc/source/user_guide/concepts/store.rst
  doc/source/user_guide/howto/file_management.rst
Due: none

Rename remote_filename to remote_path
  README.rst
  doc/source/user_guide/howto/file_management.rst
  examples/workflows/02-advanced-pymapdl-workflow.py
  src/ansys/acp/core/_server/acp_instance.py
Due: mypy-code, mypy-tests

Fix import in dpf_integration_helpers
  src/ansys/acp/core/dpf_integration_helpers.py
Due: mypy-code

Fix doctests
  doc/source/user_guide/concepts/material_property_sets.rst
  doc/source/user_guide/concepts/store.rst
  doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/print_model.rst
Due: none

Remove composite definitions helper
  doc/source/api/dpf_integration_helpers.rst
  doc/source/api/index.rst
  doc/source/api/other_utils.rst
  doc/source/api/workflow.rst
  doc/source/user_guide/howto/file_management.rst
  examples/use_cases/01-optimizing-ply-angles.py
  examples/workflows/01-pymapdl-workflow.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/dpf_integration_helpers.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

Update create_input_files
  doc/source/user_guide/howto/create_input_file.rst
Due: none

Fix class40 benchmark test
  tests/benchmarks/test_class40.py
Due: mypy-tests

Simplify file_management documentation
  doc/source/user_guide/howto/file_management.rst
Due: none

Update solid model example
  examples/modeling_features/020-solid_model.py
Due: mypy-tests

run pre-commit checks and fix a wrong resolved merge conflict
  examples/modeling_features/021-imported-solid-model.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

revert temporary change
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code

Fix sub_shape test
  tests/unittests/test_virtual_geometry.py
Due: mypy-tests

Fix sub_shape test
  tests/conftest.py
  tests/unittests/test_cad_component.py
  tests/unittests/test_cad_geometry.py
  tests/unittests/test_virtual_geometry.py
Due: mypy-tests

Fix doctests
  doc/source/api/internal.rst
  doc/source/user_guide/howto/file_management.rst
Due: none

Fix DPF integration helpers API doc
  doc/source/api/dpf_integration_helpers.rst
Due: none

Fix workflow examples
  examples/workflows/02-advanced-pymapdl-workflow.py
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
Due: mypy-tests

Allow running create_doc_windows from anywhere
  doc/create_doc_windows.ps1
Due: none

Fix visualize_model howto
  doc/source/user_guide/howto/visualize_model.rst
Due: none

Add DPF to accept.txt
  doc/styles/config/vocabularies/ANSYS/accept.txt
Due: none

fix reference to print_model
  examples/modeling_features/021-imported-solid-model.py
Due: mypy-tests

upload solid mesh file to server
  examples/modeling_features/021-imported-solid-model.py
Due: mypy-tests

Merge file transfer handling into a single FileTransferHandler class
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/launch.py
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Simplify LocalFileTransferStrategy implementation
  src/ansys/acp/core/_server/acp_instance.py
Due: mypy-code

Improve file_management documentation
  doc/source/user_guide/howto/file_management.rst
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
