Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

add PyACP benchmarks (pytest) benchmark result for 31a3798febb2c1750afa4f4d19ba57e214f23814
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for acee20f5614ddd233096561f29515695d766d47b
  benchmarks/data.js
Due: none

Accept empty resource paths in linked objects when storing
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Accept empty resource paths in linked objects when storing (#569)
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for b4bba3041c2dba45bc8bb75a5098105bb889b7b3
  benchmarks/data.js
Due: none

Bump version to 0.1b2
  pyproject.toml
Due: none

Add step for testing on the released server
  .github/workflows/ci_cd.yml
Due: none

Mark expected failures
  .github/workflows/ci_cd.yml
  tests/conftest.py
  tests/unittests/test_model.py
Due: mypy-tests

Discard unknown fields in clone when unlink is set
  .github/workflows/ci_cd.yml
  src/ansys/acp/core/_tree_objects/base.py
  tests/conftest.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Add step for testing on the released server (#573)
  .github/workflows/ci_cd.yml
  src/ansys/acp/core/_tree_objects/base.py
  tests/conftest.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 9a8bb9bea4240de6ef7ccaabceaa7192fe3ac7e5
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for b9c40d3d2cbd21a367dae139a8705035ca1808eb
  benchmarks/data.js
Due: none

Standardize "Contribute" heading and make minor edits for overall doc consistency
  CONTRIBUTING.md
  doc/source/contributing.rst
Due: none

minor edits
  CONTRIBUTING.md
Due: none

Doc/minor edits (#577)
  CONTRIBUTING.md
  doc/source/contributing.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for 90189482a8ad4cfc74057282bc84fb769716a4e6
  benchmarks/data.js
Due: none

Adapt to changes in the API library
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Update minimum API version to 0.2.0.dev0
  poetry.lock
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update poetry lockfile
  poetry.lock
Due: none

Explicitly allow ansys-api-acp prereleases
  poetry.lock
  pyproject.toml
Due: none

Fix API version specification for wheel
  poetry.lock
  pyproject.toml
Due: none

Use pinned API library version
  poetry.lock
  pyproject.toml
Due: none

Adapt to changes in the API library (#580)
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 7edaf34e49bd1535c235c94954b57c6094d17365
  benchmarks/data.js
Due: none

Drop support for Python 3.9
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Run and fix pre-commit hooks
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_helpers.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_object_cache.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  src/ansys/acp/core/_utils/array_conversions.py
  src/ansys/acp/core/_workflow.py
  tests/unittests/common/linked_object_list_tester.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/helpers.py
  tests/unittests/test_material.py
  type_checks/add_methods.py
  type_checks/create_methods.py
Due: mypy-code, mypy-tests

Add .git-blame-ignore-revs file
  .git-blame-ignore-revs
Due: none

[TMP] Prototype recursive clone code
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_recursive_clone.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_traversal.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
Due: mypy-code

Add docstring to recursive_copy
  doc/source/api/index.rst
  doc/source/api/other_utils.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_recursive_copy.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_traversal.py
Due: mypy-code

Add more recursive_copy tests
  src/ansys/acp/core/_recursive_copy.py
  tests/unittests/test_recursive_copy.py
Due: mypy-code, mypy-tests

Improve docstrings
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
Due: mypy-code

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
