Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py38-plus]
- repo: https://github.com/psf/black
  rev: '22.12.0'
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: '5.12.0'
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: '6.0.0'
  hooks:
  - id: flake8
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
- repo: https://github.com/python-poetry/poetry/
  rev: '1.3.0'
  hooks:
  - id: poetry-check
    name: "poetry: check pyproject.toml syntax"
  # We're slightly abusing the 'poetry-lock' hook, by running
  # 'poetry lock --check' instead of 'poetry lock'
  - id: poetry-lock
    name: "poetry: check poetry.lock consistency"
    args: ['--check']
    files: '^(pyproject\.toml|poetry\.lock)$'
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
- repo: https://github.com/kynan/nbstripout
  rev: 0.6.1
  hooks:
  - id: nbstripout
    args: ["--extra-keys", "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode"]
- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|^(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)|^(examples/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

add PyACP benchmarks (pytest) benchmark result for c47c72b9dc06f999986a7a05a26ffb32a2fd2ff9
  benchmarks/data.js
Due: none

Update docker Python package (#325)
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Due: none

add PyACP benchmarks (pytest) benchmark result for 4f18cabdae7cc41ec7069ed545e7ecbe17d0e440
  benchmarks/data.js
Due: none

Add tests for CADGeometry
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_cad_geometry.py
Due: mypy-code, mypy-tests

Improve docstrings
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
Due: mypy-code

Add CADComponent and VirtualGeometry
  src/ansys/acp/core/_tree_objects/cad_component.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
Due: mypy-code

Add CADGeometry tree object
  src/ansys/acp/core/_tree_objects/cad_geometry.py
Due: mypy-code

Fix tests
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_utils/path_to_str.py
  tests/conftest.py
  tests/data/minimal_complete_model.acph5
  tests/data/square_and_solid.stp
  tests/unittests/test_cad_component.py
Due: mypy-code, mypy-tests

Remove commented-out code
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
Due: mypy-code

Update VirtualGeometry to API with explicit CADGeometry reference in sub-shape
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  tests/data/minimal_complete_model.acph5
  tests/unittests/test_cad_component.py
  tests/unittests/test_virtual_geometry.py
Due: mypy-code, mypy-tests

Add CADGeometry visualization
  src/ansys/acp/core/_tree_objects/cad_geometry.py
Due: mypy-code

Update locked dependencies
  poetry.lock
Due: none

Add refresh method to CADGeometry
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_utils/path_to_str.py
  tests/unittests/test_cad_geometry.py
Due: mypy-code, mypy-tests

Add CAD Geometry exposure (#327)
  poetry.lock
  src/ansys/acp/core/_tree_objects/cad_component.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  src/ansys/acp/core/_utils/path_to_str.py
  tests/conftest.py
  tests/data/minimal_complete_model.acph5
  tests/data/square_and_solid.stp
  tests/unittests/test_cad_component.py
  tests/unittests/test_cad_geometry.py
  tests/unittests/test_virtual_geometry.py
Due: mypy-code, mypy-tests

Update src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
Due: mypy-code

Add Cutoff- and GeometricalSelectionRule
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_cutoff_selection_rule.py
  tests/unittests/test_geometrical_selection_rule.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 1499707a525b7a08a178a54e105c54f91041fab2
  benchmarks/data.js
Due: none

Add new types to doc
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
Due: mypy-code

Add Cutoff- and GeometricalSelectionRule (#329)
  doc/source/api/tree_objects.rst
  poetry.lock
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_cutoff_selection_rule.py
  tests/unittests/test_geometrical_selection_rule.py
Due: mypy-code, mypy-tests

Expose advanced modeling ply thickness properties
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  tests/unittests/test_modeling_ply.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for eb4bc078f9bec4c94279dc070efa5f6d1e79f3e2
  benchmarks/data.js
Due: none

Update src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
Due: mypy-code

Add modeling ply thickness properties (#331)
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  tests/unittests/test_modeling_ply.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for be141037f374c57c358bec0b2830adfa1d73b227
  benchmarks/data.js
Due: none

Improve type hints for 'register' and 'mark_grpc_properties'
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/object_registry.py
Due: mypy-code

Initial prototypes for workflow and examples
  examples/001_basic_flat_plate.py
  examples/002_start_from_existing_project.py
  examples/data/flat_plate/flat_plate_input.dat
  examples/solve_class40.py
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/workflow.py
Due: mypy-code, mypy-tests

Improve documentation for add_ methods
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Move to_pvista function to individual data points
  examples/001_basic_flat_plate.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 7732bc235bfe7df73ff477db2a52b6642e9ee39c
  benchmarks/data.js
Due: none

DOC: update development documentation 7732bc235bfe7df73ff477db2a52b6642e9ee39c
  version/dev/.buildinfo
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_001.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_002.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_003.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_004.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_005.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_006.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_007.vtksz
  version/dev/_images/sphx_glr_solve_class40_006.png
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Cleanup example
  examples/001_basic_flat_plate.py
Due: mypy-tests

Fix component names in mesh data
  src/ansys/acp/core/_tree_objects/_mesh_data.py
Due: mypy-code

Initial prototypes for workflow and examples
  src/ansys/acp/core/model_printer.py
  src/ansys/acp/core/workflow.py
Due: mypy-code
