Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]

  - repo: https://github.com/psf/black
    rev: "24.3.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.3.0]

  - repo: https://github.com/pycqa/isort
    rev: "5.13.2"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.0.0"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "1.8.0"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.2.9
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

add PyACP benchmarks (pytest) benchmark result for 069645ab45fd6bb7bffe89635fe14e094a4c8e46
  benchmarks/data.js
Due: none

Remove workaround for sphinx cache warning (#533)
  doc/source/conf.py
Due: none

add PyACP benchmarks (pytest) benchmark result for 7c5ea14ebbf71b08430e4de5312c2f0d4a78fdb6
  benchmarks/data.js
Due: none

Skip inherited members for enums
  doc/source/_templates/autosummary/no_methods_doc/class.rst.jinja2
Due: none

Keep newline at end
  doc/source/_templates/autosummary/no_methods_doc/class.rst.jinja2
Due: none

Skip inherited members for enums (#535)
  doc/source/_templates/autosummary/no_methods_doc/class.rst.jinja2
Due: none

add PyACP benchmarks (pytest) benchmark result for 5141ff186ed150092e085b0e21eb3c559c402459
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for a8b002f5fc03f1d3bdf5e6d917a34a3529b2f84d
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for 15fbd57bb086397b809d8de5817268aadecb6f09
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for ad8fb069c5bb6268024b8caf43ec45242d539452
  benchmarks/data.js
Due: none

Pass workflow_dispatch inputs via env
  .github/workflows/ci_cd.yml
Due: none

Update pre-commit configuration
  .pre-commit-config.yaml
  LICENSE
Due: none

CI: Fix custom API branch install (#546)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  LICENSE
Due: none

add PyACP benchmarks (pytest) benchmark result for 93ce405cb4819a9ef1542db8d7b52ab9dd62bf3b
  benchmarks/data.js
Due: none

Add ply geometry export function to Model
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Add helper for managing supported server versions
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Update API package version
  poetry.lock
  pyproject.toml
Due: none

Compute arrow length from element size by default
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
Due: mypy-code

Fix unit tests
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Force newer version of ansys-mapdl-core
  poetry.lock
  pyproject.toml
Due: none

Fix modeling ply export unittest
  tests/unittests/test_model.py
Due: mypy-tests

Add new enum types to API doc
  doc/source/api/enum_types.rst
Due: none

Add missing top-level export of new enum types
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
Due: mypy-code

revert makinf from_fe_file private
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Add ServerWrapper to internal API doc
  doc/source/api/internal.rst
Due: none

Implement ply geometry export for modeling plies (#545)
  doc/source/api/enum_types.rst
  doc/source/api/internal.rst
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 45a364d22ca048cfa91f7b21e04afef311aad8aa
  benchmarks/data.js
Due: none

Add method for replacing the mesh
  .github/workflows/ci_cd.yml
  poetry.lock
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Update src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code
