Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

add read only property ext_id
  src/ansys/acp/core/_tree_objects/material/material.py
Due: mypy-code

Add unit test for stackup
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/stackup.py
  tests/unittests/test_stackup.py
Due: mypy-code, mypy-tests

add unit test for the ext_id
  src/ansys/acp/core/_tree_objects/material/material.py
  tests/unittests/test_material.py
Due: mypy-code, mypy-tests

update reference to ansys-api-acp
  poetry.lock
Due: none

apply pre-commit patch
  src/ansys/acp/core/_tree_objects/material/material.py
  tests/unittests/test_material.py
Due: mypy-code, mypy-tests

add read only property ext_id (#236)
  poetry.lock
  src/ansys/acp/core/_tree_objects/material/material.py
  tests/unittests/test_material.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 18a53e0f323352ebb8c9466e88762f1d70db9ede
  benchmarks/data.js
Due: none

Working example
  .gitignore
  examples/pymechanical/generate_mesh.py
  examples/pymechanical/import_materials.py
  examples/pymechanical/load_composite_definitions.py
  examples/pymechanical/output/.gitkeep
  examples/pymechanical/print_tree.py
  examples/pymechanical/remote_workflow.py
  examples/pymechanical/set_bc.py
  examples/pymechanical/solve.py
Due: mypy-tests

remove unnecessary file
  examples/pymechanical/solve.py
Due: mypy-tests

Minor improvements and more comments
  examples/pymechanical/remote_workflow.py
Due: mypy-tests

add GenericObjectList to handle typed graph edge properties such as link between stackup and fabric in the front end.
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/generic_object_list.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/stackup.py
  tests/unittests/test_stackup.py
Due: mypy-code, mypy-tests

apply pre-commit patch
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/generic_object_list.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/stackup.py
  tests/unittests/test_stackup.py
Due: mypy-code, mypy-tests

run pre-commit checks
  src/ansys/acp/core/_tree_objects/_grpc_helpers/generic_object_list.py
  src/ansys/acp/core/_tree_objects/stackup.py
Due: mypy-code

support in-place editing
  src/ansys/acp/core/_tree_objects/_grpc_helpers/generic_object_list.py
  src/ansys/acp/core/_tree_objects/stackup.py
Due: mypy-code

support in-place editing
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/stackup.py
Due: mypy-code

update stackup test
  tests/unittests/test_stackup.py
Due: mypy-tests

Apply clang tidy patch
  examples/pymechanical/embedded_workflow.py
  examples/pymechanical/remote_workflow.py
Due: mypy-tests

Refactor: Use separate protocols in property_helpers that specify the requirements for a particular function. With this it is possible to simply the protocol hierarchy for the tree objects
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/property_helper.py
Due: mypy-code

Rename objects so that tests pass. Simplfy protocols.
  poetry.lock
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/wrapper.py
Due: mypy-code

Create Readonly tree object
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Add tests
  poetry.lock
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/object_registry.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_production_ply.py
Due: mypy-code, mypy-tests

Add production ply
  poetry.lock
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/object_registry.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_production_ply.py
Due: mypy-code, mypy-tests

Remove some code duplication
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/property_helper.py
  src/ansys/acp/core/_tree_objects/material/property_sets/wrapper.py
Due: mypy-code

Remove some code duplication
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Cleanup Id and name properties
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Check
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Fix type.
  src/ansys/acp/core/_tree_objects/material/property_sets/wrapper.py
Due: mypy-code

Update lock file
  poetry.lock
Due: none

Remove loop through base classes
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
Due: mypy-code

Small improvements
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Run formatter and minor type fixes
  poetry.lock
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/wrapper.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
Due: mypy-code

Fix pre-commit errors
  src/ansys/acp/core/_tree_objects/material/property_sets/wrapper.py
Due: mypy-code

Add Jupyter extra to PyVista dependency
  poetry.lock
  pyproject.toml
Due: none

Add pyvista dynamic image scraper in doc build
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
