Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: "23.3.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.3.0]

  - repo: https://github.com/pycqa/isort
    rev: "5.12.0"
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: "6.1.0"
    hooks:
      - id: flake8
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock$'
  - repo: https://github.com/python-poetry/poetry/
    rev: "1.7.0"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      additional_dependencies: [toml]
      exclude: "^(tests/)|(examples/)"
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]
  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: ["--namespace-packages", "--explicit-package-bases"]

Fix vale errors
  doc/source/user_guide/howto/create_input_file.rst
Due: none

rename property modeling_plies of ModelingGroup to plies because the … (#440)
  doc/source/user_guide/howto/visualize_model.rst
  examples/001_basic_flat_plate.py
  examples/solve_class40.py
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_object_permanence.py
  tests/unittests/test_plot_utils.py
  tests/unittests/test_production_ply.py
  type_checks/plots.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 49d68449916c45a39fc6341d602cd3455e050b1a
  benchmarks/data.js
Due: none

Disable warning is error for quick builds, because some links from doc to gallery cannot resolved.
  .github/workflows/ci_cd.yml
Due: none

Update doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/create_input_file.rst
Due: none

Update src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/element_set.py
Due: mypy-code

Implement PR comments
  doc/source/user_guide/howto/create_input_file.rst
Due: none

Fix vale error
  doc/source/user_guide/howto/create_input_file.rst
Due: none

Complete docs for element set (#442)
  src/ansys/acp/core/_tree_objects/element_set.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 297257be55830218aa1ac953b60baeff27d3cb07
  benchmarks/data.js
Due: none

Document creation of input files. (#446)
  .github/workflows/ci_cd.yml
  doc/source/index.rst
  doc/source/intro.rst
  doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/index.rst
  examples/001_basic_flat_plate.py
  examples/003_sandwich_panel.py
  examples/004_basic_rules.py
  examples/005_advanced_rules.py
  examples/pymechanical/setup_acp_model.py
  src/ansys/acp/core/example_helpers.py
Due: mypy-code, mypy-tests

Merge doc changes with main
  doc/source/user_guide/howto/create_input_file.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for 76f6a28e446c07099ae692aa0df9819420a9900b
  benchmarks/data.js
Due: none

Update src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code

modeling_plies -> plies
  examples/005_thickness_definitions.py
Due: mypy-tests

Add unit_system kwarg to Workflow.from_cdb_file (#436)
  doc/source/user_guide/howto/create_input_file.rst
  examples/001_basic_flat_plate.py
  examples/003_sandwich_panel.py
  examples/004_basic_rules.py
  examples/005_advanced_rules.py
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_workflow.py
  tests/data/flat_plate_input.dat
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 66c33a64b4a9d274bd02b6568227af299eb1d440
  benchmarks/data.js
Due: none

Feat/thickness definition example (#439)
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/002_start_from_existing_project.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
  src/ansys/acp/core/example_helpers.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 5e88c1180f536941c546f7719782500ef767f403
  benchmarks/data.js
Due: none

Document loading an pyACP project in the ACP gui. Improve links.
  doc/source/intro.rst
  doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/index.rst
  doc/source/user_guide/howto/view_model_in_acp_gui.rst
  examples/001_basic_flat_plate.py
Due: mypy-tests

Improve description
  doc/source/user_guide/howto/view_model_in_acp_gui.rst
Due: none

Add rosette example Allow passing Optional VectorData objects to the plotter.
  doc/source/index.rst
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/006_rosettes.py
  src/ansys/acp/core/_plotter.py
Due: mypy-code, mypy-tests

Add direction definition example
  examples/007_direction_definitions.py
Due: mypy-tests

add optional check for grpc properties that they can be accessed only if the parent object is up-to-date
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  tests/unittests/test_cad_geometry.py
Due: mypy-code, mypy-tests

patch of pre-commit run
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  tests/unittests/test_cad_geometry.py
Due: mypy-code, mypy-tests

use StatusType instead of string value.
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
Due: mypy-code

Block accessing root_shapes if cad geometry is out-of-date (#450)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  tests/unittests/test_cad_geometry.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 913f1fb92b3995e8b9830e0035a984be35e09029
  benchmarks/data.js
Due: none

Clarify difference between stress/strain limits and eng constants
  doc/source/user_guide/concepts/material_property_sets.rst
Due: none

Define _GRPC_PROPERTIES in GrpcObjectBase
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_object_permanence.py
  type_checks/add_methods.py
  type_checks/create_methods.py
  type_checks/grpc_properties.py
  type_checks/mutable_mapping.py
  type_checks/plots.py
Due: mypy-code, mypy-tests

Define _GRPC_PROPERTIES in GrpcObjectBase (#452)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_object_permanence.py
  type_checks/add_methods.py
  type_checks/create_methods.py
  type_checks/grpc_properties.py
  type_checks/mutable_mapping.py
  type_checks/plots.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 74d843a45b500cf30507c2d5230966a0ba8e5b88
  benchmarks/data.js
Due: none

Revert renaming 'modeling_plies' to 'plies'
  doc/source/user_guide/howto/visualize_model.rst
  examples/001_basic_flat_plate.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
  examples/solve_class40.py
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_object_permanence.py
  tests/unittests/test_plot_utils.py
  tests/unittests/test_production_ply.py
  type_checks/plots.py
Due: mypy-code, mypy-tests
