Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Tweak docstring
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
Due: mypy-code

Create common implementation for edge property types
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
Due: mypy-code

Improve error when accessing unsupported mapping
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
Due: mypy-code

Skip ButtJointSequence tests on 242 server
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-tests

Implement ButtJointSequence objects
  doc/source/api/linked_object_definitions.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-code, mypy-tests

Update src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
Due: mypy-code

Add interface layer exposure
  doc/source/api/tree_objects.rst
  doc/source/index.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/interface_layer.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 76c6de81302f6f5ad0738ed1839aa618404b3650
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for 8fcae810a66eb21a2f9b1cef740f38dd3d39f5ee
  benchmarks/data.js
Due: none

Add required inputs for doc deploy
  .github/workflows/ci_cd.yml
Due: none

Replace GITHUB_TOKEN with PYANSYS_CI_BOT_TOKEN
  .github/workflows/ci_cd.yml
Due: none

Update AUTHORS and CONTRIBUTORS.md
  AUTHORS
  CONTRIBUTORS.md
Due: none

Update AUTHORS and CONTRIBUTORS.md (#618)
  AUTHORS
  CONTRIBUTORS.md
Due: none

add PyACP benchmarks (pytest) benchmark result for 4befd0e376868a3d140742b16472077895a2851a
  benchmarks/data.js
Due: none

[WIP] solid model plotting test
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/solid_model.py
Due: mypy-code

Add 'supported_since' keywords to the gRPC property helpers
  .github/workflows/ci_cd.yml
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/supported_since.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/conftest.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Adapt tests to stricter units handling
  tests/unittests/test_model.py
Due: mypy-tests

Add trailing newlines to edited docstring
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
Due: mypy-code

Allow marking 'supported_since' on class level
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/supported_since.py
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Fix docstring indentation
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
Due: mypy-code

Adapt tests to stricter units handling (#619)
  tests/unittests/test_model.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 29f3e8838e5783317aa4e0b592e4d51bf0363812
  benchmarks/data.js
Due: none

Add required inputs for doc deploy (#617)
  .github/workflows/ci_cd.yml
Due: none

add PyACP benchmarks (pytest) benchmark result for f8b93d76770b87318232d8d699a4642ddf06457f
  benchmarks/data.js
Due: none

Add 'supported_since' keywords to the gRPC property helpers (#603)
  .github/workflows/ci_cd.yml
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/supported_since.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/conftest.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for bc6aa18a9bed264d07584618ccfaf189ef93c3fb
  benchmarks/data.js
Due: none

Fix missing _SUPPORTED_SINCE
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 0a03f698809ac688811dc5d84b72826cfeaae179
  benchmarks/data.js
Due: none

Allow setting the `unit_system` attribute on the model.
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_model.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
