Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/psf/black
    rev: "25.1.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==25.1.0]

  - repo: https://github.com/pycqa/isort
    rev: "6.0.0"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.1.2"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock|pyproject\.toml|.*\.svg$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "2.1.1"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.5.1
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

Update ansys-tools-common reference
  poetry.lock
Due: none

Add material limitations to the docs (#917)
  doc/source/index.rst
Due: none

Bump dev version to 0.4.0.dev0 (#919)
  pyproject.toml
Due: none

Add dependabot cooldown period (#923)
  .github/dependabot.yml
Due: none

Fix class40 example units (#914)
  examples/workflows/02-advanced-pymapdl-workflow.py
Due: mypy-tests

Adapt contributing file
  CONTRIBUTING.md
  doc/source/contributing.rst
Due: none

CHORE: Update missing or outdated files (#911)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  doc/source/contributing.rst
Due: none

Adapt location of type ignore statement to mypy upgrade
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
Due: mypy-code

Use released ansys-tools-common version
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/direct.py
Due: mypy-code

Use ansys.tools.common entrypoint
  pyproject.toml
Due: none

Use ansys-tools-common for launcher (#921)
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/connect.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_server/launch.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Bump version to 0.3.1
  poetry.lock
  pyproject.toml
Due: none

add PyACP benchmarks (pytest) benchmark result for b24a9caaaa9a7663c60998ca25f0961217471681
  benchmarks/data.js
Due: none

Set DPF_DEFAULT_GRPC_MODE for docs
  .github/workflows/ci_cd.yml
  docker-compose/docker-compose-extras.yaml
Due: none

Update main Python version to 3.13
  .github/workflows/ci_cd.yml
Due: none

Upgrade Sphinx, drop Python 3.10 support for the doc build
  README.rst
  poetry.lock
  pyproject.toml
Due: none

Add support for Python 3.14
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  poetry.lock
  pyproject.toml
Due: none

Upgrade poetry lockfile
  poetry.lock
Due: none

Remove inexistent __all__ entry
  src/ansys/acp/core/__init__.py
Due: mypy-code

Regenerate poetry lockfile
  poetry.lock
Due: none

Set PYMAPDL_GRPC_TRANSPORT env variable in CI/CD doc build
  .github/workflows/ci_cd.yml
Due: none

chore: update CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Due: none

chore: update CONTRIBUTING.md file
  CONTRIBUTING.md
Due: none

Apply suggestion from @greschd
  CONTRIBUTING.md
Due: none

chore: Update missing or outdated files (#942)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

Regenerate lockfile
  poetry.lock
Due: none

Fix pre-commit errors
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  pyproject.toml
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code, mypy-tests

Fix mypy checks
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code, mypy-tests

Update pre-commit hooks
  .pre-commit-config.yaml
  examples/modeling_features/003-simple-selection-rules.py
  examples/modeling_features/004-advanced-selection-rules.py
  examples/modeling_features/006-layup-thickness-definitions.py
  examples/modeling_features/020-solid_model.py
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/cut_off_selection_rule.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_utils/typing_helper.py
  src/ansys/acp/core/extras/example_helpers.py
  src/ansys/acp/core/mechanical_integration_helpers.py
  tests/conftest.py
  tests/unittests/test_feature_tree.py
  tests/unittests/test_tree_printer.py
Due: mypy-code, mypy-tests

doc: update announcement
  version/dev/announcement.html
  version/dev/api/announcement.html
  version/dev/examples/announcement.html
  version/dev/examples/modeling_features/announcement.html
  version/dev/examples/use_cases/announcement.html
  version/dev/examples/workflows/announcement.html
  version/dev/user_guide/announcement.html
  version/dev/user_guide/concepts/announcement.html
  version/dev/user_guide/howto/announcement.html
Due: none

Pin action to commit SHA
  .github/workflows/ci_cd.yml
Due: none

Add compatibility for newer protobuf versions
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_helpers.py
Due: mypy-code

Remove unused type ignore comments
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code, mypy-tests
