Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Finish tree printer
  doc/source/api/workflow.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_model_printer.py
  tests/unittests/test_tree_printer.py
Due: mypy-code, mypy-tests

Add tests for workflow
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Add type checks for plots
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  type_checks/plots.py
Due: mypy-code

Return labels the same way as other data. Check that declared plot data matches the runtime type.
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  tests/unittests/test_model.py
  tests/unittests/test_modeling_ply.py
  type_checks/plots.py
Due: mypy-code, mypy-tests

Convert unit systems.
  README.rst
  doc/source/api/workflow.rst
  examples/001_basic_flat_plate.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_utils/example_helpers.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code, mypy-tests

Delay imports from dpf core
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Remove obsolete local example
  doc/source/examples/others/local_pyacp_executable.rst
Due: none

Remove obsolete local example
  doc/source/examples/index.rst
Due: none

Remove obsolete local example
  doc/source/images/class40_grpc_irf.png
  doc/source/images/class40_grpc_usum.png
Due: none

Fix docstring
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Add plotter function
  examples/001_basic_flat_plate.py
  src/ansys/acp/core/_plotter.py
Due: mypy-code, mypy-tests

Avoid modifications of input files and fix doc
  doc/source/examples/index.rst
  tests/conftest.py
  tests/unittests/test_model.py
Due: mypy-tests

Remove obsolete input file
  examples/data/flat_plate/flat_plate_input.dat
Due: none

Implement PR comments
  examples/001_basic_flat_plate.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code, mypy-tests

Improve tree printer
  src/ansys/acp/core/_model_printer.py
  tests/unittests/test_tree_printer.py
Due: mypy-code, mypy-tests

Update src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Fix renames
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Better import error for optional dependencies
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Fix renames
  examples/002_start_from_existing_project.py
Due: mypy-tests

Fix examples title
  doc/source/examples/index.rst
Due: none

Remove note on docker containers from example readme
  examples/README.rst
Due: none

Close open dpf streams by setting composite model to None
  examples/001_basic_flat_plate.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for cc7c17d6a1919e7c00d76568268fea79ae85afa2
  benchmarks/data.js
Due: none

Merge client and server functionality
  README.rst
  doc/source/api/client.rst
  doc/source/api/index.rst
  doc/source/api/server.rst
  examples/001_basic_flat_plate.py
  examples/002_start_from_existing_project.py
  examples/pymechanical/setup_acp_model.py
  examples/solve_class40.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_server/launch.py
  src/ansys/acp/core/_workflow.py
  tests/benchmarks/conftest.py
  tests/benchmarks/test_class40.py
  tests/conftest.py
  tests/unittests/test_acp_instance.py
  tests/unittests/test_client.py
  tests/unittests/test_model.py
  tests/unittests/test_tree_printer.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Run black
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Merge client and server functionality (#359)
  README.rst
  doc/source/api/client.rst
  doc/source/api/index.rst
  doc/source/api/server.rst
  examples/001_basic_flat_plate.py
  examples/002_start_from_existing_project.py
  examples/pymechanical/setup_acp_model.py
  examples/solve_class40.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_server/launch.py
  src/ansys/acp/core/_workflow.py
  tests/benchmarks/conftest.py
  tests/benchmarks/test_class40.py
  tests/conftest.py
  tests/unittests/test_acp_instance.py
  tests/unittests/test_client.py
  tests/unittests/test_model.py
  tests/unittests/test_tree_printer.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Add more objects to RST files
  doc/source/api/index.rst
  doc/source/api/linked_object_definitions.rst
  doc/source/api/mesh_data.rst
  doc/source/api/other_types.rst
  doc/source/api/tree_objects.rst
Due: none

Use parallel sphinx-build on Linux
  doc/Makefile
Due: none

Expose all public objects at the module root
  doc/source/api/material_property_sets.rst
  examples/001_basic_flat_plate.py
  examples/pymechanical/setup_acp_model.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/material/__init__.py
  tests/conftest.py
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_cutoff_selection_rule.py
  tests/unittests/test_cylindrical_selection_rule.py
  tests/unittests/test_edge_set.py
  tests/unittests/test_fabric.py
  tests/unittests/test_geometrical_selection_rule.py
  tests/unittests/test_lookup_table_3d.py
  tests/unittests/test_lookup_table_column.py
  tests/unittests/test_material.py
  tests/unittests/test_model.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_oriented_selection_set.py
  tests/unittests/test_parallel_selection_rule.py
  tests/unittests/test_production_ply.py
  tests/unittests/test_sensor.py
  tests/unittests/test_spherical_selection_rule.py
  tests/unittests/test_stackup.py
  tests/unittests/test_sublaminate.py
  tests/unittests/test_tube_selection_rule.py
  tests/unittests/test_variable_offset_selection_rule.py
  tests/unittests/test_virtual_geometry.py
Due: mypy-code, mypy-tests

Sort existing objects in doc
  doc/source/api/material_property_sets.rst
  doc/source/api/server.rst
  doc/source/api/tree_objects.rst
Due: none

Fix sphinx_autodoc_typehints with import workaround
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 1bb85ddabcb6d6623edf74249287816a8a723872
  benchmarks/data.js
Due: none

Run isort
  examples/001_basic_flat_plate.py
Due: mypy-tests

Add property to get all models loaded on the server
  src/ansys/acp/core/_server/acp_instance.py
  tests/unittests/test_acp_instance.py
Due: mypy-code, mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
