Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Add a `connect_local` launch mode (#860)
  doc/source/api/server.rst
  doc/source/user_guide/howto/launch_configuration.rst
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/connect.py
  src/ansys/acp/core/_server/launch.py
Due: mypy-code

Update pyproject.toml
  pyproject.toml
Due: none

Bump the version to 0.3.0.dev0 (#856)
  pyproject.toml
Due: none

add PyACP benchmarks (pytest) benchmark result for 2f4e4d607db29a7fb58154da96ad859b44c51026
  benchmarks/data.js
Due: none

Fix some 3D coordinate type hints
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
Due: mypy-code

Add SECURITY.md file
  SECURITY.md
Due: none

Allow stackup thickness and area weight to be None
  src/ansys/acp/core/_tree_objects/stackup.py
  tests/unittests/test_stackup.py
Due: mypy-code, mypy-tests

Update poetry lockfile
  poetry.lock
Due: none

Exclude numpydoc 1.9.0
  poetry.lock
  pyproject.toml
Due: none

Update poetry lockfile (#868)
  poetry.lock
  pyproject.toml
Due: none

Explicitly listen only on localhost / 127.0.0.1 when launching the server
  docker-compose/docker-compose-benchmark.yaml
  docker-compose/docker-compose-extras.yaml
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker-compose.yaml
Due: mypy-code

Explicitly listen only on localhost / 127.0.0.1 when launching the server (#880)
  docker-compose/docker-compose-benchmark.yaml
  docker-compose/docker-compose-extras.yaml
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker-compose.yaml
Due: mypy-code

Update to API version 0.3.1
  poetry.lock
  pyproject.toml
Due: none

Allow stackup thickness and area weight to be None (#873)
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_tree_objects/stackup.py
  tests/unittests/test_stackup.py
Due: mypy-code, mypy-tests

Bump version to 0.2.1
  pyproject.toml
Due: none

add PyACP benchmarks (pytest) benchmark result for 6fe19abce76876715b1a6a28a82754ea1fe65e76
  benchmarks/data.js
Due: none

Run CI with patched container versions
  .github/workflows/ci_cd.yml
  src/ansys/acp/core/_server/docker-compose.yaml
Due: none

Adapt benchmark docker-compose yaml
  docker-compose/docker-compose-benchmark.yaml
Due: none

Revert change to fail-fast option
  .github/workflows/ci_cd.yml
Due: none

Backport PR #884: Run CI with patched container versions
  .github/workflows/ci_cd.yml
  docker-compose/docker-compose-benchmark.yaml
  src/ansys/acp/core/_server/docker-compose.yaml
Due: none

Fix modeling ply clear() method (#808)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
Due: mypy-code

Use build-wheelhouse v10
  .github/workflows/ci_cd.yml
Due: none

Partially update poetry lockfile
  poetry.lock
Due: none

Add graphics extra to PyMAPDL requirement
  poetry.lock
  pyproject.toml
Due: none

Bump version to 0.1.1
  pyproject.toml
Due: none

Fix the release-github action
  .github/workflows/ci_cd.yml
Due: none

Merge pull request #886 from ansys/fix/release_github_action
  .github/workflows/ci_cd.yml
Due: none

Remove now-unused type ignore comment
  src/ansys/acp/core/_plotter.py
Due: mypy-code

Check unit consistency in recursive_copy
  src/ansys/acp/core/_recursive_copy.py
  tests/unittests/test_recursive_copy.py
Due: mypy-code, mypy-tests

Match unit systems in copy_objects.rst
  doc/source/user_guide/howto/copy_objects.rst
Due: none

Disable recursive_copy units test for <25.1
  tests/unittests/test_recursive_copy.py
Due: mypy-tests

Use main branch of example repository
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code

Switch to pypa/gh-action-pypi-publish for releasing to PyPI
  .github/workflows/ci_cd.yml
Due: none

Add environment and permissions to release step
  .github/workflows/ci_cd.yml
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
