Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py38-plus]
- repo: https://github.com/psf/black
  rev: '22.12.0'
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: '5.12.0'
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: '6.0.0'
  hooks:
  - id: flake8
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
- repo: https://github.com/python-poetry/poetry/
  rev: '1.3.0'
  hooks:
  - id: poetry-check
    name: "poetry: check pyproject.toml syntax"
  # We're slightly abusing the 'poetry-lock' hook, by running
  # 'poetry lock --check' instead of 'poetry lock'
  - id: poetry-lock
    name: "poetry: check poetry.lock consistency"
    args: ['--check']
    files: '^(pyproject\.toml|poetry\.lock)$'
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
- repo: https://github.com/kynan/nbstripout
  rev: 0.6.1
  hooks:
  - id: nbstripout
    args: ["--extra-keys", "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode"]
- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|^(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)|^(examples/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

DOC: update development documentation 9e27bca9dbc01934a208a0db6525971d18623f3d
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation 25f880170e835b5fbe7f29fda5abaf9f931f7fd5
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation 027e5902479fbcc26f61b265d56cef0b8bfcda85
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Update black version in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Update dev and test dependencies
  poetry.lock
  pyproject.toml
Due: none

Update pre-commit and dev dependencies (#174)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

DOC: update development documentation ce65d49cfebc95131c13076d84a2be02441785c8
  version/dev/_images/sphx_glr_solve_class40_001.png
  version/dev/_images/sphx_glr_solve_class40_thumb.png
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Adapt to repository move to ansys-internal
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  README.rst
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/docker-compose.yaml
  src/ansys/acp/core/_server/docker_compose.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Use github.actor for GHCR login
  .github/workflows/ci_cd.yml
Due: none

Update lockfile
  poetry.lock
Due: none

Update docker image name
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  src/ansys/acp/core/_server/docker-compose.yaml
  src/ansys/acp/core/_server/docker_compose.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Revert to PYANSYS_CI_BOT_PACKAGE_TOKEN for docs build
  .github/workflows/ci_cd.yml
Due: none

Adapt package cleaning action
  .github/workflows/package_cleanup.yml
Due: none

Fix TODO in README
  README.rst
Due: none

Adapt to repository move to ansys-internal (#184)
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  .github/workflows/package_cleanup.yml
  README.rst
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/docker-compose.yaml
  src/ansys/acp/core/_server/docker_compose.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Remove poetry config workaround (#168)
  .github/workflows/ci_cd.yml
  README.rst
Due: none

Upgrade Sphinx and ansys-sphinx-theme
  poetry.lock
  pyproject.toml
Due: none

Upgrade Sphinx and ansys-sphinx-theme (#175)
  poetry.lock
  pyproject.toml
Due: none

Add compose_file flag to launcher in CI
  .github/workflows/ci_cd.yml
Due: none

Add note about WSL.
  dev_utils/connection_test.ipynb
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Add Dockerfile and example notebook for network testing
  .gitattributes
  dev_utils/connection_test.ipynb
  docker-compose/docker-compose-connectiontest.yaml
  docker/ConnectionTest.Dockerfile
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_server/launch.py
Due: mypy-code

Move docker/ to dockerfiles/ to avoid mypy confusion
  dev_utils/connection_test.ipynb
  dockerfiles/ConnectionTest.Dockerfile
Due: none

Use new pyacp image location
  docker-compose/docker-compose-connectiontest.yaml
  dockerfiles/ConnectionTest.Dockerfile
Due: none

Add option to specify env vars in docker-compose launch
  dev_utils/connection_test.ipynb
  poetry.lock
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Remove the --compose_file=default flag from CI/CD.
  .github/workflows/ci_cd.yml
Due: none

Remove cast that is no longer needed
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
Due: mypy-code

Limit network also for ingress
  docker-compose/docker-compose-connectiontest.yaml
  dockerfiles/ConnectionTest.Dockerfile
Due: none

Add test notebook for slow network performance (#176)
  .gitattributes
  dev_utils/connection_test.ipynb
  docker-compose/docker-compose-connectiontest.yaml
  dockerfiles/ConnectionTest.Dockerfile
  poetry.lock
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_server/launch.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
Due: mypy-code

[WIP] add performance benchmarks
  .github/workflows/benchmark.yml
  dev_utils/connection_test.ipynb
  docker-compose/docker-compose-benchmark.yaml
Due: none

[TMP COMMIT]
  .github/workflows/benchmark.yml
Due: none

DOC: update development documentation 532323593116cbb89fb80b7f08c56a5f862171fa
  version/dev/.buildinfo
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

add PyACP benchmarks (pytest) benchmark result for 6238060603cdd651c6e74e59040744ba9d4a16f6
  benchmarks/data.js
  benchmarks/index.html
Due: none

add PyACP benchmarks (pytest) benchmark result for 6238060603cdd651c6e74e59040744ba9d4a16f6
  benchmarks/data.js
Due: none

Use ansys.tools.path to get install location
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/direct.py
Due: mypy-code

Adapt exception type
  src/ansys/acp/core/_server/direct.py
Due: mypy-code

Use ansys-tools-path to get installer location (#191)
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/direct.py
Due: mypy-code
