Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Add Oriented Selection Set with link to Element Sets (#74)
  .pre-commit-config.yaml
  examples/test.ipynb
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_grpc_helpers/mapping.py
  src/ansys/acp/core/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/rosette.py
  tests/test_linked_object_list.py
  tests/test_oriented_selection_set.py
Due: mypy-code, mypy-tests

add material and fabric (unfinished state)
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/material.py
Due: mypy-code

comment Material property of Fabric because linked object as property is not supported yet.
  src/ansys/acp/core/_tree_objects/fabric.py
Due: mypy-code

updating poetry.lock
  poetry.lock
Due: none

pre-commit checks
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/material.py
Due: mypy-code

fix wrong import statement
  src/ansys/acp/core/_tree_objects/fabric.py
Due: mypy-code

First implementation that uses hardcoded fabric as material
  poetry.lock
  src/ansys/acp/core/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/object_registry.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/rosette.py
  tests/test_modeling_ply.py
  tests/test_oriented_selection_set.py
Due: mypy-code, mypy-tests

Add create method for fabrics and test assignemnt of new fabric
  src/ansys/acp/core/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/material.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/test_modeling_ply.py
Due: mypy-code, mypy-tests

add unit test for the Material class
  tests/test_material.py
Due: mypy-tests

Add 'save_analysis_model' method to 'Model'
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Implement PR comments
  src/ansys/acp/core/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/object_registry.py
Due: mypy-code

add Fabric test handle the case if linked object property is None
  src/ansys/acp/core/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/fabric.py
  tests/test_fabric.py
Due: mypy-code, mypy-tests

Unit tests of Fabrics are passing
  src/ansys/acp/core/_grpc_helpers/property_helper.py
Due: mypy-code

material was missing in tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
Due: mypy-code

pre-commit hooks
  src/ansys/acp/core/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/fabric.py
  tests/test_fabric.py
  tests/test_material.py
Due: mypy-code, mypy-tests

pre-commit hooks and rename material property of ModelingPly to ply_material
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  tests/test_modeling_ply.py
Due: mypy-code, mypy-tests

Add draft for class40 example notebook
  examples/class40/class40.cdb
  examples/class40/results/.gitignore
  examples/class40/solve_class40.ipynb
  poetry.lock
  pyproject.toml
Due: none

Update lock file
  poetry.lock
Due: none

More modeling ply properties
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  tests/test_modeling_ply.py
Due: mypy-code, mypy-tests

Expose extended OSS properties
  src/ansys/acp/core/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  tests/test_linked_object_list.py
  tests/test_oriented_selection_set.py
Due: mypy-code, mypy-tests

fix modeling_ply_test
  tests/test_modeling_ply.py
Due: mypy-tests

Update poetry lock file
  poetry.lock
Due: none

Use string as default argument instead of enum value
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
Due: mypy-code

Expose extended OSS properties (#80)
  poetry.lock
  src/ansys/acp/core/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  tests/test_linked_object_list.py
  tests/test_oriented_selection_set.py
Due: mypy-code, mypy-tests

update class40 example
  examples/class40/solve_class40.ipynb
Due: none

Deploying to gh-pages from @ pyansys/pyacp-private@a5088c36397030c0d6719199711a5352f1e3dc54 🚀
  api/_autosummary/ansys.acp.core.Model.create_oriented_selection_set.html
  searchindex.js
Due: none

update /class40/solve_class40.ipynb
  examples/class40/solve_class40.ipynb
  poetry.lock
Due: none

Add basic test for 'save_analysis_model'
  .pre-commit-config.yaml
  tests/data/minimal_model_2.cdb
  tests/test_model.py
Due: mypy-tests

Add 'save_analysis_model' method to the Model (#77)
  .pre-commit-config.yaml
  poetry.lock
  src/ansys/acp/core/_tree_objects/model.py
  tests/data/minimal_model_2.cdb
  tests/test_model.py
Due: mypy-code, mypy-tests

update poetry.lock
  poetry.lock
Due: none

Add OSS to API Reference
  doc/source/api/index.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
Due: mypy-code

Add OSS to API Reference (#81)
  doc/source/api/index.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
Due: mypy-code

implement suggestions from the PR review
  src/ansys/acp/core/_grpc_helpers/property_helper.py
Due: mypy-code

pre-commit checks
  src/ansys/acp/core/__init__.py
Due: mypy-code

add material and fabric (#78)
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/material.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/object_registry.py
  src/ansys/acp/core/_tree_objects/rosette.py
  tests/test_fabric.py
  tests/test_material.py
  tests/test_modeling_ply.py
  tests/test_oriented_selection_set.py
Due: mypy-code, mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
