Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Update docker-compose launch
  pyproject.toml
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker-compose-base.yaml
  src/ansys/acp/core/_server/docker-compose-insecure.yaml
  src/ansys/acp/core/_server/docker-compose-mtls.yaml
  src/ansys/acp/core/_server/docker_compose.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Fix benchmark compose file
  docker-compose/docker-compose-benchmark.yaml
Due: none

Update connect launch mode
  src/ansys/acp/core/_server/connect.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Update benchmark test config
  docker-compose/docker-compose-benchmark.yaml
  src/ansys/acp/core/_server/docker-compose-mtls.yaml
  tests/benchmarks/conftest.py
Due: mypy-tests

Fix pre-commit errors
  .github/workflows/ci_cd.yml
  src/ansys/acp/core/_server/connect.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
  tests/benchmarks/conftest.py
Due: mypy-code, mypy-tests

Adapt to product-launcher changes
  src/ansys/acp/core/_server/connect.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Ignore transport_options mypy error
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Update connect_local launch mode, implement certs_dir default for docker_compose
  src/ansys/acp/core/_server/connect.py
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Switch to github.actor for pulling ACP and filetransfer images in doc build
  .github/workflows/ci_cd.yml
Due: none

Fix transport_mode flag for launcher config
  .github/workflows/ci_cd.yml
Due: none

Improve launcher config docs
  src/ansys/acp/core/_server/connect.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Improve DirectLaunchConfig docstrings
  src/ansys/acp/core/_server/direct.py
Due: mypy-code

Run docker pull before building HTML docs
  .github/workflows/ci_cd.yml
Due: none

Improve transport mode documentation
  doc/source/user_guide/howto/launch_configuration.rst
  doc/source/user_guide/security_considerations.rst
  src/ansys/acp/core/_server/connect.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Fix ansys-launcher config in CI
  .github/workflows/ci_cd.yml
Due: none

Add env var lookup for certs_dir
  .github/workflows/ci_cd.yml
  doc/source/user_guide/compatibility.rst
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Capture errors when starting docker compose
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Add back missing header line
  doc/source/user_guide/howto/launch_configuration.rst
Due: none

Allow remote access to MAPDL in docker-compose
  docker-compose/docker-compose-extras.yaml
Due: none

Apply suggestions from code review
  doc/source/user_guide/compatibility.rst
  doc/source/user_guide/howto/launch_configuration.rst
  doc/source/user_guide/security_considerations.rst
  src/ansys/acp/core/_server/direct.py
Due: mypy-code

Fix MAPDL env variables in docker-compose
  docker-compose/docker-compose-extras.yaml
Due: none

Fix some accidental edits
  doc/source/user_guide/howto/launch_configuration.rst
Due: none

Run MAPDL with insecure transport in docker-compose
  docker-compose/docker-compose-extras.yaml
Due: none

Slightly adapt wording
  doc/source/user_guide/compatibility.rst
Due: none

Remove duplicate sections
  doc/source/user_guide/howto/launch_configuration.rst
Due: none

Tweak UDS doc info
  doc/source/user_guide/howto/launch_configuration.rst
Due: none

Revert image owner and name
  .github/workflows/ci_cd.yml
  src/ansys/acp/core/_server/docker-compose-insecure.yaml
  src/ansys/acp/core/_server/docker-compose-mtls.yaml
Due: none

Fix 2025R2SP3 tag
  .github/workflows/ci_cd.yml
Due: none

Add security comment to check_call
  src/ansys/acp/core/_server/direct.py
Due: mypy-code

Remove redundant GHCR login
  .github/workflows/ci_cd.yml
Due: none

Implement gRPC transport options (#918)
  .github/workflows/ci_cd.yml
  doc/source/user_guide/compatibility.rst
  doc/source/user_guide/howto/launch_configuration.rst
  doc/source/user_guide/security_considerations.rst
  docker-compose/docker-compose-base.yaml
  docker-compose/docker-compose-extras.yaml
  docker-compose/docker-compose-insecure.yaml
  docker-compose/docker-compose-mtls.yaml
  docker-compose/docker-compose.yaml
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/connect.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker-compose-insecure.yaml
  src/ansys/acp/core/_server/docker-compose-mtls.yaml
  src/ansys/acp/core/_server/docker_compose.py
  tests/benchmarks/conftest.py
  tests/conftest.py
  tests/insecure_certs/WARNING.md
  tests/insecure_certs/ca.crt
  tests/insecure_certs/ca.key
  tests/insecure_certs/client.crt
  tests/insecure_certs/client.key
  tests/insecure_certs/server.crt
  tests/insecure_certs/server.key
Due: mypy-code, mypy-tests

Bump version to 0.3.0
  pyproject.toml
Due: none

Bump dev version to 0.4.0.dev0
  pyproject.toml
Due: none

[WIP] Use ansys-tools-common for launcher
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/connect.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_server/launch.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Fix compatibilty when both product-launcher and tools-common are installed
  poetry.lock
  pyproject.toml
Due: none

Switch to ProductInstanceError for launcher / product instance exceptions
  src/ansys/acp/core/_server/acp_instance.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Add intersphinx entry
  doc/source/conf.py
Due: none

Use qualified name in raises sections
  src/ansys/acp/core/_server/acp_instance.py
Due: mypy-code

Add dependabot cooldown period
  .github/dependabot.yml
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
