Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/psf/black
    rev: "25.1.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==25.1.0]

  - repo: https://github.com/pycqa/isort
    rev: "6.0.0"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.1.2"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock|pyproject\.toml|.*\.svg$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "2.1.1"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.5.1
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

Add tests for run / list_generated_objects / delete_generated_objects
  tests/unittests/test_winding_wizard.py
Due: mypy-tests

Add WindingWizard object (#1002)
  doc/source/api/linked_object_definitions.rst
  doc/source/api/tree_objects.rst
  doc/source/user_guide/compatibility.rst
  doc/source/user_guide/concepts/feature_tree.rst
  doc/source/user_guide/howto/print_model.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/winding_wizard.py
  tests/unittests/test_feature_tree.py
  tests/unittests/test_winding_wizard.py
Due: mypy-code, mypy-tests

Fix tests for old server versions
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-tests

Fix tests
  tests/conftest.py
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-tests

Update ansys-api-acp to 0.5.0
  pyproject.toml
  uv.lock
Due: none

add read-only linked object list
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  tests/unittests/test_butt_joint_sequence.py
  tests/unittests/test_read_only_linked_object_list.py
Due: mypy-code, mypy-tests

Fix version guard on test
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-tests

Improve docstrings
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
Due: mypy-code

WIP add butt joint sequence properties
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-code, mypy-tests

Fix tests
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-tests

Update tests/unittests/test_read_only_linked_object_list.py
  tests/unittests/test_read_only_linked_object_list.py
Due: mypy-tests

Review and fix code
  doc/source/api/internal.rst
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  tests/unittests/test_butt_joint_sequence.py
  tests/unittests/test_read_only_linked_object_list.py
Due: mypy-code, mypy-tests

Update docs
  doc/source/api/enum_types.rst
  doc/source/user_guide/compatibility.rst
Due: none

Update direct and transitive dependencies in uv.lock
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

Expose automatic butt-joint sequence mode (#1026)
  doc/source/api/enum_types.rst
  doc/source/api/internal.rst
  doc/source/user_guide/compatibility.rst
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  tests/conftest.py
  tests/unittests/test_butt_joint_sequence.py
  tests/unittests/test_read_only_linked_object_list.py
  uv.lock
Due: mypy-code, mypy-tests

Update direct and transitive dependencies in uv.lock (#1025)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

Bump version to 0.4.0
  pyproject.toml
  uv.lock
Due: none

Bump dev version to 0.4.1.dev0
  pyproject.toml
  uv.lock
Due: none

Bump dev version to 0.4.1.dev0 (#1030)
  pyproject.toml
  uv.lock
Due: none

Improve nightly test from wheel
  .github/workflows/nightly.yml
Due: none

Fix hatch include
  pyproject.toml
Due: none

Bump version to 0.4.1
  pyproject.toml
  uv.lock
Due: none

Fix packaging (#1031)
  .github/workflows/nightly.yml
  pyproject.toml
  uv.lock
Due: none

Fix packaging (#1032)
  .github/workflows/nightly.yml
  pyproject.toml
Due: none

doc: update announcement
  version/dev/announcement.html
  version/dev/api/announcement.html
  version/dev/examples/announcement.html
  version/dev/examples/modeling_features/announcement.html
  version/dev/examples/use_cases/announcement.html
  version/dev/examples/workflows/announcement.html
  version/dev/user_guide/announcement.html
  version/dev/user_guide/concepts/announcement.html
  version/dev/user_guide/howto/announcement.html
Due: none
