Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
- repo: https://gitlab.com/PyCQA/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
- repo: https://github.com/kynan/nbstripout
  rev: 0.5.0
  hooks:
  - id: nbstripout
    args: ["--extra-keys", "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode"]
- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

update documentation
  doc/source/examples/index.rst
  doc/source/examples/use_grpc_server_instead_of_docker.rst
  doc/source/images/class40_grpc_irf.png
  doc/source/images/class40_grpc_usum.png
  examples/solve_class40.py
Due: mypy-code

add codespell config file
  .codespellrc
  .pre-commit-config.yaml
Due: none

set dependencies between docker containers
  docker/docker-compose-extras.yaml
Due: none

set dependency between containers (start up order)
  docker/docker-compose-extras.yaml
Due: none

add debug output
  examples/solve_class40.py
Due: mypy-code

copy generated files between docker containers instead of sharing a volume
  doc/source/examples/use_grpc_server_instead_of_docker.rst
  docker/docker-compose-extras.yaml
  examples/solve_class40.py
Due: mypy-code

run pre-commit hooks
  examples/solve_class40.py
Due: mypy-code

fix documentation
  doc/source/examples/index.rst
  doc/source/examples/others/use_grpc_server.rst
Due: none

fix documentation
  doc/source/examples/index.rst
  doc/source/examples/others/use_grpc_server.rst
  pyproject.toml
Due: none

Implement comments from the PR review.
  doc/source/examples/index.rst
  doc/source/examples/others/local_pyacp_executable.rst
Due: none

Update examples/solve_class40.py
  examples/solve_class40.py
Due: mypy-code

Update examples/README.rst
  examples/README.rst
Due: none

basic example with composite post-processing through dpf composites (#105)
  .codespellrc
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/source/examples/index.rst
  doc/source/examples/others/local_pyacp_executable.rst
  doc/source/images/class40_grpc_irf.png
  doc/source/images/class40_grpc_usum.png
  docker/docker-compose-extras.yaml
  examples/README.rst
  examples/data/class40/class40.cdb
  examples/solve_class40.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/material.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/test_model.py
Due: mypy-code, mypy-tests

Use pdf-composites image tag 231
  docker/docker-compose-extras.yaml
Due: none

Use pdf-composites image tag 231 (#108)
  docker/docker-compose-extras.yaml
Due: none

Disable nightly image prune
  .github/workflows/prune_containers.yml
Due: none

Deploying to gh-pages from @ pyansys/pyacp-private@e4a0bdf8f8de1753b6efa4dd38118da2e832ea9c 🚀
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/solve_class40.rst.txt
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/solve_class40.html
  searchindex.js
Due: none

Upgrade setup-python action to v4
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
Due: none

Move poetry config change down
  .github/workflows/nightly.yml
Due: none

Remove prune_containers workflow
  .github/workflows/nightly.yml
  .github/workflows/prune_containers.yml
Due: none

Upgrade docker/login-action to v2
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
Due: none

Use virtualenv in nightly workflow
  .github/workflows/nightly.yml
Due: none

Switch working directory for tests to root
  .github/workflows/nightly.yml
Due: none

Fix nightly build pipeline (#109)
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  .github/workflows/prune_containers.yml
Due: none

Deploying to gh-pages from @ pyansys/pyacp-private@e7127b3c3aa40f185072a53d597c186bd751b893 🚀
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/solve_class40.rst.txt
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/solve_class40.html
  searchindex.js
Due: none

Switch docker laucher to use Docker Python SDK
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/docker.py
  src/ansys/acp/core/_server/docker_container.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Rename server/launch classes
  pyproject.toml
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker.py
  src/ansys/acp/core/_server/launch.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Rename docker directory to docker-compose
  .github/workflows/ci_cd.yml
  README.rst
  docker-compose/docker-compose-extras.yaml
  docker-compose/docker-compose.yaml
  examples/README.rst
  pyproject.toml
Due: none

Fix type checks, move _find_free_ports to common library
  src/ansys/acp/core/_server/__init__.py
Due: mypy-code

Split apart server code
  doc/source/api/server.rst
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/launch.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Add docker launcher
  pyproject.toml
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/docker.py
  tests/conftest.py
Due: mypy-code, mypy-tests

[WIP] Use local PIM launcher
  src/ansys/acp/core/_server/__init__.py
Due: mypy-code

Define entry point for direct launcher
  pyproject.toml
Due: none

Add implementation for docker-compose launcher
  pyproject.toml
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Fix import of Protocol
  poetry.lock
  src/ansys/acp/core/_server/common.py
Due: mypy-code
