Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Fix title in PyMAPDL (basic) workflow example
  examples/workflows/01-pymapdl-workflow.py
Due: mypy-tests

Always orphan the gh-pages branch (#781)
  .github/workflows/ci_cd.yml
Due: none

Update pre-commit hooks, use poetry 2.x (#779)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  README.rst
  dockerfiles/DirectLaunchTest.Dockerfile
  pyproject.toml
Due: none

Add retry to launch_acp in benchmark tests
  tests/benchmarks/conftest.py
Due: mypy-tests

Edit documentation build instructions
  README.rst
  doc/create_doc_windows.ps1
Due: none

Use latest DPF docker container in doc build
  doc/create_doc_windows.ps1
  docker-compose/docker-compose-extras.yaml
Due: none

Enable sensor by solid model
  src/ansys/acp/core/_tree_objects/sensor.py
  tests/unittests/test_sensor.py
Due: mypy-code, mypy-tests

Update sensor example
  examples/modeling_features/007-sensor.py
Due: mypy-tests

Handle None values in sensor example
  examples/modeling_features/007-sensor.py
Due: mypy-tests

Skip sensor by solid model test on older server versions
  tests/unittests/test_sensor.py
Due: mypy-tests

Add retry to launch_acp in benchmark tests (#783)
  tests/benchmarks/conftest.py
Due: mypy-tests

Update README.rst
  README.rst
Due: none

Edit documentation build instructions (#784)
  README.rst
  doc/create_doc_windows.ps1
  docker-compose/docker-compose-extras.yaml
Due: none

Remove limitations entry for sensor by solid model
  doc/source/index.rst
Due: none

Fix title in PyMAPDL (basic) workflow example (#782)
  examples/workflows/01-pymapdl-workflow.py
Due: mypy-tests

Ignore errors when paths are invalid in test_refresh_inexistent_path
  tests/unittests/test_imported_solid_model.py
Due: mypy-tests

Enable sensor by solid model (#788)
  doc/source/index.rst
  examples/modeling_features/007-sensor.py
  src/ansys/acp/core/_tree_objects/sensor.py
  tests/unittests/test_imported_solid_model.py
  tests/unittests/test_sensor.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for d66a2a9decf355fc8cfd070c8c900224df4d5e05
  benchmarks/data.js
Due: none

Add missing analysis ply access on solid model entities
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/layup_mapping_object.py
  src/ansys/acp/core/_tree_objects/solid_model.py
Due: mypy-code

Add tests for analysis ply collections
  tests/data/SolidModel.1.cdb
  tests/data/minimal_complete_model.acph5
  tests/unittests/test_analysis_ply.py
Due: mypy-tests

Add skip condition
  tests/unittests/test_analysis_ply.py
Due: mypy-tests

Add test for interface layer and imported analysis ply access
  tests/unittests/test_imported_analysis_ply.py
  tests/unittests/test_interface_layer.py
Due: mypy-tests

chore: deprecate "plotting" target in favor of "graphics"
  pyproject.toml
Due: none

chore: updating internals
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_utils/pyvista_import_check.py
  tests/unittests/test_model.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_plot_utils.py
Due: mypy-code, mypy-tests

chore: deprecate "plotting" target in favor of "graphics" (#797)
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_utils/pyvista_import_check.py
  tests/unittests/test_model.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_plot_utils.py
Due: mypy-code, mypy-tests

Skip imported analysis ply alternate parent tests on older server versions
  tests/unittests/test_imported_analysis_ply.py
Due: mypy-tests

Add missing analysis ply access on solid model entities (#792)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/layup_mapping_object.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/data/SolidModel.1.cdb
  tests/data/minimal_complete_model.acph5
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_imported_analysis_ply.py
  tests/unittests/test_interface_layer.py
Due: mypy-code, mypy-tests

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
