Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Fix paths
  doc/source/intro.rst
Due: none

run pre-commit hooks
  doc/source/intro.rst
Due: none

Update doc/source/intro.rst
  doc/source/intro.rst
Due: none

Make intro ready for the testing session (#488)
  doc/source/intro.rst
  doc/source/user_guide/howto/create_input_file.rst
  docker-compose/docker-compose-extras.yaml
  examples/001_basic_flat_plate.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for dd7da226426489b47524bdcd248f7cfddc04f825
  benchmarks/data.js
Due: none

started the overall doc review
  doc/source/user_guide/concepts/index.rst
  doc/source/user_guide/concepts/material_property_sets.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for 1e790bb17376d580cb8e968f9da078eaed9c55eb
  benchmarks/data.js
Due: none

day 2 review
  doc/source/user_guide/concepts/material_property_sets.rst
  doc/source/user_guide/concepts/store.rst
  doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/index.rst
  doc/source/user_guide/howto/launch_configuration.rst
  doc/source/user_guide/howto/print_model.rst
  doc/source/user_guide/howto/view_model_in_acp_gui.rst
  doc/source/user_guide/howto/visualize_model.rst
Due: none

Improve install instructions
  doc/source/intro.rst
Due: none

Add PYMAPDL_IP environment variable
  .github/workflows/ci_cd.yml
Due: none

Use latest_daily MAPDL image
  docker-compose/docker-compose-extras.yaml
Due: none

Improve install instructions (#495)
  .github/workflows/ci_cd.yml
  doc/source/intro.rst
  docker-compose/docker-compose-extras.yaml
Due: none

add PyACP benchmarks (pytest) benchmark result for 66a1dedef4577dcf03e4cb8e9fa6bea47265bdf6
  benchmarks/data.js
Due: none

Tweak fiber directions plot
  examples/009_optimization.py
  tests/unittests/test_material.py
Due: mypy-tests

Fix syntax for specifying extras with git install
  doc/source/intro.rst
Due: none

day 3 rev
  doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/visualize_model.rst
Due: none

Add regression test for materials save / load issue
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_material.py
Due: mypy-code, mypy-tests

Fix syntax for specifying extras with git install (#496)
  doc/source/intro.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for 3d62124a66279cf67e3cf9787efb9716071f877d
  benchmarks/data.js
Due: none

day 4 minor change
  doc/source/user_guide/howto/visualize_model.rst
Due: none

Allow using str for local_working_directory
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Switch simplify_optional_unions to True to fix Sphinx build
  doc/source/conf.py
Due: none

day 5 doc rev
  doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/view_model_in_acp_gui.rst
Due: none

Fix vale warning
  doc/source/intro.rst
Due: none

reviewed the user guide doc
  doc/source/user_guide/concepts/store.rst
  doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/launch_configuration.rst
  doc/source/user_guide/index.rst
Due: none

started reviewing doc examples
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
Due: mypy-tests

started reviewing doc examples
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
Due: mypy-tests

reviewed all examples
  examples/002_sandwich_panel.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
  examples/006_rosettes.py
  examples/007_direction_definitions.py
  examples/008_solve_class40.py
  examples/009_optimization.py
  examples/pymechanical/Readme.md
  examples/pymechanical/embedded_workflow.py
  examples/pymechanical/generate_mesh.py
  examples/pymechanical/postprocess_results.py
  examples/pymechanical/remote_workflow.py
  examples/pymechanical/set_bc.py
  examples/pymechanical/setup_acp_model.py
  src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/example_helpers.py
Due: mypy-code, mypy-tests

Use dev version of py dpf composites
  Release_checklist.rst
  poetry.lock
  pyproject.toml
Due: none

minor edits
  examples/001_basic_flat_plate.py
  examples/006_rosettes.py
Due: mypy-tests

poilshed the doc
  examples/006_rosettes.py
  examples/008_solve_class40.py
Due: mypy-tests

Adapt to changes in material handling
  doc/source/intro.rst
  doc/source/user_guide/concepts/material_property_sets.rst
  doc/source/user_guide/concepts/store.rst
  doc/source/user_guide/howto/print_model.rst
  tests/conftest.py
  tests/data/minimal_complete_model_no_matml_link.acph5
  tests/unittests/test_material.py
  tests/unittests/test_tree_printer.py
Due: mypy-tests

Allow using str for local_working_directory (#497)
  doc/source/conf.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Adapt to changes in material handling (#502)
  doc/source/intro.rst
  doc/source/user_guide/concepts/material_property_sets.rst
  doc/source/user_guide/concepts/store.rst
  doc/source/user_guide/howto/print_model.rst
  tests/conftest.py
  tests/data/minimal_complete_model_no_matml_link.acph5
  tests/unittests/test_material.py
  tests/unittests/test_tree_printer.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 0a88ccc53c53413ad2a2fa585ce191c72afca229
  benchmarks/data.js
Due: none

addressed the pre-commit check
  doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/file_management.rst
  examples/001_basic_flat_plate.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/006_rosettes.py
  examples/008_solve_class40.py
  examples/009_optimization.py
Due: mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
