Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]

  - repo: https://github.com/psf/black
    rev: "24.3.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.3.0]

  - repo: https://github.com/pycqa/isort
    rev: "5.13.2"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.0.0"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "1.8.0"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.2.9
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

Allow loading materials from MatML XML (#643)
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 7c99a571c531f6a0f1640dbdaf10e9f83d0248a6
  benchmarks/data.js
Due: none

start adding solid element set
  doc/source/api/mesh_data.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/solid_element_set.py
Due: mypy-code

Add vulnerability check CI job
  .github/workflows/ci_cd.yml
Due: none

Doc: convert StrEnum defaults to their string value
  doc/source/conf.py
Due: none

Show the prev / next button
  doc/source/conf.py
Due: none

WIP
  doc/source/index.rst
  src/ansys/acp/core/_tree_objects/solid_element_set.py
Due: mypy-code

Doc: convert StrEnum defaults to their string value (#651)
  doc/source/conf.py
Due: none

add PyACP benchmarks (pytest) benchmark result for 46d8d0e9c7b119fc332e57191dae5dc763cb534c
  benchmarks/data.js
Due: none

Add bandit configuration and security documentation
  .github/workflows/ci_cd.yml
  .gitignore
  doc/source/user_guide/index.rst
  doc/source/user_guide/security_considerations.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/.bandit
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/example_helpers.py
Due: mypy-code

Add warnings to function docstrings
  doc/source/user_guide/security_considerations.rst
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/launch.py
Due: mypy-code

Convert path to positional argument
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_tree_objects/_solid_model_export.py
Due: mypy-code

add unit test
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/test_solid_element_set.py
Due: mypy-code, mypy-tests

run pre-commit checks
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/solid_element_set.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/test_solid_element_set.py
Due: mypy-code, mypy-tests

Add vulnerability check CI job (#650)
  .github/workflows/ci_cd.yml
  .gitignore
  doc/source/user_guide/index.rst
  doc/source/user_guide/security_considerations.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/.bandit
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_server/launch.py
  src/ansys/acp/core/example_helpers.py
Due: mypy-code

rerun pre-commit checks
  src/ansys/acp/core/_tree_objects/solid_element_set.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for ba3976e9c9db2b06d043813882c8316ceba949c1
  benchmarks/data.js
Due: none

fix documentation
  doc/source/index.rst
  tests/unittests/test_solid_element_set.py
Due: mypy-tests

Update doc/source/index.rst
  doc/source/index.rst
Due: none

Improve errors on wrong type in LinkedObjectList
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  tests/unittests/test_linked_object_list.py
Due: mypy-code, mypy-tests

Feat/596 add solid element set (#655)
  doc/source/api/mesh_data.rst
  doc/source/api/tree_objects.rst
  doc/source/index.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/solid_element_set.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/test_solid_element_set.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for ce099e6195a6f2b437ff6af52a080cc8895ecad2
  benchmarks/data.js
Due: none

Convert path to positional argument (#654)
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_tree_objects/_solid_model_export.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 3da9f6ca1718f3096811aab740b1761855d7b58c
  benchmarks/data.js
Due: none

Show the prev / next button (#653)
  doc/source/conf.py
Due: none

add PyACP benchmarks (pytest) benchmark result for 702df6cd2036257f5b9034cc72a0a064923494a8
  benchmarks/data.js
Due: none

Add type check to .extend()
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  tests/unittests/test_linked_object_list.py
Due: mypy-code, mypy-tests

Improve errors on wrong type in LinkedObjectList (#656)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  tests/unittests/test_linked_object_list.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for f2ba4dc970dde44bfe321a434361bd0dabb96f1c
  benchmarks/data.js
Due: none

Use ansys.tools.path for getting the latest Ansys install
  src/ansys/acp/core/_server/direct.py
Due: mypy-code

Add CutOffGeometry exposure
  doc/source/api/enum_types.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/cut_off_geometry.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/test_cut_off_geometry.py
Due: mypy-code, mypy-tests

Add CutOffGeometry to docs
  doc/source/api/tree_objects.rst
Due: none
