Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Update examples/009_optimization.py
  examples/009_optimization.py
Due: mypy-tests

Update examples/pymechanical/embedded_workflow.py
  examples/pymechanical/embedded_workflow.py
Due: mypy-tests

Update examples/pymechanical/remote_workflow.py
  examples/pymechanical/remote_workflow.py
Due: mypy-tests

Update src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Update src/ansys/acp/core/example_helpers.py
  src/ansys/acp/core/example_helpers.py
Due: mypy-code

Update doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/create_input_file.rst
Due: none

Update doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/file_management.rst
Due: none

Update doc/source/user_guide/howto/launch_configuration.rst
  doc/source/user_guide/howto/launch_configuration.rst
Due: none

Update examples/001_basic_flat_plate.py
  examples/001_basic_flat_plate.py
Due: mypy-tests

Update examples/pymechanical/postprocess_results.py
  examples/pymechanical/postprocess_results.py
Due: mypy-tests

Update doc/source/user_guide/concepts/store.rst
  doc/source/user_guide/concepts/store.rst
Due: none

changes based on Kathy's feedback
  doc/source/user_guide/concepts/material_property_sets.rst
  doc/source/user_guide/concepts/store.rst
  doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/launch_configuration.rst
  doc/source/user_guide/howto/print_model.rst
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/003_basic_rules.py
  examples/006_rosettes.py
  examples/009_optimization.py
  examples/pymechanical/Readme.md
  examples/pymechanical/acp_future/readme.md
  examples/pymechanical/embedded_workflow.py
  examples/pymechanical/postprocess_results.py
  examples/pymechanical/remote_workflow.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code, mypy-tests

Improve the geometry plot in thickness definition example
  examples/005_thickness_definitions.py
Due: mypy-tests

Update doc/source/user_guide/howto/index.rst
  doc/source/user_guide/howto/index.rst
Due: none

Update doc/source/user_guide/howto/visualize_model.rst
  doc/source/user_guide/howto/visualize_model.rst
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
