Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/psf/black
    rev: "25.1.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==25.1.0]

  - repo: https://github.com/pycqa/isort
    rev: "6.0.0"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.1.2"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock|pyproject\.toml|.*\.svg$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "2.1.1"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.5.1
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

Remove environment marker on ansys-mechanical-core
  poetry.lock
  pyproject.toml
Due: none

Use PyVista headless display action
  .github/workflows/ci_cd.yml
Due: none

Use PyVista headless display action (#825)
  .github/workflows/ci_cd.yml
Due: none

Fix compression strain limit in materials example
  examples/modeling_features/001-materials.py
  examples/modeling_features/020-solid_model.py
  examples/modeling_features/031-imported-solid-model.py
  examples/modeling_features/050-composite_cae_h5.py
Due: mypy-tests

Remove command snippets for imported bodies
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code

Add a feature tree (#821)
  doc/source/api/example_helpers.rst
  doc/source/api/extras.rst
  doc/source/api/index.rst
  doc/source/user_guide/concepts/feature_tree.rst
  doc/source/user_guide/concepts/index.rst
  doc/source/user_guide/concepts/store.rst
  doc/source/user_guide/howto/print_model.rst
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/extras/__init__.py
  src/ansys/acp/core/extras/feature_tree.py
  tests/unittests/test_feature_tree.py
  tests/unittests/test_tree_printer.py
Due: mypy-code, mypy-tests

PyMechanical integration: remove command snippet on CDB import (#820)
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code

Store composite definitions in UserFiles directory (#818)
  doc/source/index.rst
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code

Fix compression strain limit in materials example (#831)
  examples/modeling_features/001-materials.py
  examples/modeling_features/020-solid_model.py
  examples/modeling_features/031-imported-solid-model.py
  examples/modeling_features/050-composite_cae_h5.py
Due: mypy-tests

Remove unused snippet from mechanical integration helper
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code

Update API dependency
  poetry.lock
  pyproject.toml
Due: none

Add the 2026R1 server to the test matrix
  .github/workflows/ci_cd.yml
Due: none

Remove outdated trame extra from pyvista
  poetry.lock
  pyproject.toml
Due: none

Remove PyMAPDL Python version restriction
  poetry.lock
  pyproject.toml
Due: none

Model / feature tree printing: set 'show_lines' default to False
  doc/source/user_guide/concepts/feature_tree.rst
  doc/source/user_guide/howto/print_model.rst
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/extras/feature_tree.py
  tests/unittests/test_feature_tree.py
  tests/unittests/test_tree_printer.py
Due: mypy-code, mypy-tests

ci: use release/9.0 branch
  .github/workflows/ci_cd.yml
Due: none

fix: typo
  .github/workflows/ci_cd.yml
Due: none

Updated 3d-lut with new properties
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
Due: mypy-code

Updating tests
  tests/unittests/test_lookup_table_3d.py
Due: mypy-tests

Fixes test class name typo
  tests/unittests/test_lookup_table_3d.py
Due: mypy-tests

Added test with rosette
  tests/unittests/test_lookup_table_3d.py
Due: mypy-tests

Fixing names
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
  tests/unittests/test_lookup_table_3d.py
Due: mypy-code, mypy-tests

Minimal
  tests/unittests/test_lookup_table_3d.py
Due: mypy-tests

Add graphics extra for PyMAPDL
  poetry.lock
  pyproject.toml
Due: none

Add python 3.13 support (#740)
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  poetry.lock
  pyproject.toml
Due: none

Model / feature tree printing: set 'show_lines' default to False (#837)
  doc/source/user_guide/concepts/feature_tree.rst
  doc/source/user_guide/howto/print_model.rst
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/extras/feature_tree.py
  tests/unittests/test_feature_tree.py
  tests/unittests/test_tree_printer.py
Due: mypy-code, mypy-tests

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Due: none

Update main Python version to 3.13
  .github/workflows/ci_cd.yml
Due: none

Add the 2026R1 server to the test matrix (#835)
  .github/workflows/ci_cd.yml
Due: none

Make only the required updates to the poetry lockfile
  poetry.lock
Due: none

Update API dependency (#834)
  poetry.lock
  pyproject.toml
Due: none

Checking with optional value
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
Due: mypy-code

Upgrade Sphinx, drop Python 3.10 support for the doc build
  README.rst
  poetry.lock
  pyproject.toml
Due: none

WIP
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
Due: mypy-code

Testing
  tests/unittests/test_lookup_table_3d.py
Due: mypy-tests

Fix check whether object needs updating with optional fields
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  tests/unittests/test_lookup_table_3d.py
Due: mypy-code, mypy-tests

Expose the Coordinate System properties of the 3D lut (#839)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
  tests/unittests/test_lookup_table_3d.py
Due: mypy-code, mypy-tests

Pass GITHUB_TOKEN to release-github action
  .github/workflows/ci_cd.yml
Due: none

Clarify that the venv is needed for running ansys-launcher
  doc/source/user_guide/howto/launch_configuration.rst
Due: none
