Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Use renamed ansys.tools.local_product_launcher
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_server/launch.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Adapt to changes in launcher
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Improve docker launcher; let docker choose the port
  src/ansys/acp/core/_server/docker.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Add descriptions for docker-compose
  src/ansys/acp/core/_server/docker.py
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Switch example to use launcher; add upload- and download- methods to client
  .github/workflows/ci_cd.yml
  examples/solve_class40.py
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/common.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Move filetransfer to main dependencies
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
Due: none

Fix typo in configure command
  .github/workflows/ci_cd.yml
Due: none

Add debugging output to docker-compose launcher
  doc/source/api/server.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker.py
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Try newer docker-compose
  .github/workflows/ci_cd.yml
Due: none

Pass compose file when closing
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Fix docker_compose for versions <2.x
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Switch to dataclass-based config
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_tree_objects/base.py
  tests/conftest.py
  tests/helpers.py
Due: mypy-code, mypy-tests

Update lockfile, remove debug output
  poetry.lock
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Remove dataclasses.MISSING use
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker.py
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

Update README to use Local Product Launcher
  README.rst
  examples/README.rst
  examples/solve_class40.py
  src/ansys/acp/core/_server/launch.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Due: none

Update src/ansys/acp/core/_server/launch.py
  src/ansys/acp/core/_server/launch.py
Due: mypy-code

Add a comment about get_ansys_root
  src/ansys/acp/core/_server/direct.py
Due: mypy-code

Use local product launcher library (#107)
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/api/server.rst
  docker-compose/docker-compose-extras.yaml
  docker-compose/docker-compose.yaml
  examples/README.rst
  examples/solve_class40.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_server/launch.py
  src/ansys/acp/core/_tree_objects/base.py
  tests/conftest.py
  tests/helpers.py
Due: mypy-code, mypy-tests

Fix permissions for nightly build
  .github/workflows/nightly.yml
Due: none

Remove 'ansys-utilities-filetransfer' from examples extra
  poetry.lock
  pyproject.toml
Due: none

Fix install from wheel (#111)
  .github/workflows/nightly.yml
  poetry.lock
  pyproject.toml
Due: none

Enable multi-version documentation
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/conf.py
Due: none

Delete CNAME
  CNAME
Due: none

Create CNAME
  CNAME
Due: none

Enable multi-version documentation (#116)
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/conf.py
Due: none

DOC: add development documentation
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/solve_class40.html
  dev/searchindex.js
Due: none

DOC: add development documentation
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  dev/_static/css/ansys_sphinx_theme.css
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/solve_class40.html
  dev/searchindex.js
Due: none

Add poetry checks to pre-commit hooks
  .pre-commit-config.yaml
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Run pre-commit checks on Python 3.8
  .github/workflows/ci_cd.yml
Due: none

Update isort
  .pre-commit-config.yaml
Due: none

Update pre-commit hooks, add poetry checks (#121)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
