Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
- repo: https://gitlab.com/PyCQA/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
- repo: https://github.com/kynan/nbstripout
  rev: 0.5.0
  hooks:
  - id: nbstripout
    args: ["--extra-keys", "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode"]
- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Add action for nightly GHCR prune
  .github/workflows/prune_containers.yml
Due: none

Add action for nightly GHCR prune (#94)
  .github/workflows/prune_containers.yml
Due: none

Update secret name for docker image pruning
  .github/workflows/prune_containers.yml
Due: none

Update lockfile
  poetry.lock
Due: none

Add hacky string representation implementation
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Improve string representation impl
  src/ansys/acp/core/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/material.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/rosette.py
  tests/test_model.py
Due: mypy-code, mypy-tests

Add _short_repr to be used within str
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Replace __repr__ with _short_repr, fix multi-inheritance for GRPC_PROPERTIES
  src/ansys/acp/core/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/material.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/rosette.py
  tests/test_model.py
Due: mypy-code, mypy-tests

Improve object string representation (#97)
  poetry.lock
  src/ansys/acp/core/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/material.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/rosette.py
  tests/test_model.py
Due: mypy-code, mypy-tests

Add option to unlink objects on clone
  src/ansys/acp/core/_grpc_helpers/unlink.py
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Factor out iteration from unlink_objects
  src/ansys/acp/core/_grpc_helpers/linked_object_helpers.py
  src/ansys/acp/core/_grpc_helpers/unlink.py
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Add unit test for store after clone with unlink=True
  tests/test_unlink.py
Due: mypy-tests

Add linked_path_fields to __all__
  src/ansys/acp/core/_grpc_helpers/linked_object_helpers.py
Due: mypy-code

Add option to launch via docker-compose
  README.rst
  docker/docker-compose.yaml
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/docker-compose.yaml
Due: mypy-code

Use token workaround for ansys-utilities-filetransfer
  .github/workflows/ci_cd.yml
Due: none

Add filetransfer to pre-commit dependencies
  poetry.lock
  pyproject.toml
Due: none

Add token workaround for filetransfer api
  .github/workflows/ci_cd.yml
Due: none

Add option to unlink objects on clone (#99)
  src/ansys/acp/core/_grpc_helpers/linked_object_helpers.py
  src/ansys/acp/core/_tree_objects/base.py
  tests/test_unlink.py
Due: mypy-code, mypy-tests

Deploying to gh-pages from @ pyansys/pyacp-private@617733ba0abf14f4f093b3052bd1bf3d70ddae55 🚀
  api/_autosummary/ansys.acp.core.ElementSet.clone.html
  api/_autosummary/ansys.acp.core.ElementSet.html
  api/_autosummary/ansys.acp.core.Fabric.clone.html
  api/_autosummary/ansys.acp.core.Fabric.html
  api/_autosummary/ansys.acp.core.Material.clone.html
  api/_autosummary/ansys.acp.core.Material.html
  api/_autosummary/ansys.acp.core.Model.clone.html
  api/_autosummary/ansys.acp.core.Model.html
  api/_autosummary/ansys.acp.core.ModelingGroup.clone.html
  api/_autosummary/ansys.acp.core.ModelingGroup.html
  api/_autosummary/ansys.acp.core.ModelingPly.clone.html
  api/_autosummary/ansys.acp.core.ModelingPly.html
  api/_autosummary/ansys.acp.core.OrientedSelectionSet.clone.html
  api/_autosummary/ansys.acp.core.OrientedSelectionSet.html
  api/_autosummary/ansys.acp.core.Rosette.clone.html
  api/_autosummary/ansys.acp.core.Rosette.html
  searchindex.js
Due: none

Check linked objects in '.store()'
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_utils/resource_paths.py
Due: mypy-code

Add test for error when storing with invalid links
  tests/test_unlink.py
Due: mypy-tests

Improve error message for store with wrong links
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Check linked objects in '.store()' (#100)
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_utils/resource_paths.py
  tests/test_unlink.py
Due: mypy-code, mypy-tests

Add option to launch via docker-compose (#101)
  .github/workflows/ci_cd.yml
  README.rst
  docker/docker-compose.yaml
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/docker-compose.yaml
Due: mypy-code

Deploying to gh-pages from @ pyansys/pyacp-private@ffc14b23b26bff2f4333d199e8e48329b1172ca1 🚀
  index.html
  objects.inv
  searchindex.js
Due: none

Add debug output
  .github/workflows/ci_cd.yml
  docker/docker-compose-mapdl.yaml
  src/ansys/acp/core/_server/docker-compose.yaml
Due: none

Doc: Add examples gallery, convert class40 example
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  README.rst
  doc/Makefile
  doc/make.bat
  doc/source/_templates/README.md
  doc/source/_templates/sidebar-nav-bs.html
  doc/source/conf.py
  doc/source/examples/.gitignore
  doc/source/examples/index.rst
  doc/source/index.rst
  docker/docker-compose.yaml
  examples/README.rst
  examples/class40/results/.gitignore
  examples/class40/solve_class40.ipynb
  examples/data/class40/class40.cdb
  examples/solve_class40.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_grpc_helpers/mapping.py
  src/ansys/acp/core/_server/docker-compose.yaml
Due: mypy-code

Set ANSYS_LOCK to OFF, increase timeout for MAPDL
  docker/docker-compose-mapdl.yaml
  examples/solve_class40.py
Due: mypy-code

Test workdir-volume tag for pyacp container
  examples/solve_class40.py
  src/ansys/acp/core/_server/docker-compose.yaml
Due: mypy-code

Fix Makefile
  .github/workflows/ci_cd.yml
  doc/Makefile
  doc/source/conf.py
  examples/solve_class40.py
Due: mypy-code

Use MAPDL docker container
  .github/workflows/ci_cd.yml
  docker/docker-compose-mapdl.yaml
  examples/README.rst
  examples/solve_class40.py
Due: mypy-code

Always use 'localhost' in example as hostname
  examples/solve_class40.py
Due: mypy-code

Add more logs
  .github/workflows/ci_cd.yml
Due: none

Switch to group-based optional dependencies
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  .gitignore
  README.rst
  poetry.lock
  pyproject.toml
Due: none

Use xvfb-run for PDF build
  .github/workflows/ci_cd.yml
Due: none

Clean up docker-compose between builds
  .github/workflows/ci_cd.yml
Due: none

Use xvfb-run also for HTML, remove debug output
  .github/workflows/ci_cd.yml
Due: none

Revert to latest tag for pyacp image
  src/ansys/acp/core/_server/docker-compose.yaml
Due: none
