Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/psf/black
    rev: "25.1.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==25.1.0]

  - repo: https://github.com/pycqa/isort
    rev: "6.0.0"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.1.2"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock|pyproject\.toml|.*\.svg$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "2.1.1"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.5.1
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

Update src/ansys/acp/core/_recursive_copy.py
  src/ansys/acp/core/_recursive_copy.py
Due: mypy-code

Fix and test empty parent_mapping and source_objects handling
  src/ansys/acp/core/_recursive_copy.py
  tests/unittests/test_recursive_copy.py
Due: mypy-code, mypy-tests

docs: update html_context with PyAnsys tags
  doc/source/conf.py
Due: none

Run formatting
  doc/source/conf.py
Due: none

docs: update ``html_context`` with PyAnsys tags (#893)
  doc/source/conf.py
Due: none

Remove duplicate 'PyACP home' link in doc header
  doc/source/index.rst
Due: none

Fix some 3D coordinate type hints (#865)
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
Due: mypy-code

Convert DAT file to CDB for import into Mechanical
  doc/source/user_guide/howto/create_input_file.rst
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code, mypy-tests

Add conversion from DAT to CDB to the PyMechanical to CDB example
  doc/source/user_guide/howto/create_input_file.rst
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
Due: mypy-tests

Add SECURITY.md file (#871)
  SECURITY.md
Due: none

Fix CDB to PyMechanical example
  examples/workflows/06-cdb-to-pymechanical-workflow.py
Due: mypy-tests

Make the valid blocked CDB check optional, fix solid model example
  examples/workflows/04-pymechanical-solid-workflow.py
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code, mypy-tests

Revert change to batch flag
  examples/workflows/04-pymechanical-solid-workflow.py
Due: mypy-tests

Remove duplicate 'PyACP home' link in doc header (#895)
  doc/source/index.rst
Due: none

Check unit consistency in recursive_copy (#891)
  doc/source/user_guide/howto/copy_objects.rst
  src/ansys/acp/core/_recursive_copy.py
  src/ansys/acp/core/extras/example_helpers.py
  tests/unittests/test_recursive_copy.py
Due: mypy-code, mypy-tests

Switch to pypa/gh-action-pypi-publish for releasing to PyPI (#892)
  .github/workflows/ci_cd.yml
Due: none

Update poetry lockfile
  poetry.lock
Due: none

Ignore pyvista untyped constructor
  src/ansys/acp/core/_plotter.py
Due: mypy-code

Exclude grpc version 1.74.0
  poetry.lock
  pyproject.toml
Due: none

Remove continue-on-error from documentation CI step
  .github/workflows/ci_cd.yml
Due: none

Try running shinx-build single-threaded
  doc/Makefile
Due: none

[test] Skip closing PyMAPDL instance explicitly
  examples/workflows/01-pymapdl-workflow.py
Due: mypy-tests

[TO REVERT] Test removing the PyMAPDL workflow
  examples/workflows/01-pymapdl-workflow.py
Due: mypy-tests

Force VTK >=9.5.1 in dev group
  poetry.lock
  pyproject.toml
Due: none

Fix segault in the documentation build (#900)
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
Due: none

Update examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
Due: mypy-tests

Convert DAT file to CDB for import into Mechanical (#896)
  doc/source/user_guide/howto/create_input_file.rst
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code, mypy-tests

chore: update CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Due: none

chore: update CONTRIBUTING.md file
  CONTRIBUTING.md
Due: none

Fix class40 example units
  examples/workflows/02-advanced-pymapdl-workflow.py
Due: mypy-tests

Document limitations for variable material properties and thermal expansion coefficients
  doc/source/index.rst
Due: none

Make docker-compose.yaml correspond to local insecure transport
  src/ansys/acp/core/_server/docker-compose.yaml
Due: none

Add vendored cyberchannel module
  src/ansys/acp/core/_server/_vendored/cyberchannel.py
Due: mypy-code

Make docker-compose-benchmark.yaml correspond to local insecure transport
  docker-compose/docker-compose-benchmark.yaml
Due: none

Update direct launch mode
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/_vendored/cyberchannel.py
  src/ansys/acp/core/_server/direct.py
Due: mypy-code

WIP docker-compose launch update
  docker-compose/docker-compose-base.yaml
  docker-compose/docker-compose-insecure.yaml
  docker-compose/docker-compose-mtls.yaml
  docker-compose/docker-compose.yaml
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker-compose-base.yaml
  src/ansys/acp/core/_server/docker-compose-insecure.yaml
  src/ansys/acp/core/_server/docker-compose-mtls.yaml
  src/ansys/acp/core/_server/docker_compose.py
  tests/insecure_certs/WARNING.md
  tests/insecure_certs/ca.crt
  tests/insecure_certs/ca.key
  tests/insecure_certs/client.crt
  tests/insecure_certs/client.key
  tests/insecure_certs/server.crt
  tests/insecure_certs/server.key
Due: mypy-code
