Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

DOC: add development documentation
  dev/.buildinfo
  dev/_downloads/504d36e3ba58506f10332e38fe415e34/solve_class40.ipynb
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  dev/api/_autosummary/ansys.acp.core.Fabric.html
  dev/api/_autosummary/ansys.acp.core.Fabric.material.html
  dev/api/_autosummary/ansys.acp.core.ModelingPly.html
  dev/api/_autosummary/ansys.acp.core.ModelingPly.ply_material.html
  dev/api/_autosummary/ansys.acp.core.OrientedSelectionSet.html
  dev/api/_autosummary/ansys.acp.core.Rosette.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/solve_class40.html
  dev/index.html
  dev/searchindex.js
Due: none

Drop Python 3.7 support, add 3.11 to CI
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  .pre-commit-config.yaml
  README.rst
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_grpc_helpers/mapping.py
  src/ansys/acp/core/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_grpc_helpers/protocols.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/rosette.py
  tests/test_modeling_group.py
  tests/test_modeling_ply.py
  tests/test_oriented_selection_set.py
Due: mypy-code, mypy-tests

Remove Python 3.11 from CI
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
Due: none

Change upper limit Python dependency to <4
  poetry.lock
  pyproject.toml
Due: none

Adapt to changes in pydpf-composites
  doc/source/examples/others/local_pyacp_executable.rst
  examples/solve_class40.py
Due: mypy-code

Add CODEOWNERS file
  .github/CODEOWNERS
Due: none

Drop Python 3.7 compatibility (#122)
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  .pre-commit-config.yaml
  README.rst
  doc/source/examples/others/local_pyacp_executable.rst
  examples/solve_class40.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_grpc_helpers/mapping.py
  src/ansys/acp/core/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_grpc_helpers/protocols.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/rosette.py
  tests/test_modeling_group.py
  tests/test_modeling_ply.py
  tests/test_oriented_selection_set.py
Due: mypy-code, mypy-tests

DOC: add development documentation
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/solve_class40.html
  dev/searchindex.js
Due: none

Add CODEOWNERS file (#125)
  .github/CODEOWNERS
Due: none

DOC: add development documentation
  dev/.buildinfo
  dev/_downloads/504d36e3ba58506f10332e38fe415e34/solve_class40.ipynb
  dev/_downloads/9534ac29e0bc2250f1fc6a51c9f799b1/solve_class40.py
  dev/_images/sphx_glr_solve_class40_001.png
  dev/_images/sphx_glr_solve_class40_002.png
  dev/_images/sphx_glr_solve_class40_thumb.png
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  dev/_sources/examples/others/local_pyacp_executable.rst.txt
  dev/api/_autosummary/ansys.acp.core.Fabric.html
  dev/api/_autosummary/ansys.acp.core.Fabric.material.html
  dev/api/_autosummary/ansys.acp.core.ModelingPly.html
  dev/api/_autosummary/ansys.acp.core.ModelingPly.ply_material.html
  dev/api/_autosummary/ansys.acp.core.OrientedSelectionSet.html
  dev/api/_autosummary/ansys.acp.core.Rosette.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/solve_class40.html
  dev/examples/others/local_pyacp_executable.html
  dev/index.html
  dev/searchindex.js
Due: mypy-code

Add docstring for Edge Set
  src/ansys/acp/core/_tree_objects/edge_set.py
Due: mypy-code

Add Edge Set tree object class
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/edge_set.py
  src/ansys/acp/core/_tree_objects/enums.py
Due: mypy-code

Add basic Edge Set tests
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/edge_set.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/rosette.py
  tests/test_edge_set.py
Due: mypy-code, mypy-tests

Add Edge Set to API docs
  doc/source/api/tree_objects.rst
Due: none

Add Vale checks
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  doc/.vale.ini
  doc/styles/.gitignore
  doc/styles/Vocab/ANSYS/accept.txt
  doc/styles/Vocab/ANSYS/reject.txt
Due: none

Use sentence-style capitalization, fix Vale warnings
  README.rst
  doc/source/_static/README.md
  doc/source/api/index.rst
  doc/source/api/server.rst
  doc/source/api/tree_objects.rst
  doc/source/examples/others/local_pyacp_executable.rst
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  doc/styles/Vocab/ANSYS/reject.txt
Due: none

Remove docker launcher
  README.rst
  doc/source/api/server.rst
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/docker.py
  src/ansys/acp/core/_server/docker_compose.py
  tests/conftest.py
  tests/test_model.py
Due: mypy-code, mypy-tests

Update to black 2023 format, add blacken-docs
  .pre-commit-config.yaml
  README.rst
  doc/source/examples/others/local_pyacp_executable.rst
  examples/README.rst
  examples/solve_class40.py
  tests/conftest.py
  tests/test_fabric.py
  tests/test_material.py
  tests/test_oriented_selection_set.py
  tests/test_rosette.py
Due: mypy-code, mypy-tests

Convert OSS tests to common tester class.
  .codespellrc
  .pre-commit-config.yaml
  pyproject.toml
  tests/common/linked_object_list_tester.py
  tests/common/tree_object_tester.py
  tests/conftest.py
  tests/import_shim.py
  tests/test_linked_object_list.py
  tests/test_oriented_selection_set.py
Due: mypy-tests

Convert Rosette tests to common tester
  tests/common/tree_object_tester.py
  tests/test_oriented_selection_set.py
  tests/test_rosette.py
Due: mypy-tests

Convert ModelingPly to common tester
  tests/common/utils.py
  tests/test_modeling_ply.py
Due: mypy-tests

Add linked object tests for Modeling Ply -> OSS
  tests/test_modeling_ply.py
Due: mypy-tests

Convert ModelingGroup tests
  tests/test_modeling_group.py
Due: mypy-tests

Convert Material tests
  tests/test_material.py
Due: mypy-tests

Convert Fabric tests
  tests/test_fabric.py
  tests/test_material.py
  tests/test_modeling_ply.py
  tests/test_rosette.py
Due: mypy-tests

Convert Element Set tests, add missing status
  src/ansys/acp/core/_tree_objects/element_set.py
  tests/test_element_set.py
Due: mypy-code, mypy-tests

Remove suppress_for_pyacp helper
  tests/helpers.py
  tests/test_model.py
Due: mypy-tests

Convert properties to test to a list
  tests/common/tree_object_tester.py
  tests/test_element_set.py
  tests/test_fabric.py
  tests/test_material.py
  tests/test_modeling_group.py
  tests/test_modeling_ply.py
  tests/test_oriented_selection_set.py
  tests/test_rosette.py
Due: mypy-tests

Ignore missing check in draping_ud_coefficient
  tests/test_fabric.py
Due: mypy-tests

Update to black 2023 format, add blacken-docs (#130)
  .pre-commit-config.yaml
  README.rst
  doc/source/examples/others/local_pyacp_executable.rst
  examples/README.rst
  examples/solve_class40.py
  tests/conftest.py
  tests/test_fabric.py
  tests/test_material.py
  tests/test_oriented_selection_set.py
  tests/test_rosette.py
Due: mypy-code, mypy-tests

Remove docker launcher (#128)
  README.rst
  doc/source/api/server.rst
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/docker.py
  src/ansys/acp/core/_server/docker_compose.py
  tests/conftest.py
  tests/test_model.py
Due: mypy-code, mypy-tests

Use released pydpf-composites
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
Due: none

Use released pydpf-composites (#133)
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
Due: none

Add comments for linked objects tests
  tests/common/linked_object_list_tester.py
Due: mypy-tests

Fix model tests
  tests/test_model.py
Due: mypy-tests

Create common tests for all tree objects (#131)
  .codespellrc
  .pre-commit-config.yaml
  pyproject.toml
  src/ansys/acp/core/_tree_objects/element_set.py
  tests/common/linked_object_list_tester.py
  tests/common/tree_object_tester.py
  tests/common/utils.py
  tests/conftest.py
  tests/helpers.py
  tests/import_shim.py
  tests/test_element_set.py
  tests/test_fabric.py
  tests/test_linked_object_list.py
  tests/test_material.py
  tests/test_model.py
  tests/test_modeling_group.py
  tests/test_modeling_ply.py
  tests/test_oriented_selection_set.py
  tests/test_rosette.py
Due: mypy-code, mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
