Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/psf/black
    rev: "25.1.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==25.1.0]

  - repo: https://github.com/pycqa/isort
    rev: "6.0.0"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.1.2"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock|pyproject\.toml|.*\.svg$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "2.1.1"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.5.1
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

Disable UV_LOCKED on build-library
  .github/workflows/ci_cd.yml
Due: none

Disable UV_LOCKED on ansys/actions jobs (#1022)
  .github/workflows/ci_cd.yml
Due: none

Handle stale version in delete() (#989)
  src/ansys/acp/core/_tree_objects/base.py
  tests/unittests/test_modeling_ply.py
Due: mypy-code, mypy-tests

Mechanical integration: handle units for CDB import into Mechanical (#991)
  doc/source/api/mechanical_integration_helpers.rst
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  src/ansys/acp/core/dpf_integration_helpers.py
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code, mypy-tests

Fix benchmark store permissions (#1012)
  .github/workflows/ci_cd.yml
Due: none

Add an `access_path` property to tree objects (#1018)
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_tree_objects/base.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Add missing has_run property
  src/ansys/acp/core/_tree_objects/_import_object.py
  tests/unittests/test_hdf5_composite_cae_import.py
Due: mypy-code, mypy-tests

Add basic unit tests for HDF5CompositeCAEImport
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/hdf5_composite_cae_import.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_hdf5_composite_cae_import.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Add tests for special methods
  tests/unittests/test_hdf5_composite_cae_import.py
Due: mypy-tests

Add import object mixin class
  src/ansys/acp/core/_tree_objects/_import_object.py
  src/ansys/acp/core/_tree_objects/hdf5_composite_cae_import.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/conftest.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Fix feature tree test
  tests/unittests/test_feature_tree.py
Due: mypy-tests

[WIP] Add HDF5CompositeCAEImport object
  doc/source/user_guide/compatibility.rst
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/hdf5_composite_cae_import.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  src/ansys/acp/core/_tree_objects/utils.py
Due: mypy-code

Fix doctest and doc build
  doc/source/user_guide/compatibility.rst
  doc/source/user_guide/howto/print_model.rst
Due: none

Fix feature tree (doc)test
  doc/source/user_guide/concepts/feature_tree.rst
Due: none

Update composite_cae_h5 example
  examples/modeling_features/050-composite_cae_h5.py
  src/ansys/acp/core/_tree_objects/_import_object.py
  src/ansys/acp/core/_tree_objects/hdf5_composite_cae_import.py
Due: mypy-code, mypy-tests

Fix feature tree doctest
  doc/source/user_guide/concepts/feature_tree.rst
Due: none

Add WindingWizard object
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/winding_wizard.py
Due: mypy-code

Fix feature tree (doc)test, update compatibility.rst
  doc/source/user_guide/compatibility.rst
  doc/source/user_guide/howto/print_model.rst
  tests/unittests/test_feature_tree.py
Due: mypy-tests

Add export and doc entries
  doc/source/api/linked_object_definitions.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
Due: mypy-code

Add unit tests for the WindingWizard object
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/winding_wizard.py
  tests/unittests/test_winding_wizard.py
Due: mypy-code, mypy-tests

Improve docstrings
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
Due: mypy-code

Update docs
  doc/source/api/enum_types.rst
  doc/source/user_guide/compatibility.rst
Due: none

Fix tests
  tests/conftest.py
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-tests

WIP add butt joint sequence properties
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-code, mypy-tests

Fix tests
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-tests

Update ansys-api-acp to 0.5.0
  pyproject.toml
  uv.lock
Due: none

Fix version guard on test
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-tests

Fix tests for old server versions
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-tests

add read-only linked object list
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  tests/unittests/test_butt_joint_sequence.py
  tests/unittests/test_read_only_linked_object_list.py
Due: mypy-code, mypy-tests

Review and fix code
  doc/source/api/internal.rst
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  tests/unittests/test_butt_joint_sequence.py
  tests/unittests/test_read_only_linked_object_list.py
Due: mypy-code, mypy-tests

Update direct and transitive dependencies in uv.lock
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

doc: update announcement
  version/dev/announcement.html
  version/dev/api/announcement.html
  version/dev/examples/announcement.html
  version/dev/examples/modeling_features/announcement.html
  version/dev/examples/use_cases/announcement.html
  version/dev/examples/workflows/announcement.html
  version/dev/user_guide/announcement.html
  version/dev/user_guide/concepts/announcement.html
  version/dev/user_guide/howto/announcement.html
Due: none

HDF5 Composite CAE Import tree object (#1000)
  doc/source/api/tree_objects.rst
  doc/source/user_guide/compatibility.rst
  doc/source/user_guide/concepts/feature_tree.rst
  doc/source/user_guide/howto/print_model.rst
  examples/modeling_features/050-composite_cae_h5.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_import_object.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/hdf5_composite_cae_import.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  src/ansys/acp/core/_tree_objects/utils.py
  tests/conftest.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_feature_tree.py
  tests/unittests/test_hdf5_composite_cae_import.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Fix order in docstring
  src/ansys/acp/core/_tree_objects/winding_wizard.py
Due: mypy-code
