Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

add PyACP benchmarks (pytest) benchmark result for cfd0575c2b79dbd9d386a12222ab93b2ac1d0d1f
  benchmarks/data.js
Due: none

Fix teardown of direct launcher when start fails
  src/ansys/acp/core/_server/direct.py
  tests/unittests/test_direct_launcher.py
Due: mypy-code, mypy-tests

Implement ImportedSolidModel object
  doc/source/api/internal.rst
  doc/source/api/tree_objects.rst
  doc/source/index.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_solid_model_export.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/test_solid_model.py
Due: mypy-code, mypy-tests

Add tests for imported solid model
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  tests/unittests/test_imported_solid_model.py
Due: mypy-code, mypy-tests

Run pre-commit hooks
  src/ansys/acp/core/_tree_objects/solid_model.py
Due: mypy-code

Add elemental and nodal data to solid models
  doc/source/api/mesh_data.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/data/minimal_complete_model_no_matml_link.acph5
  tests/unittests/test_solid_model.py
Due: mypy-code, mypy-tests

Revert accidental changes to modeling_ply
  src/ansys/acp/core/_tree_objects/modeling_ply.py
Due: mypy-code

Fix docs
  doc/source/api/enum_types.rst
  doc/source/conf.py
Due: none

Add missing mesh data classes to mesh_data.rst
  doc/source/api/mesh_data.rst
Due: none

Add refresh and import_initial_mesh
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  tests/conftest.py
  tests/unittests/test_imported_solid_model.py
Due: mypy-code, mypy-tests

add FieldDefinition and start with the unit test
  src/ansys/acp/core/_tree_objects/field_definition.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_field_definition.py
Due: mypy-code, mypy-tests

Fix teardown of direct launcher when start fails (#641)
  src/ansys/acp/core/_server/direct.py
  tests/unittests/test_direct_launcher.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for ff53ac77433df3385dbab27b01a378d6687452e6
  benchmarks/data.js
Due: none

added unit tests
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/field_definition.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_field_definition.py
Due: mypy-code, mypy-tests

run pre-commit checks
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/field_definition.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_field_definition.py
Due: mypy-code, mypy-tests

fix errors reported by mypy
  src/ansys/acp/core/_tree_objects/field_definition.py
Due: mypy-code

skip tests on old servers
  tests/unittests/test_field_definition.py
Due: mypy-tests

Accept kwargs in ACPWorkflow.from_cdb_or_dat_file
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

run pre-commit hooks
  tests/unittests/test_field_definition.py
Due: mypy-tests

fix documentation
  doc/source/conf.py
Due: none

fix docu build
  doc/source/conf.py
Due: none

fix doc build
  doc/source/api/tree_objects.rst
Due: none

Accept kwargs in ACPWorkflow.from_cdb_or_dat_file (#645)
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 20cdf5a24a6e487fea1b834b39e79644c60cae41
  benchmarks/data.js
Due: none

Update src/ansys/acp/core/_tree_objects/field_definition.py
  src/ansys/acp/core/_tree_objects/field_definition.py
Due: mypy-code

fix typo in a doc string.
  src/ansys/acp/core/_tree_objects/field_definition.py
Due: mypy-code

Feat/586 add field definition (#644)
  doc/source/api/tree_objects.rst
  doc/source/conf.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/field_definition.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_field_definition.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 2d726a8a7e0159db7ea9c070e3e718b7f3e85380
  benchmarks/data.js
Due: none

Implement ImportedSolidModel object (#638)
  doc/source/api/enum_types.rst
  doc/source/api/internal.rst
  doc/source/api/mesh_data.rst
  doc/source/api/tree_objects.rst
  doc/source/conf.py
  doc/source/index.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_solid_model_export.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/conftest.py
  tests/data/minimal_complete_model_no_matml_link.acph5
  tests/unittests/test_imported_solid_model.py
  tests/unittests/test_solid_model.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for e341b87cf25901fdaf6cdbe420cae2472f1fcfaa
  benchmarks/data.js
Due: none

Implement material import
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Update src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Extend material APDL file description
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Fix import test for older server version
  tests/unittests/test_model.py
Due: mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
