Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Run pre-commit hooks
  tests/unittests/test_acp_instance.py
Due: mypy-tests

Update install instructions
  README.rst
Due: none

Update install instructions (#365)
  README.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for c40819f68eb497267993be081bfb520bea48ad73
  benchmarks/data.js
Due: none

Enable listing the currently loaded Models (#358)
  src/ansys/acp/core/_server/acp_instance.py
  tests/unittests/test_acp_instance.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 775b36fb300beb9ba8cb5d8cf130e7f04c1e5649
  benchmarks/data.js
Due: none

Use the 'direct' launcher as fallback if no launch mode is configured
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/launch.py
Due: mypy-code

Use default Sphinx theme if PYACP_DOC_QUICK_BUILD is set to 1
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Due: none

Skip theme options on quick build, allow skipping examples
  doc/source/conf.py
Due: none

Skip ansys_sphinx_theme extension on quick build
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Due: none

Add simple docstrings to the enum classes.
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/stackup.py
Due: mypy-code

Also run full doc build on tags
  .github/workflows/ci_cd.yml
Due: none

Revert switching the Sphinx theme in CI
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  src/ansys/acp/core/_tree_objects/stackup.py
Due: mypy-code

Move helper function
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_utils/visualization.py
Due: mypy-code

Add average element size to model
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Add plotter
  examples/001_basic_flat_plate.py
  src/ansys/acp/core/_plotter.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
Due: mypy-code, mypy-tests

Add parallel quick doc build to CI
  .github/workflows/ci_cd.yml
Due: none

Skip API doc in quick doc build
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  doc/source/index.rst
  poetry.lock
  pyproject.toml
Due: none

Improve quick / full doc build distinction
  .github/workflows/ci_cd.yml
Due: none

Add parallel quick doc build to CI (#370)
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  doc/source/index.rst
  poetry.lock
  pyproject.toml
Due: none

Add docs and tests
  doc/source/api/index.rst
  doc/source/api/plot_utils.rst
  examples/001_basic_flat_plate.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_plotter.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_typing_helper.py
  tests/unittests/test_plot_utils.py
Due: mypy-code, mypy-tests

Fix indentation
  doc/source/index.rst
Due: none

Cosmetic improvements
  examples/001_basic_flat_plate.py
  examples/data/flat_plate/flat_plate_input.dat
  src/ansys/acp/core/_server/common.py
Due: mypy-code, mypy-tests

Use the 'direct' launcher as fallback (#367)
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/launch.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for c63008af5ddea28af8fe8f2f1fb2aa0e357f5f87
  benchmarks/data.js
Due: none

Add explicit check for minimum ACP version
  src/ansys/acp/core/_server/launch.py
Due: mypy-code

Add options for partial documentation builds (#368)
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  doc/source/index.rst
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 6961ca0a83406590111fb70e07ac99d849af173a
  benchmarks/data.js
Due: none

Add scaffolding for improved documentation
  CONTRIBUTING.md
  README.rst
  doc/source/contribute.rst
  doc/source/howto/index.rst
  doc/source/howto/launch_configuration.rst
  doc/source/index.rst
  doc/source/intro.rst
Due: none

Rename contribute to contributing
  doc/source/contributing.rst
  doc/source/index.rst
Due: none

Enable pydocstyle pre-commit hook
  .pre-commit-config.yaml
Due: none

Add some docstrings
  .pre-commit-config.yaml
  doc/source/api/other_types.rst
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/material/property_sets/larc_constants.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/object_registry.py
  src/ansys/acp/core/_utils/array_conversions.py
  src/ansys/acp/core/_utils/example_helpers.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Add and fix more docstrings
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/material/property_sets/density.py
  src/ansys/acp/core/_tree_objects/material/property_sets/engineering_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/fabric_fiber_angle.py
  src/ansys/acp/core/_tree_objects/material/property_sets/larc_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/property_helper.py
  src/ansys/acp/core/_tree_objects/material/property_sets/puck_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/strain_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/stress_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/tsai_wu_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/woven_characterization.py
  src/ansys/acp/core/_tree_objects/material/property_sets/woven_stress_limits.py
  src/ansys/acp/core/_utils/array_conversions.py
  src/ansys/acp/core/_utils/property_protocols.py
  src/ansys/acp/core/_utils/visualization.py
Due: mypy-code

Add missing docstrings
  doc/source/api/other_types.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_helpers.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/polymorphic_from_pb.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/material/__init__.py
  src/ansys/acp/core/_tree_objects/material/property_sets/__init__.py
  src/ansys/acp/core/_tree_objects/material/property_sets/engineering_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/fabric_fiber_angle.py
  src/ansys/acp/core/_tree_objects/material/property_sets/puck_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/tsai_wu_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/woven_stress_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/wrapper.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  src/ansys/acp/core/_utils/path_to_str.py
  src/ansys/acp/core/_utils/resource_paths.py
Due: mypy-code

Run pre-commit hooks
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/polymorphic_from_pb.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/__init__.py
  src/ansys/acp/core/_tree_objects/material/property_sets/density.py
  src/ansys/acp/core/_tree_objects/material/property_sets/engineering_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/fabric_fiber_angle.py
  src/ansys/acp/core/_tree_objects/material/property_sets/larc_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/puck_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/strain_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/stress_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/tsai_wu_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/woven_characterization.py
  src/ansys/acp/core/_tree_objects/material/property_sets/woven_stress_limits.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_utils/property_protocols.py
  src/ansys/acp/core/_utils/visualization.py
Due: mypy-code

Fix pydocstyle on models
  src/ansys/acp/core/_server/acp_instance.py
Due: mypy-code

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
