Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Rename orientation to orientation_type
  src/ansys/acp/core/_tree_objects/cut_off_geometry.py
  tests/unittests/test_cut_off_geometry.py
Due: mypy-code, mypy-tests

Add CutOffGeometry exposure (#647)
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/cut_off_geometry.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/test_cut_off_geometry.py
Due: mypy-code, mypy-tests

Add LayupMappingObject exposure
  .pre-commit-config.yaml
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/layup_mapping_object.py
Due: mypy-code

Run pre-commit hooks and fix type annotations
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
Due: mypy-code

Rename BaseElementMaterialHandlingType to BaseElementMaterialHandling
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/layup_mapping_object.py
  tests/unittests/test_layup_mapping_object.py
Due: mypy-code, mypy-tests

Add testing
  doc/source/api/enum_types.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/layup_mapping_object.py
  tests/unittests/test_layup_mapping_object.py
Due: mypy-code, mypy-tests

Use ansys.tools.path for getting the latest Ansys install (#657)
  src/ansys/acp/core/_server/direct.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for b198ad03fc5dedc860e40ad740a6aac8648ee198
  benchmarks/data.js
Due: none

Fix docs
  doc/source/api/enum_types.rst
Due: none

Add LayupMappingObject (#649)
  .pre-commit-config.yaml
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/layup_mapping_object.py
  tests/unittests/test_layup_mapping_object.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 55bd01fca16c086e6a8b087888e39c7235c83d06
  benchmarks/data.js
Due: none

Harmonize enum and enum-parameter names
  doc/source/api/enum_types.rst
  examples/007_direction_definitions.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/imported_modeling_ply.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_cylindrical_selection_rule.py
  tests/unittests/test_fabric.py
  tests/unittests/test_geometrical_selection_rule.py
  tests/unittests/test_imported_modeling_ply.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_parallel_selection_rule.py
  tests/unittests/test_solid_model.py
  tests/unittests/test_spherical_selection_rule.py
  tests/unittests/test_stackup.py
  tests/unittests/test_tube_selection_rule.py
  tests/unittests/test_variable_offset_selection_rule.py
Due: mypy-code, mypy-tests

Fix import solid model export tests
  tests/unittests/test_imported_solid_model.py
Due: mypy-tests

Harmonize enum and enum-parameter names (#659)
  doc/source/api/enum_types.rst
  examples/007_direction_definitions.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/imported_modeling_ply.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_cylindrical_selection_rule.py
  tests/unittests/test_fabric.py
  tests/unittests/test_geometrical_selection_rule.py
  tests/unittests/test_imported_modeling_ply.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_parallel_selection_rule.py
  tests/unittests/test_solid_model.py
  tests/unittests/test_spherical_selection_rule.py
  tests/unittests/test_stackup.py
  tests/unittests/test_tube_selection_rule.py
  tests/unittests/test_variable_offset_selection_rule.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for b1321ad82dcbfdc83657b8264c1fd18a847a74c1
  benchmarks/data.js
Due: none

Fix import solid model export tests (#660)
  tests/unittests/test_imported_solid_model.py
Due: mypy-tests

Add methods for importing from / exporting to the HDF5 Composite CAE format.
  .flake8
  doc/source/api/enum_types.rst
  doc/source/api/index.rst
  doc/source/api/other_types.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/utils.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Run pre-commit hooks
  src/ansys/acp/core/__init__.py
Due: mypy-code

Add HDF5 Composite CAE import and export methods (#646)
  .flake8
  doc/source/api/enum_types.rst
  doc/source/api/index.rst
  doc/source/api/other_types.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/utils.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 0cbef897d560aa97266344dcfa26dea64362bd19
  benchmarks/data.js
Due: none

Add scoped mesh properties
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_mesh.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/interface_layer.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
Due: mypy-code

Add test for analysis ply mesh
  tests/unittests/test_analysis_ply.py
Due: mypy-tests

Update test to check for old server version
  src/ansys/acp/core/_tree_objects/_mesh.py
  tests/unittests/test_analysis_ply.py
Due: mypy-code, mypy-tests

Add 2025R2 to the list of tested server versions
  .github/workflows/ci_cd.yml
Due: none

Add 2025R2 to the list of tested server versions (#661)
  .github/workflows/ci_cd.yml
Due: none

add PyACP benchmarks (pytest) benchmark result for 2359938f7a00a0e0ed825c36957be6e8393ffe37
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for 7a40fe31d7e0603d003a339b8e316688d718b1d4
  benchmarks/data.js
Due: none

Implement code review suggestions
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_elemental_or_nodal_data.py
  src/ansys/acp/core/_tree_objects/_mesh.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/interface_layer.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  src/ansys/acp/core/_tree_objects/solid_element_set.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
Due: mypy-code

Fix internal.rst
  doc/source/api/internal.rst
Due: none

Add scoped mesh properties (#642)
  doc/source/api/internal.rst
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_elemental_or_nodal_data.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/interface_layer.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  src/ansys/acp/core/_tree_objects/solid_element_set.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  tests/unittests/test_analysis_ply.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 276bb0630cb5d6335464c725539a515241b1d98f
  benchmarks/data.js
Due: none

Create PyMechanical examples not using the Shim
  examples/pymechanical/generate_mesh_noshim.py
  examples/pymechanical/postprocess_results.py
  examples/pymechanical/remote_workflow_noshim.py
  examples/pymechanical/setup_acp_model.py
Due: mypy-tests

Add solid model pymechanical workflow example
  examples/pymechanical/postprocess_results.py
  examples/pymechanical/remote_workflow_noshim.py
  examples/pymechanical/remote_workflow_solid_noshim.py
  examples/pymechanical/set_bc_solid.py
  examples/pymechanical/setup_acp_model.py
  poetry.lock
Due: mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
