Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py38-plus]
- repo: https://github.com/psf/black
  rev: '22.12.0'
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: '5.12.0'
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: '6.0.0'
  hooks:
  - id: flake8
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
- repo: https://github.com/python-poetry/poetry/
  rev: '1.3.0'
  hooks:
  - id: poetry-check
    name: "poetry: check pyproject.toml syntax"
  # We're slightly abusing the 'poetry-lock' hook, by running
  # 'poetry lock --check' instead of 'poetry lock'
  - id: poetry-lock
    name: "poetry: check poetry.lock consistency"
    args: ['--check']
    files: '^(pyproject\.toml|poetry\.lock)$'
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
- repo: https://github.com/kynan/nbstripout
  rev: 0.6.1
  hooks:
  - id: nbstripout
    args: ["--extra-keys", "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode"]
- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|^(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)|^(examples/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Add performance benchmarks
  .github/workflows/ci_cd.yml
  .gitignore
  dev_utils/connection_test.ipynb
  docker-compose/docker-compose-benchmark.yaml
  dockerfiles/ConnectionTest.Dockerfile
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/docker_compose.py
  tests/__init__.py
  tests/benchmarks/__init__.py
  tests/benchmarks/conftest.py
  tests/benchmarks/test_create.py
  tests/conftest.py
  tests/py.typed
  tests/unittests/__init__.py
  tests/unittests/common/__init__.py
  tests/unittests/common/linked_object_list_tester.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/common/utils.py
  tests/unittests/helpers.py
  tests/unittests/test_edge_set.py
  tests/unittests/test_element_set.py
  tests/unittests/test_fabric.py
  tests/unittests/test_material.py
  tests/unittests/test_model.py
  tests/unittests/test_modeling_group.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_oriented_selection_set.py
  tests/unittests/test_rosette.py
  tests/unittests/test_unlink.py
Due: mypy-code, mypy-tests

Pull only for remote images
  tests/conftest.py
Due: mypy-tests

Run benchmark on all Python versions (but only publish on one)
  .github/workflows/ci_cd.yml
Due: none

Add benchmarking note to README
  README.rst
Due: none

Remove redundant extra info
  tests/benchmarks/conftest.py
Due: mypy-tests

Add class40 benchmark
  .github/workflows/ci_cd.yml
  tests/benchmarks/conftest.py
  tests/benchmarks/test_class40.py
  tests/conftest.py
Due: mypy-tests

Publish benchmark results only when on main
  .github/workflows/ci_cd.yml
Due: none

Use apt-get in ConnectionTest.Dockerfile
  dockerfiles/ConnectionTest.Dockerfile
Due: none

Use CompositeModel in class40 example
  examples/solve_class40.py
Due: mypy-tests

Use CompositeModel in class40 example (#195)
  examples/solve_class40.py
Due: mypy-tests

Adapt to organization rename from pyansys to ansys
  .github/workflows/ci_cd.yml
  .github/workflows/package_cleanup.yml
  docker-compose/docker-compose-extras.yaml
  pyproject.toml
Due: none

Switch to ubuntu base image (#194)
  dockerfiles/ConnectionTest.Dockerfile
Due: none

Adapt to organization rename from pyansys to ansys (#198)
  .github/workflows/ci_cd.yml
  .github/workflows/package_cleanup.yml
  docker-compose/docker-compose-extras.yaml
  pyproject.toml
Due: none

Revert resolved reference for local-product-launcher
  poetry.lock
Due: none

Remove benchmarks data
  benchmarks/data.js
  benchmarks/index.html
Due: none

Add performance benchmarks (#190)
  .github/workflows/ci_cd.yml
  .gitignore
  README.rst
  dev_utils/connection_test.ipynb
  docker-compose/docker-compose-benchmark.yaml
  dockerfiles/ConnectionTest.Dockerfile
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/docker_compose.py
  tests/__init__.py
  tests/benchmarks/__init__.py
  tests/benchmarks/conftest.py
  tests/benchmarks/test_class40.py
  tests/benchmarks/test_create.py
  tests/conftest.py
  tests/py.typed
  tests/unittests/__init__.py
  tests/unittests/common/__init__.py
  tests/unittests/common/linked_object_list_tester.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/common/utils.py
  tests/unittests/helpers.py
  tests/unittests/test_edge_set.py
  tests/unittests/test_element_set.py
  tests/unittests/test_fabric.py
  tests/unittests/test_material.py
  tests/unittests/test_model.py
  tests/unittests/test_modeling_group.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_oriented_selection_set.py
  tests/unittests/test_rosette.py
  tests/unittests/test_unlink.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 4772a76d95f4b3ff3d8a975bc90301331ed0f222
  benchmarks/data.js
  benchmarks/index.html
Due: none

DOC: update development documentation 4772a76d95f4b3ff3d8a975bc90301331ed0f222
  version/dev/.buildinfo
  version/dev/_downloads/504d36e3ba58506f10332e38fe415e34/solve_class40.ipynb
  version/dev/_downloads/9534ac29e0bc2250f1fc6a51c9f799b1/solve_class40.py
  version/dev/_images/sphx_glr_solve_class40_001.png
  version/dev/_images/sphx_glr_solve_class40_thumb.png
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/index.html
  version/dev/searchindex.js
Due: mypy-code

Implement timeout in launchers, use in tests
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
  tests/benchmarks/conftest.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Update lockfile
  poetry.lock
Due: none

Fix --validate-benchmarks-only flag use in CI
  .github/workflows/ci_cd.yml
Due: none

Implement stop timeout (#192)
  poetry.lock
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/direct.py
  src/ansys/acp/core/_server/docker_compose.py
  tests/benchmarks/conftest.py
  tests/conftest.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 5e2365394e0c5c8e812561fad0bc2d9b9287081b
  benchmarks/data.js
Due: none

Improve dependency specification
  poetry.lock
  pyproject.toml
Due: none

DOC: update development documentation 5e2365394e0c5c8e812561fad0bc2d9b9287081b
  version/dev/.buildinfo
  version/dev/_images/sphx_glr_solve_class40_001.png
  version/dev/_images/sphx_glr_solve_class40_thumb.png
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Improve dependency specification (#196)
  poetry.lock
  pyproject.toml
Due: none

add PyACP benchmarks (pytest) benchmark result for 63ee2986489921f5effbdea0bda45eb4e2c77aec
  benchmarks/data.js
Due: none

Using bot for login
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
Due: none

Revert "Using bot for login"
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
Due: none

Fix --validate-benchmarks-only flag use in CI (#199)
  .github/workflows/ci_cd.yml
Due: none

add PyACP benchmarks (pytest) benchmark result for 528550aa5be0de1406d63b5aaea308a63963b14a
  benchmarks/data.js
Due: none

DOC: update development documentation 528550aa5be0de1406d63b5aaea308a63963b14a
  version/dev/.buildinfo
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

add PyACP benchmarks (pytest) benchmark result for 5a1493ebdbf4026b38aa5f632554124bbd16fec7
  benchmarks/data.js
Due: none

DOC: update development documentation 5a1493ebdbf4026b38aa5f632554124bbd16fec7
  version/dev/.buildinfo
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Do not run benchmarks in nightly workflows
  .github/workflows/nightly.yml
Due: none

Do not run benchmarks in nightly workflows (#201)
  .github/workflows/nightly.yml
Due: none

add PyACP benchmarks (pytest) benchmark result for 52593dcde93f52558e54d89fce0ba88c8d7a94f3
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for 55eaaec6cf3a1f6b2e5f1dcfa9857e49c7f6250c
  benchmarks/data.js
Due: none

DOC: update development documentation 55eaaec6cf3a1f6b2e5f1dcfa9857e49c7f6250c
  version/dev/.buildinfo
  version/dev/_images/sphx_glr_solve_class40_001.png
  version/dev/_images/sphx_glr_solve_class40_thumb.png
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none
