Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

use latest version of ansys-tools-path to ensure that also the latest dev version of the unified installer is found
  poetry.lock
  pyproject.toml
Due: none

use latest version of ansys-tools-path to ensure that also the latest… (#430)
  poetry.lock
  pyproject.toml
Due: none

add PyACP benchmarks (pytest) benchmark result for a8775827e34061f8594afb5ccf0147ecb869c035
  benchmarks/data.js
Due: none

Implement PR feedback
  examples/004_basic_rules.py
  examples/005_advanced_rules.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
Due: mypy-code, mypy-tests

Improve usability of edge property lists
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_stackup.py
  type_checks/add_methods.py
Due: mypy-code, mypy-tests

changed to lower case
  examples/solve_class40.py
Due: mypy-tests

Update stackup.fabric test
  tests/unittests/test_stackup.py
Due: mypy-tests

Add unit_system kwarg to Workflow
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Add conversion from list to numpy array for LookUpTableColumn
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
  src/ansys/acp/core/_utils/array_conversions.py
  tests/unittests/test_lookup_table_column.py
Due: mypy-code, mypy-tests

Add note about restarting the shell
  README.rst
Due: none

Add note about restarting the shell (#438)
  README.rst
Due: none

Add conversion from list to numpy array for LookUpTableColumn (#437)
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
  src/ansys/acp/core/_utils/array_conversions.py
  tests/unittests/test_lookup_table_column.py
Due: mypy-code, mypy-tests

Sandwich and selection rule examples (#423)
  examples/003_sandwich_panel.py
  examples/004_basic_rules.py
  examples/005_advanced_rules.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  src/ansys/acp/core/example_helpers.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_cad_geometry.py
  tests/unittests/test_cutoff_selection_rule.py
  tests/unittests/test_cylindrical_selection_rule.py
  tests/unittests/test_edge_set.py
  tests/unittests/test_element_set.py
  tests/unittests/test_fabric.py
  tests/unittests/test_geometrical_selection_rule.py
  tests/unittests/test_lookup_table_1d.py
  tests/unittests/test_lookup_table_3d.py
  tests/unittests/test_lookup_table_column.py
  tests/unittests/test_material.py
  tests/unittests/test_modeling_group.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_oriented_selection_set.py
  tests/unittests/test_parallel_selection_rule.py
  tests/unittests/test_rosette.py
  tests/unittests/test_sensor.py
  tests/unittests/test_spherical_selection_rule.py
  tests/unittests/test_stackup.py
  tests/unittests/test_sublaminate.py
  tests/unittests/test_tube_selection_rule.py
  tests/unittests/test_variable_offset_selection_rule.py
  tests/unittests/test_virtual_geometry.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 4b4d4a1244e9dd6b533d3299bc47823a87684b4d
  benchmarks/data.js
Due: none

Don't mention abaqus and nastran files as input for workflow. Make unit system mandatory
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Remove start from existing project examples. Start from existing projects for more complex examples.
  examples/002_sandwich_panel.py
  examples/002_start_from_existing_project.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
Due: mypy-tests

add more unit tests
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_stackup.py
  tests/unittests/test_sublaminate.py
Due: mypy-tests

Add unit required unit system everywhere
  examples/001_basic_flat_plate.py
  tests/unittests/test_workflow.py
Due: mypy-tests

Add unit system for new examples
  examples/003_sandwich_panel.py
  examples/004_basic_rules.py
  examples/005_advanced_rules.py
Due: mypy-tests

Add tests to check unit system behaviour
  examples/001_basic_flat_plate.py
  examples/003_sandwich_panel.py
  examples/004_basic_rules.py
  examples/005_advanced_rules.py
  src/ansys/acp/core/_workflow.py
  tests/data/flat_plate_input.dat
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

fix the new unit test of sub-laminate
  tests/unittests/test_sublaminate.py
Due: mypy-tests

run pre-commit hook
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_sublaminate.py
Due: mypy-tests

Improve usability of edge property lists (#433)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_stackup.py
  tests/unittests/test_sublaminate.py
  type_checks/add_methods.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 1a4b36cc7700a596d494681ceab4cfc48723354c
  benchmarks/data.js
Due: none

rename property modeling_plies of ModelingGroup to plies because the entries of plies can be of type modeling ply, interface layer, butt-joint sequence.
  examples/001_basic_flat_plate.py
  examples/solve_class40.py
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_object_permanence.py
  tests/unittests/test_plot_utils.py
  tests/unittests/test_production_ply.py
  type_checks/plots.py
Due: mypy-code, mypy-tests

update docu (plot ply data)
  doc/source/user_guide/howto/visualize_model.rst
Due: none

Fix test
  tests/unittests/test_workflow.py
Due: mypy-tests

Fix comment
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Improve examples
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
Due: mypy-tests

Improve examples
  examples/003_basic_rules.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code, mypy-tests

Complete docs for element set
  src/ansys/acp/core/_tree_objects/element_set.py
Due: mypy-code

Changed header to lowercase (#434)
  examples/solve_class40.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 8ff834a71761b940e2f13d9334045cb74408e862
  benchmarks/data.js
Due: none

Document creation of input files.
  doc/source/index.rst
  doc/source/intro.rst
  doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/index.rst
  examples/001_basic_flat_plate.py
  examples/003_sandwich_panel.py
  examples/004_basic_rules.py
  examples/005_advanced_rules.py
  examples/pymechanical/setup_acp_model.py
  src/ansys/acp/core/example_helpers.py
Due: mypy-code, mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
