Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: "23.3.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.3.0]

  - repo: https://github.com/pycqa/isort
    rev: "5.12.0"
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: "6.1.0"
    hooks:
      - id: flake8
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock$'
  - repo: https://github.com/python-poetry/poetry/
    rev: "1.7.0"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      additional_dependencies: [toml]
      exclude: "^(tests/)|(examples/)"
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]
  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: ["--namespace-packages", "--explicit-package-bases"]

Add direction definition example (#449)
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
  examples/006_rosettes.py
  examples/007_direction_definitions.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  tests/unittests/test_oriented_selection_set.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for d5b48fd57256f4aa70def36caa0aeb6f909d9b85
  benchmarks/data.js
Due: none

Fix vale warnings (#479)
  doc/source/api/plot_utils.rst
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/user_guide/concepts/material_property_sets.rst
  doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/launch_configuration.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Due: none

add PyACP benchmarks (pytest) benchmark result for bcb55bd80ca66b1e5322db27563d335db64a1aeb
  benchmarks/data.js
Due: none

Do not document methods on enum types
  doc/source/_templates/autosummary/no_methods_doc/class.rst
  doc/source/api/enum_types.rst
  doc/source/api/index.rst
  doc/source/api/mesh_data.rst
Due: none

Rename custom templates with .jinja2 suffix
  doc/source/_templates/autosummary/internal/base.rst.jinja2
  doc/source/_templates/autosummary/no_methods_doc/class.rst.jinja2
  doc/source/api/enum_types.rst
  doc/source/api/internal.rst
Due: none

Add scipy and matplotlib to examples extra
  poetry.lock
  pyproject.toml
Due: none

Renumber examples
  examples/008_solve_class40.py
  examples/009_optimization.py
Due: mypy-tests

Apply suggestions from code review
  examples/009_optimization.py
Due: mypy-tests

Add optimization example
  doc/source/conf.py
  examples/006_solve_class40.py
  examples/007_optimization.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/example_helpers.py
Due: mypy-code, mypy-tests

Address review comments
  examples/009_optimization.py
Due: mypy-tests

Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: none

Hide matplotlib UserWarning
  doc/source/conf.py
  examples/009_optimization.py
Due: mypy-tests

Tweak fiber directions plot
  examples/009_optimization.py
Due: mypy-tests

Add optimization example (#480)
  doc/source/conf.py
  examples/008_solve_class40.py
  examples/009_optimization.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/example_helpers.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 0b2db26d91dae9b530cb7f30d9f5df976a443964
  benchmarks/data.js
Due: none

Do not document methods on enum types (#485)
  doc/source/_templates/autosummary/internal/base.rst.jinja2
  doc/source/_templates/autosummary/no_methods_doc/class.rst.jinja2
  doc/source/api/enum_types.rst
  doc/source/api/index.rst
  doc/source/api/internal.rst
  doc/source/api/mesh_data.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for a3ad63252408bb76a9e116f1ca4ac48bc104298c
  benchmarks/data.js
Due: none

Update CONTRIBUTORS.md (#487)
  CONTRIBUTORS.md
Due: none

add PyACP benchmarks (pytest) benchmark result for ecd37c0abb487e6cf43ea2028fe1166a6cc18b25
  benchmarks/data.js
Due: none

update intro.rst
  doc/source/intro.rst
Due: none

run pre-commit hooks
  doc/source/intro.rst
Due: none

Update doc/source/intro.rst
  doc/source/intro.rst
Due: none

update intro
  doc/source/intro.rst
  examples/001_basic_flat_plate.py
Due: mypy-tests

Update examples/001_basic_flat_plate.py
  examples/001_basic_flat_plate.py
Due: mypy-tests

minor change
  doc/source/intro.rst
Due: none

minor improvements
  doc/source/intro.rst
  doc/source/user_guide/howto/create_input_file.rst
Due: none

fix style of documentation
  doc/source/intro.rst
Due: none

unify port names for MAPDL and DPF Composites
  doc/source/intro.rst
  docker-compose/docker-compose-extras.yaml
Due: none
