Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Add type information to create_ and add_ method documentation
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 0a03f698809ac688811dc5d84b72826cfeaae179
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for 0bc1c835592dcfdf14c868749ef1c52437b2e186
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for 86f5d32bc519f11b0a5bd6a422a1a6429a0fc7ea
  benchmarks/data.js
Due: none

Add method for replacing the mesh (#548)
  .github/workflows/ci_cd.yml
  poetry.lock
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Add STEP and IGES to the list of allowed FeFormat values
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

start with unit test for the imported modeling ply
  src/ansys/acp/core/_tree_objects/imported_modeling_ply.py
  tests/unittests/test_imported_modeling_ply.py
  tests/unittests/test_modeling_ply.py
Due: mypy-code, mypy-tests

Add patch for signature handling in autodoc
  doc/source/conf.py
Due: none

update tests
  src/ansys/acp/core/_tree_objects/imported_analysis_ply.py
  src/ansys/acp/core/_tree_objects/imported_modeling_group.py
  src/ansys/acp/core/_tree_objects/imported_modeling_ply.py
  src/ansys/acp/core/_tree_objects/imported_production_ply.py
  tests/unittests/test_imported_modeling_ply.py
Due: mypy-code, mypy-tests

remove Visualization and Mesh Data classes which will be implemented later
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/imported_analysis_ply.py
  src/ansys/acp/core/_tree_objects/imported_modeling_group.py
  src/ansys/acp/core/_tree_objects/imported_modeling_ply.py
  src/ansys/acp/core/_tree_objects/imported_production_ply.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/conftest.py
  tests/unittests/test_imported_analysis_ply.py
  tests/unittests/test_imported_modeling_group.py
  tests/unittests/test_imported_modeling_ply.py
  tests/unittests/test_imported_production_ply.py
Due: mypy-code, mypy-tests

Add regression test for cloning / storing locked element sets
  tests/conftest.py
  tests/unittests/test_element_set.py
Due: mypy-tests

code cleanup
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/imported_analysis_ply.py
  src/ansys/acp/core/_tree_objects/imported_modeling_group.py
  src/ansys/acp/core/_tree_objects/imported_modeling_ply.py
  src/ansys/acp/core/_tree_objects/imported_production_ply.py
Due: mypy-code

code cleanup
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/imported_analysis_ply.py
Due: mypy-code

cleanup
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/imported_modeling_group.py
  src/ansys/acp/core/_tree_objects/imported_modeling_ply.py
  tests/unittests/test_imported_analysis_ply.py
  tests/unittests/test_imported_production_ply.py
Due: mypy-code, mypy-tests

cleanup
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  tests/unittests/test_imported_analysis_ply.py
  tests/unittests/test_imported_production_ply.py
Due: mypy-code, mypy-tests

cleanup
  doc/source/api/enum_types.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
Due: mypy-code

cleanup
  doc/source/api/enum_types.rst
Due: none

update doc
  doc/source/index.rst
Due: none

[WIP] Add testing for 2025R1 server
  .github/workflows/ci_cd.yml
Due: none

Make all enums related to Imported Plies public
  src/ansys/acp/core/_tree_objects/enums.py
Due: mypy-code

Add regression test for cloning / storing locked element sets (#624)
  tests/conftest.py
  tests/unittests/test_element_set.py
Due: mypy-tests

Add interface layer exposure
  doc/source/api/tree_objects.rst
  doc/source/index.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/interface_layer.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
Due: mypy-code

Add tests
  src/ansys/acp/core/_tree_objects/modeling_group.py
  tests/unittests/test_interface_layer.py
Due: mypy-code, mypy-tests

Remove design angle from elemental data
  src/ansys/acp/core/_tree_objects/interface_layer.py
Due: mypy-code

Add elemental and nodal data
  src/ansys/acp/core/_tree_objects/interface_layer.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for fbbd5ff104524f9ee4f349209f03fc8473946d96
  benchmarks/data.js
Due: none

Add interface layer exposure (#609)
  doc/source/api/tree_objects.rst
  doc/source/index.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/interface_layer.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  tests/unittests/test_interface_layer.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 1f82dada9c735f4736577575d3ac9c17c56b1b29
  benchmarks/data.js
Due: none

Add testing for 2025R1 server (#626)
  .github/workflows/ci_cd.yml
Due: none

add PyACP benchmarks (pytest) benchmark result for 6c097828de081b1fe5a9e75f409d8dd5c895c828
  benchmarks/data.js
Due: none

Fix network-limited benchmarks not running
  tests/benchmarks/conftest.py
Due: mypy-tests

Merge test data names, adapting to rename
  benchmarks/data.js
Due: none

fix missed conflict
  src/ansys/acp/core/__init__.py
Due: mypy-code

Enable changing the unit system (#567)
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_model.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
