Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

DOC: update development documentation 0d3d18c7e07bd5352d38b4a374750891ba192872
  version/dev/.buildinfo
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_001.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_002.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_003.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_004.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_005.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_001.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_002.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_003.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_004.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_005.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_006.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_007.vtksz
  version/dev/_images/sphx_glr_solve_class40_006.png
  version/dev/_sources/examples/gallery_examples/001_basic_flat_plate.rst.txt
  version/dev/_sources/examples/gallery_examples/002_start_from_existing_project.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/_sources/howto/index.rst.txt
  version/dev/_sources/howto/launch_configuration.rst.txt
  version/dev/_sources/howto/print_model.rst.txt
  version/dev/_sources/intro.rst.txt
  version/dev/examples/gallery_examples/001_basic_flat_plate.html
  version/dev/examples/gallery_examples/002_start_from_existing_project.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/howto/index.html
  version/dev/howto/launch_configuration.html
  version/dev/howto/print_model.html
  version/dev/intro.html
  version/dev/objects.inv
  version/dev/searchindex.js
Due: none

Add note about advanced concept
  doc/source/concepts/store.rst
Due: none

Add concept page, explain 'store' concept (#388)
  doc/source/concepts/index.rst
  doc/source/concepts/store.rst
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

add PyACP benchmarks (pytest) benchmark result for 67fbbb645e7ac7845b677052c4fa24637bc803ad
  benchmarks/data.js
Due: none

Simplify __init__ method of workflow
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Fix test
  tests/unittests/test_workflow.py
Due: mypy-tests

Rename function
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Adapt ACPWorkflow to embedded cdb file (#395)
  examples/001_basic_flat_plate.py
  examples/002_start_from_existing_project.py
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 9b2a437dc755367c1a084b35af3bca5a9ea8c437
  benchmarks/data.js
Due: none

Fix name
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Fix workflow creation
  tests/unittests/test_workflow.py
Due: mypy-tests

Support adding cad geometry from local files and refresh (#394)
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 1a5c7a29e15b5d8229929b899767b568792d6371
  benchmarks/data.js
Due: none

More examples
  examples/003_sandwich_panel.py
  examples/004_rules.py
  poetry.lock
  src/ansys/acp/core/_utils/example_helpers.py
Due: mypy-code, mypy-tests

Align top-bar navigation with other PyAnsys projects
  doc/source/index.rst
  doc/source/user_guide/concepts/index.rst
  doc/source/user_guide/concepts/store.rst
  doc/source/user_guide/howto/index.rst
  doc/source/user_guide/howto/launch_configuration.rst
  doc/source/user_guide/howto/print_model.rst
  doc/source/user_guide/index.rst
Due: none

DOC: update development documentation 1a5c7a29e15b5d8229929b899767b568792d6371
  version/dev/.buildinfo
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_001.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_002.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_003.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_004.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_005.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_001.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_002.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_003.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_004.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_005.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_006.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_007.vtksz
  version/dev/_sources/examples/gallery_examples/001_basic_flat_plate.rst.txt
  version/dev/_sources/examples/gallery_examples/002_start_from_existing_project.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/001_basic_flat_plate.html
  version/dev/examples/gallery_examples/002_start_from_existing_project.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Fix pre-commit hooks
  doc/source/api/plot_utils.rst
  src/ansys/acp/core/_plotter.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_typing_helper.py
Due: mypy-code

Move example helpers to separate submodule
  doc/source/api/example_helpers.rst
  doc/source/api/index.rst
  examples/001_basic_flat_plate.py
  examples/002_start_from_existing_project.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/example_helpers.py
Due: mypy-code, mypy-tests

Add submodule for material property sets
  doc/source/api/material_property_sets.rst
  examples/001_basic_flat_plate.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/material/__init__.py
  src/ansys/acp/core/material_property_sets.py
  tests/unittests/test_material.py
Due: mypy-code, mypy-tests

Update dependencies
  poetry.lock
Due: none

Direction Plots (#371)
  doc/source/api/index.rst
  doc/source/api/plot_utils.rst
  examples/001_basic_flat_plate.py
  poetry.lock
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_plotter.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_typing_helper.py
  src/ansys/acp/core/_utils/visualization.py
  tests/unittests/test_plot_utils.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 211e4d73b120739de98e3fb82913baef76a95ae3
  benchmarks/data.js
Due: none

Add missing callback setter to LinkedSelectionRule and TaperEdge
  .pre-commit-config.yaml
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_modeling_ply.py
Due: mypy-code, mypy-tests

Fix pre-commit checks
  tests/benchmarks/conftest.py
  tests/conftest.py
  tests/unittests/test_model.py
Due: mypy-tests

Run black
  examples/002_start_from_existing_project.py
Due: mypy-tests

Fix class locations in doc
  doc/source/api/material_property_sets.rst
  doc/source/api/other_types.rst
Due: none

Add limitations section
  doc/source/index.rst
Due: none

Extend rules example
  examples/004_rules.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
Due: mypy-code, mypy-tests

Improve module structure (#404)
  doc/source/api/example_helpers.rst
  doc/source/api/index.rst
  doc/source/api/material_property_sets.rst
  doc/source/api/other_types.rst
  examples/001_basic_flat_plate.py
  examples/002_start_from_existing_project.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/material/__init__.py
  src/ansys/acp/core/example_helpers.py
  src/ansys/acp/core/material_property_sets.py
  tests/unittests/test_material.py
Due: mypy-code, mypy-tests

Align top-bar navigation with other PyAnsys projects (#402)
  doc/source/index.rst
  doc/source/user_guide/concepts/index.rst
  doc/source/user_guide/concepts/store.rst
  doc/source/user_guide/howto/index.rst
  doc/source/user_guide/howto/launch_configuration.rst
  doc/source/user_guide/howto/print_model.rst
  doc/source/user_guide/index.rst
Due: none

Add missing callback setter to LinkedSelectionRule and TaperEdge (#405)
  .pre-commit-config.yaml
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  tests/benchmarks/conftest.py
  tests/conftest.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_model.py
  tests/unittests/test_modeling_ply.py
Due: mypy-code, mypy-tests

Add limitations section (#406)
  doc/source/index.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for f2ec33099ebb923c392da135cde2897fa498a81b
  benchmarks/data.js
Due: none

Handle missing mesh query data
  examples/001_basic_flat_plate.py
  examples/solve_class40.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  tests/unittests/test_modeling_ply.py
  type_checks/plots.py
Due: mypy-code, mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
