Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Fabric: complete material handling of solid models (#631)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/fabric.py
  tests/unittests/test_fabric.py
Due: mypy-code, mypy-tests

Run black on merged code
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Add Imported Plies (#600)
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  doc/source/index.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/imported_analysis_ply.py
  src/ansys/acp/core/_tree_objects/imported_modeling_group.py
  src/ansys/acp/core/_tree_objects/imported_modeling_ply.py
  src/ansys/acp/core/_tree_objects/imported_production_ply.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  tests/conftest.py
  tests/data/minimal_complete_model.acph5
  tests/data/minimal_model_imported_plies.acph5
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_imported_analysis_ply.py
  tests/unittests/test_imported_modeling_group.py
  tests/unittests/test_imported_modeling_ply.py
  tests/unittests/test_imported_production_ply.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_production_ply.py
Due: mypy-code, mypy-tests

Disable failing benchmark run (#633)
  .github/workflows/ci_cd.yml
  tests/benchmarks/conftest.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 9a3bcd19064ed9d19d9ba5c7fd597463e17c5a49
  benchmarks/data.js
Due: none

Implement SolidModel object
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_solid_model.py
Due: mypy-code, mypy-tests

Add export methods
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/test_solid_model.py
Due: mypy-code, mypy-tests

Improve test coverage
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/test_solid_model.py
Due: mypy-code, mypy-tests

Add SolidModel object (#635)
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_solid_model.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 148ea46600e9ef2509180f4651d8db8f0e625acc
  benchmarks/data.js
Due: none

Add SnapToGeometry objects
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/snap_to_geometry.py
Due: mypy-code

Add tests for snap-to geometry
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/test_snap_to_geometry.py
Due: mypy-code, mypy-tests

Skip SnapToGeometry tests on older servers
  tests/unittests/test_snap_to_geometry.py
Due: mypy-tests

Update src/ansys/acp/core/_tree_objects/snap_to_geometry.py
  src/ansys/acp/core/_tree_objects/snap_to_geometry.py
Due: mypy-code

Add snap-to geometry (#636)
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/snap_to_geometry.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/test_snap_to_geometry.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 17fbf433251a3f2ccc1593b8992e70c098d744f9
  benchmarks/data.js
Due: none

add ExtrusionGuide
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/extrusion_guide.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/test_extrusion_guide.py
Due: mypy-code, mypy-tests

run pre-commit checks
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/extrusion_guide.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/test_extrusion_guide.py
Due: mypy-code, mypy-tests

run pre-commit checks
  src/ansys/acp/core/_tree_objects/extrusion_guide.py
Due: mypy-code

fix wrongly resolved merge conflict
  src/ansys/acp/core/_tree_objects/solid_model.py
Due: mypy-code

add new types to the API documentation
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
Due: none

Apply suggestions from code review
  src/ansys/acp/core/_tree_objects/enums.py
Due: mypy-code

Add type information to create_ and add_ method documentation
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
Due: mypy-code

Add patch for signature handling in autodoc
  doc/source/conf.py
Due: none

improved logic for setting and getting the direction property
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/extrusion_guide.py
  tests/unittests/test_extrusion_guide.py
Due: mypy-code, mypy-tests

run pre-commit checks
  src/ansys/acp/core/_tree_objects/extrusion_guide.py
  tests/unittests/test_extrusion_guide.py
Due: mypy-code, mypy-tests

fix typing issues and mypy's alerts
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/extrusion_guide.py
Due: mypy-code

Refine monkeypatched signature function
  doc/source/api/enum_types.rst
  doc/source/conf.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
Due: mypy-code

Add nitpick ignore for MeshDataT
  doc/source/conf.py
Due: none

Get rid of typing.get_type_hints in signature override, add explicit eval / aliases
  doc/make.bat
  doc/source/api/enum_types.rst
  doc/source/conf.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/sensor.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
Due: mypy-code

Add return type documentation
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  doc/source/conf.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
Due: mypy-code

Add type information to create_ and add_ method documentation (#620)
  doc/make.bat
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/sensor.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for f98ec6bf7d85bd6fe93d0e2dff8a9da18bcafc2e
  benchmarks/data.js
Due: none

update one comment
  src/ansys/acp/core/_tree_objects/extrusion_guide.py
Due: mypy-code

Feat/add extrusion guide (#639)
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/extrusion_guide.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  tests/unittests/test_extrusion_guide.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 291e2b49cec0daace82f27dcd3829c208a862e8a
  benchmarks/data.js
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
