Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: "23.3.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.3.0]

  - repo: https://github.com/pycqa/isort
    rev: "5.12.0"
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: "6.1.0"
    hooks:
      - id: flake8
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock$'
  - repo: https://github.com/python-poetry/poetry/
    rev: "1.7.0"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      additional_dependencies: [toml]
      exclude: "^(tests/)|(examples/)"
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]
  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: ["--namespace-packages", "--explicit-package-bases"]

add PyACP benchmarks (pytest) benchmark result for b6bd26c8a4698c38c97332ded792dfd8980d8a44
  benchmarks/data.js
Due: none

Fix material property sets concept page (#451)
  doc/source/user_guide/concepts/material_property_sets.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for fc72cd3caecdb2c0e8f864ad523c44ff2c6eaed9
  benchmarks/data.js
Due: none

Use released version of internal dependencies
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  poetry.lock
  pyproject.toml
Due: none

Use released version of internal dependencies (#476)
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  poetry.lock
  pyproject.toml
Due: none

add PyACP benchmarks (pytest) benchmark result for b352381d631cd8dc32e265607981ba8129159059
  benchmarks/data.js
Due: none

Add rosette type and extend example
  doc/source/index.rst
  examples/006_rosettes.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/rosette.py
  tests/unittests/test_rosette.py
Due: mypy-code, mypy-tests

Fix some vale warnings
  doc/source/api/plot_utils.rst
  doc/source/conf.py
  doc/source/user_guide/concepts/material_property_sets.rst
  doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/launch_configuration.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Due: none

Update examples/006_rosettes.py
  examples/006_rosettes.py
Due: mypy-tests

Apply suggestions from code review
  examples/006_rosettes.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/rosette.py
Due: mypy-code, mypy-tests

Add edge set to Rosette and Rosette example.
  doc/source/api/other_types.rst
  examples/006_rosettes.py
  src/ansys/acp/core/_tree_objects/rosette.py
Due: mypy-code, mypy-tests

Fix more vale warnings
  doc/source/contributing.rst
  doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/file_management.rst
Due: none

Improve gallery thumbnails and theme (#469)
  doc/source/conf.py
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
  examples/solve_class40.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 221121ab9c3469bff38dc768c5629fc869070b67
  benchmarks/data.js
Due: none

Cosmetic changes
  examples/006_rosettes.py
Due: mypy-tests

Update lock file and add
  examples/006_rosettes.py
  poetry.lock
  tests/unittests/test_rosette.py
Due: mypy-tests

Add rosette example (#448)
  doc/source/api/other_types.rst
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/006_rosettes.py
  poetry.lock
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_plotter.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/rosette.py
  tests/unittests/test_rosette.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for eb7f1710ec0a0939b32ecf115c36d4ea82405468
  benchmarks/data.js
Due: none

Add reference direction field and use it in example
  examples/007_direction_definitions.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  tests/unittests/test_oriented_selection_set.py
Due: mypy-code, mypy-tests

Add reference direction field and use it in example
  examples/007_direction_definitions.py
Due: mypy-tests

Update doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/create_input_file.rst
Due: none

Update doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/file_management.rst
Due: none

Rosette example: change thumbnail
  examples/006_rosettes.py
Due: mypy-tests

Add missing newlines in launch_configuration.rst
  doc/source/user_guide/howto/launch_configuration.rst
Due: none

Apply suggestions from code review
  examples/007_direction_definitions.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
Due: mypy-code, mypy-tests

Add missing newlines in launch_configuration.rst (#484)
  doc/source/user_guide/howto/launch_configuration.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for 186eddc83abb0606c896761db9fec36492b23d50
  benchmarks/data.js
Due: none

Implement PR comments
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
  examples/006_rosettes.py
  examples/007_direction_definitions.py
Due: mypy-tests

Rosette example: change thumbnail (#482)
  examples/006_rosettes.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for a183fdcc36eb089adb4e6cfed91a71b87721c93e
  benchmarks/data.js
Due: none
