Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py38-plus]
- repo: https://github.com/psf/black
  rev: '22.12.0'
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: '5.12.0'
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: '6.0.0'
  hooks:
  - id: flake8
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
- repo: https://github.com/python-poetry/poetry/
  rev: '1.3.0'
  hooks:
  - id: poetry-check
    name: "poetry: check pyproject.toml syntax"
  # We're slightly abusing the 'poetry-lock' hook, by running
  # 'poetry lock --check' instead of 'poetry lock'
  - id: poetry-lock
    name: "poetry: check poetry.lock consistency"
    args: ['--check']
    files: '^(pyproject\.toml|poetry\.lock)$'
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
- repo: https://github.com/kynan/nbstripout
  rev: 0.6.1
  hooks:
  - id: nbstripout
    args: ["--extra-keys", "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode"]
- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|^(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)|^(examples/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Add parallel selection rule
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  tests/unittests/test_parallel_selection_rule.py
Due: mypy-code, mypy-tests

Add cylindrical, spherical and tube selection rules.
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  tests/unittests/test_cylindrical_selection_rule.py
  tests/unittests/test_spherical_selection_rule.py
  tests/unittests/test_tube_selection_rule.py
Due: mypy-code, mypy-tests

Add boolean selection rule implementation
  src/ansys/acp/core/_tree_objects/_grpc_helpers/polymorphic_from_pb.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
Due: mypy-code

Run pre-commit hooks
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
Due: mypy-code

Add mesh query to selection rules
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  tests/unittests/test_cylindrical_selection_rule.py
  tests/unittests/test_parallel_selection_rule.py
  tests/unittests/test_spherical_selection_rule.py
  tests/unittests/test_tube_selection_rule.py
Due: mypy-code, mypy-tests

Add test for Boolean Selection Rule
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_boolean_selection_rule.py
Due: mypy-code, mypy-tests

Add parameter table to LinkedSelectionRule
  doc/source/api/index.rst
  doc/source/api/linked_object_definitions.rst
  doc/source/api/other_types.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
Due: mypy-code

Remove duplicate autosummaries
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
Due: mypy-code

Implement link from OSS and Modeling Ply to selection rules
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/polymorphic_from_pb.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_oriented_selection_set.py
Due: mypy-code, mypy-tests

Use released ansys-dpf-composites, re-lock dependencies
  poetry.lock
  pyproject.toml
Due: none

Add selection rules (#252)
  doc/source/api/index.rst
  doc/source/api/linked_object_definitions.rst
  doc/source/api/other_types.rst
  doc/source/api/tree_objects.rst
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/polymorphic_from_pb.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_cylindrical_selection_rule.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_oriented_selection_set.py
  tests/unittests/test_parallel_selection_rule.py
  tests/unittests/test_spherical_selection_rule.py
  tests/unittests/test_tube_selection_rule.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 31dcf2436ddec4c8e90b6c20421289ebc46b4fcb
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for 88dbbb6b1980d3dccdfd18903e1170494f82f50f
  benchmarks/data.js
Due: none

DOC: update development documentation 88dbbb6b1980d3dccdfd18903e1170494f82f50f
  version/dev/.buildinfo
  version/dev/_images/sphx_glr_solve_class40_006.png
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Working version for v241 and remote
  examples/pymechanical/ACPCompositeDefinitions.h5
  examples/pymechanical/acp_future/Shims.cs
  examples/pymechanical/acp_future/readme.md
  examples/pymechanical/embedded_workflow.py
  examples/pymechanical/generate_mesh.py
  examples/pymechanical/materials.xml
  examples/pymechanical/remote_workflow.py
  examples/pymechanical/setup_acp_model.py
  poetry.lock
  pyproject.toml
Due: mypy-tests

Embedded workflow working
  examples/pymechanical/ACPCompositeDefinitions.h5
  examples/pymechanical/embedded_workflow.py
  examples/pymechanical/materials.xml
  examples/pymechanical/setup_acp_model.py
Due: mypy-tests

Cleanup code
  examples/pymechanical/acp_future/Shims.cs
  examples/pymechanical/embedded_workflow.py
  examples/pymechanical/postprocess_results.py
  examples/pymechanical/remote_workflow.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 05725f6760bdee89f5efa668aa6555d7df05344d
  benchmarks/data.js
Due: none

DOC: update development documentation 05725f6760bdee89f5efa668aa6555d7df05344d
  version/dev/.buildinfo
  version/dev/_images/sphx_glr_solve_class40_006.png
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Support ACP docker image
  examples/pymechanical/embedded_workflow.py
  examples/pymechanical/remote_workflow.py
  examples/pymechanical/setup_acp_model.py
Due: mypy-tests

Update src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 816748238fa27157fe2713afeec838be3aea4a15
  benchmarks/data.js
Due: none

Cleanup and more comments
  examples/pymechanical/acp_future/Shims.cs
  examples/pymechanical/acp_future/readme.md
  examples/pymechanical/constants.py
  examples/pymechanical/embedded_workflow.py
  examples/pymechanical/postprocess_results.py
  examples/pymechanical/remote_workflow.py
  examples/pymechanical/set_bc.py
  examples/pymechanical/setup_acp_model.py
Due: mypy-tests

More comments
  examples/pymechanical/Readme.md
  examples/pymechanical/acp_future/readme.md
  examples/pymechanical/embedded_workflow.py
  examples/pymechanical/generate_mesh.py
  examples/pymechanical/postprocess_results.py
  examples/pymechanical/remote_workflow.py
  examples/pymechanical/set_bc.py
  pyproject.toml
Due: mypy-tests

Jvonrick/analysis ply object (#253)
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  tests/unittests/test_analysis_ply.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 0c0d56426067008343380231dbb9101d66dfea75
  benchmarks/data.js
Due: none

More comments
  examples/pymechanical/Readme.md
Due: none

ignore typechecks for pymechanical example
  examples/pymechanical/embedded_workflow.py
  examples/pymechanical/generate_mesh.py
  examples/pymechanical/postprocess_results.py
  examples/pymechanical/remote_workflow.py
  examples/pymechanical/set_bc.py
Due: mypy-tests

Explicitly set default :latest for docker_image_suffix in CI
  .github/workflows/ci_cd.yml
  doc/source/api/tree_objects.rst
Due: none

Add 1D LUT
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_lookup_table_1d.py
Due: mypy-code, mypy-tests

Add 3D look-up table and column
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_lookup_table_3d.py
  tests/unittests/test_lookup_table_column.py
Due: mypy-code, mypy-tests

Address review comments
  src/ansys/acp/core/_tree_objects/lookup_table_1d.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_lookup_table_column.py
Due: mypy-code, mypy-tests

Add 1D look-up table column
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d_column.py
  src/ansys/acp/core/_utils/array_conversions.py
  tests/unittests/common/compare.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_lookup_table_1d_column.py
  tests/unittests/test_modeling_group.py
Due: mypy-code, mypy-tests

Update poetry lockfile
  poetry.lock
Due: none

Add look-up tables (#258)
  .github/workflows/ci_cd.yml
  doc/source/api/tree_objects.rst
  poetry.lock
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_utils/array_conversions.py
  tests/unittests/common/compare.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_lookup_table_1d.py
  tests/unittests/test_lookup_table_3d.py
  tests/unittests/test_lookup_table_column.py
  tests/unittests/test_modeling_group.py
Due: mypy-code, mypy-tests
