Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/psf/black
    rev: "25.1.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==25.1.0]

  - repo: https://github.com/pycqa/isort
    rev: "6.0.0"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.1.2"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock|pyproject\.toml|.*\.svg$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "2.1.1"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.5.1
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

Add 'force_disable_result_extrapolation' property
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/helpers.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Clarify that the venv is needed for running ansys-launcher (#845)
  doc/source/user_guide/howto/launch_configuration.rst
Due: none

Add 'force_disable_result_extrapolation' property (#846)
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/helpers.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Normalize strings before converting to protobuf enum values
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  tests/unittests/test_acp_instance.py
Due: mypy-code, mypy-tests

Add export methods to the SectionCut
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/section_cut.py
Due: mypy-code

Add tests for export, fix BECAS export
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_tree_objects/section_cut.py
  tests/unittests/test_section_cut.py
Due: mypy-code, mypy-tests

Extend comment about auto_download
  src/ansys/acp/core/_tree_objects/section_cut.py
Due: mypy-code

Create 'Added in 2025R2' section to docs
  doc/source/user_guide/compatibility.rst
Due: none

Add missing feature changes
  doc/source/user_guide/compatibility.rst
Due: none

Fix capitalization
  doc/source/user_guide/compatibility.rst
Due: none

Re-enable the 'price' attribute on ModelElementalData
  src/ansys/acp/core/_server/launch.py
  src/ansys/acp/core/_tree_objects/_elemental_or_nodal_data.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/data/regression_model_717.acph5
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Skip regression test on 24R2
  tests/unittests/test_model.py
Due: mypy-tests

Add missing SectionCutCDBExportType to docs and __all__
  doc/source/api/enum_types.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
Due: mypy-code

Add tests for trying to export out-of-date SectionCut
  tests/unittests/test_section_cut.py
Due: mypy-tests

Skip price data to PyVista test on older server versions
  tests/unittests/test_model.py
Due: mypy-tests

Fix export docstring
  src/ansys/acp/core/_tree_objects/section_cut.py
Due: mypy-code

Add section cut export methods (#850)
  doc/source/api/enum_types.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/section_cut.py
  tests/unittests/test_section_cut.py
Due: mypy-code, mypy-tests

Re-enable the 'price' attribute on ModelElementalData (#853)
  src/ansys/acp/core/_server/launch.py
  src/ansys/acp/core/_tree_objects/_elemental_or_nodal_data.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/data/regression_model_717.acph5
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Remove unused snippet from mechanical integration helper (#832)
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code

Pass GITHUB_TOKEN to release-github action (#844)
  .github/workflows/ci_cd.yml
Due: none

Add how-to guide for recursive_copy
  doc/source/conf.py
  doc/source/user_guide/howto/copy_objects.rst
  doc/source/user_guide/howto/index.rst
  src/ansys/acp/core/_model_printer.py
Due: mypy-code

Normalize strings before converting to protobuf enum values (#848)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  tests/unittests/test_acp_instance.py
Due: mypy-code, mypy-tests

Create 'Added in 2025R2' section to docs (#851)
  doc/source/user_guide/compatibility.rst
Due: none

Add test for label_by_id in tree printer
  tests/unittests/test_tree_printer.py
Due: mypy-tests

Regenerate lockfile
  poetry.lock
Due: none

Add manual headers for testcode and testoutput
  doc/source/user_guide/howto/copy_objects.rst
Due: none

Tweak title
  doc/source/user_guide/howto/copy_objects.rst
Due: none

More title tweaks
  doc/source/user_guide/howto/copy_objects.rst
Due: none

Regenerate poetry lockfile (#855)
  poetry.lock
Due: none

Add how-to for copying objects (#854)
  doc/source/conf.py
  doc/source/user_guide/howto/copy_objects.rst
  doc/source/user_guide/howto/index.rst
  src/ansys/acp/core/_model_printer.py
  tests/unittests/test_tree_printer.py
Due: mypy-code, mypy-tests

Set the version to 0.2.0
  pyproject.toml
Due: none

Bump the version to 0.2.1.dev0
  pyproject.toml
Due: none

test: actions v10
  .github/workflows/ci_cd.yml
  .github/workflows/package_cleanup.yml
Due: none

test: point to fix branch
  .github/workflows/package_cleanup.yml
Due: none

test: revert to main branch
  .github/workflows/package_cleanup.yml
Due: none

test: reduce input value
  .github/workflows/package_cleanup.yml
Due: none

Ignore override error in analysis ply test method
  tests/unittests/test_analysis_ply.py
Due: mypy-tests

Add a `connect_local` launch mode
  doc/source/api/server.rst
  doc/source/user_guide/howto/launch_configuration.rst
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/connect.py
  src/ansys/acp/core/_server/launch.py
Due: mypy-code

Remove default for url_acp
  src/ansys/acp/core/_server/connect.py
Due: mypy-code
