Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]

  - repo: https://github.com/psf/black
    rev: "24.3.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.3.0]

  - repo: https://github.com/pycqa/isort
    rev: "5.13.2"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.0.0"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "1.8.0"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.2.9
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

Update thumbnail
  doc/source/_static/gallery_thumbnails/sphx_glr_06-cdb-to-pymechanical-workflow_thumb.png
Due: none

add example for composite cae h5
  examples/modeling_features/01-sandwich-panel-layup.py
  examples/modeling_features/02-simple-selection-rules.py
  examples/modeling_features/020-solid_model.py
  examples/modeling_features/021-imported-solid-model.py
  examples/modeling_features/03-advanced-selection-rules.py
  examples/modeling_features/04-layup-thickness-definitions.py
  examples/modeling_features/05-rosettes-ply-directions.py
  examples/modeling_features/050-composite_cae_h5.py
  examples/modeling_features/06-ply-direction-lookup-table.py
  examples/modeling_features/07-imported-plies.py
  src/ansys/acp/core/_tree_objects/imported_analysis_ply.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/extras/__init__.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

Test solid_mesh property of imported solid model
  tests/unittests/test_imported_solid_model.py
Due: mypy-tests

Document the limitation of the mechanical composite failure tool (#713)
  doc/source/index.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for 27b839570a42e855193673eac7248a473b8e07a0
  benchmarks/data.js
Due: none

Minor tweaks to PyMechanical workflow examples (#712)
  doc/source/_static/gallery_thumbnails/sphx_glr_06-cdb-to-pymechanical-workflow_thumb.png
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
Due: mypy-tests

run pre-commit check
  tests/unittests/test_imported_solid_model.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 2ff380a01b259a8d71c97f188add0be32ddd2106
  benchmarks/data.js
Due: none

Fix tree printer to include all object types (#679)
  doc/source/user_guide/howto/print_model.rst
  src/ansys/acp/core/_model_printer.py
  tests/unittests/test_tree_printer.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for d440904ba14e2ade888e3a901a216d8e43f025b0
  benchmarks/data.js
Due: none

Add 'analysis_plies' property to solid model
  examples/modeling_features/020-solid_model.py
  src/ansys/acp/core/_tree_objects/solid_model.py
Due: mypy-code, mypy-tests

revert temporary change
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code

Rename 'Cutoff' to 'CutOff' and 'cutoff' to 'cut_off'
  doc/source/api/enum_types.rst
  doc/source/api/mesh_data.rst
  doc/source/api/tree_objects.rst
  doc/source/user_guide/howto/print_model.rst
  examples/modeling_features/020-solid_model.py
  examples/modeling_features/03-advanced-selection-rules.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/cut_off_selection_rule.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/mesh_data.py
  tests/unittests/test_cut_off_selection_rule.py
  tests/unittests/test_fabric.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_stackup.py
  tests/unittests/test_tree_printer.py
  type_checks/add_methods.py
Due: mypy-code, mypy-tests

Rename 'Dropoff' to 'DropOff' and 'dropoff' to 'drop_off'
  doc/source/api/enum_types.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  src/ansys/acp/core/_tree_objects/stackup.py
  tests/unittests/test_fabric.py
  tests/unittests/test_solid_model.py
  tests/unittests/test_stackup.py
Due: mypy-code, mypy-tests

Update doc/source/user_guide/howto/print_model.rst
  doc/source/user_guide/howto/print_model.rst
Due: none

Update src/ansys/acp/core/_tree_objects/cut_off_selection_rule.py
  src/ansys/acp/core/_tree_objects/cut_off_selection_rule.py
Due: mypy-code

finalize new examples
  examples/modeling_features/020-solid_model.py
  examples/modeling_features/050-composite_cae_h5.py
  examples/modeling_features/07-imported-plies.py
Due: mypy-tests

upload solid model file before passing to create_imported_solid_model.
  examples/modeling_features/050-composite_cae_h5.py
Due: mypy-tests

Update examples/modeling_features/07-imported-plies.py
  examples/modeling_features/07-imported-plies.py
Due: mypy-tests

implement remarks from code review
  examples/modeling_features/07-imported-plies.py
Due: mypy-tests

rename files of example
  doc/create_doc_windows.ps1
  examples/modeling_features/002-rosettes-ply-directions.py
  examples/modeling_features/003-simple-selection-rules.py
  examples/modeling_features/004-advanced-selection-rules.py
  examples/modeling_features/005-ply-direction-lookup-table.py
  examples/modeling_features/006-layup-thickness-definitions.py
  examples/modeling_features/010-sandwich-panel-layup.py
  examples/modeling_features/030-imported-plies.py
  examples/modeling_features/031-imported-solid-model.py
Due: mypy-tests

upload file that the example runs with a remote server
  examples/modeling_features/07-imported-plies.py
Due: mypy-tests

rename one reference to be consistent with the others
  examples/modeling_features/010-sandwich-panel-layup.py
Due: mypy-tests

Fix bad reference
  examples/modeling_features/050-composite_cae_h5.py
Due: mypy-tests

Add example for Imported Plies and the hdf5 composite cae interface (#714)
  examples/modeling_features/01-sandwich-panel-layup.py
  examples/modeling_features/02-simple-selection-rules.py
  examples/modeling_features/020-solid_model.py
  examples/modeling_features/021-imported-solid-model.py
  examples/modeling_features/03-advanced-selection-rules.py
  examples/modeling_features/04-layup-thickness-definitions.py
  examples/modeling_features/05-rosettes-ply-directions.py
  examples/modeling_features/050-composite_cae_h5.py
  examples/modeling_features/06-ply-direction-lookup-table.py
  examples/modeling_features/07-imported-plies.py
  src/ansys/acp/core/_tree_objects/imported_analysis_ply.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/extras/__init__.py
  src/ansys/acp/core/extras/example_helpers.py
  tests/unittests/test_imported_solid_model.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 799a674d483becbb68ec0d0d11cbfa81f685f962
  benchmarks/data.js
Due: none

remove obsolete file and ensure that all the content was migrated properly
  examples/modeling_features/030-imported-plies.py
  examples/modeling_features/07-imported-plies.py
Due: mypy-tests

Add 'analysis_plies' property to solid model (#715)
  examples/modeling_features/020-solid_model.py
  src/ansys/acp/core/_tree_objects/solid_model.py
Due: mypy-code, mypy-tests

Apply suggestions from code review
  examples/modeling_features/03-advanced-selection-rules.py
  src/ansys/acp/core/_tree_objects/cut_off_selection_rule.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 49cf253533d29af0c2110d2b939301071ae89116
  benchmarks/data.js
Due: none

Make cut off and drop off names consistent (#718)
  doc/source/api/enum_types.rst
  doc/source/api/mesh_data.rst
  doc/source/api/tree_objects.rst
  doc/source/user_guide/howto/print_model.rst
  examples/modeling_features/020-solid_model.py
  examples/modeling_features/03-advanced-selection-rules.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/cut_off_selection_rule.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/solid_model.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/mesh_data.py
  tests/unittests/test_cut_off_selection_rule.py
  tests/unittests/test_fabric.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_solid_model.py
  tests/unittests/test_stackup.py
  tests/unittests/test_tree_printer.py
  type_checks/add_methods.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for ca187a54b8d52943fea3d8ee8ffe0be8691175f0
  benchmarks/data.js
Due: none

Rename DimensionType to PhysicalDimension
  doc/source/api/enum_types.rst
  examples/modeling_features/03-advanced-selection-rules.py
  examples/modeling_features/04-layup-thickness-definitions.py
  examples/modeling_features/06-ply-direction-lookup-table.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
  tests/unittests/test_lookup_table_column.py
Due: mypy-code, mypy-tests

Added comment about renamed parameter
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
Due: mypy-code
