Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py38-plus]
- repo: https://github.com/psf/black
  rev: '22.12.0'
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: '5.12.0'
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: '6.0.0'
  hooks:
  - id: flake8
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
- repo: https://github.com/python-poetry/poetry/
  rev: '1.3.0'
  hooks:
  - id: poetry-check
    name: "poetry: check pyproject.toml syntax"
  # We're slightly abusing the 'poetry-lock' hook, by running
  # 'poetry lock --check' instead of 'poetry lock'
  - id: poetry-lock
    name: "poetry: check poetry.lock consistency"
    args: ['--check']
    files: '^(pyproject\.toml|poetry\.lock)$'
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
- repo: https://github.com/kynan/nbstripout
  rev: 0.6.1
  hooks:
  - id: nbstripout
    args: ["--extra-keys", "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode"]
- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|^(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)|^(examples/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Document upload and download
  src/ansys/acp/core/_client.py
Due: mypy-code

Remove unneeded readme parts
  README.rst
Due: none

Initial prototypes for workflow and examples
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
Due: mypy-code

Wrap gRPC exceptions in a simplified format
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/exceptions.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_error_formatting.py
Due: mypy-code, mypy-tests

Update expected exception types in tests
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_cad_geometry.py
  tests/unittests/test_production_ply.py
Due: mypy-tests

Omit status code from simplified exception message
  src/ansys/acp/core/_tree_objects/_grpc_helpers/exceptions.py
Due: mypy-code

Wrap gRPC exceptions in a simplified format (#336)
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/exceptions.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_cad_geometry.py
  tests/unittests/test_error_formatting.py
  tests/unittests/test_production_ply.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 88b1b7a50f0d9137cb781bec3e3ef571e0098810
  benchmarks/data.js
Due: none

DOC: update development documentation 88b1b7a50f0d9137cb781bec3e3ef571e0098810
  version/dev/.buildinfo
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_001.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_002.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_003.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_004.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_005.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_006.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_007.vtksz
  version/dev/_images/sphx_glr_solve_class40_006.png
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Improve type hints for 'register' and 'mark_grpc_properties'
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/object_registry.py
Due: mypy-code

Fix autocompletion for create_* methods
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
Due: mypy-code

Fix autocompletion for mutable mappings
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_utils/property_protocols.py
Due: mypy-code

Fix autocompletion of 'create_*' methods (#340)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/object_registry.py
  src/ansys/acp/core/_utils/property_protocols.py
Due: mypy-code

Improve autocompletion for grpc properties
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cad_component.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/edge_set.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
  src/ansys/acp/core/_tree_objects/material/material.py
  src/ansys/acp/core/_tree_objects/material/property_sets/puck_constants.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  src/ansys/acp/core/_tree_objects/rosette.py
  src/ansys/acp/core/_tree_objects/sensor.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  src/ansys/acp/core/_utils/array_conversions.py
  src/ansys/acp/core/_utils/property_protocols.py
Due: mypy-code

Revert accidental change in area_price
  src/ansys/acp/core/_tree_objects/fabric.py
  tests/unittests/common/compare.py
Due: mypy-code, mypy-tests

Run isort
  src/ansys/acp/core/_tree_objects/cad_geometry.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 0e6e5e28a3d4e3bff141900f959ab5ab594ef276
  benchmarks/data.js
Due: none

Improve autocompletion for grpc properties (#351)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cad_component.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/edge_set.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
  src/ansys/acp/core/_tree_objects/material/material.py
  src/ansys/acp/core/_tree_objects/material/property_sets/puck_constants.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  src/ansys/acp/core/_tree_objects/rosette.py
  src/ansys/acp/core/_tree_objects/sensor.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  src/ansys/acp/core/_utils/array_conversions.py
  src/ansys/acp/core/_utils/property_protocols.py
  tests/unittests/common/compare.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 22ec26b30ceea84be51513222c3bc00501103b2e
  benchmarks/data.js
Due: none

DOC: update development documentation 22ec26b30ceea84be51513222c3bc00501103b2e
  version/dev/.buildinfo
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_001.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_002.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_003.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_004.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_005.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_006.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_007.vtksz
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/api/_autosummary/ansys.acp.core.EdgeSet.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Improve plotting API
  examples/001_basic_flat_plate.py
  examples/002_start_from_existing_project.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  src/ansys/acp/core/model_printer.py
  src/ansys/acp/core/workflow.py
  tests/unittests/test_model.py
  tests/unittests/test_modeling_ply.py
Due: mypy-code, mypy-tests

Add devcontainer config
  .devcontainer/devcontainer.json
Due: none

Move temp directory logic from ACP Client to ACP workflow
  examples/001_basic_flat_plate.py
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/workflow.py
Due: mypy-code, mypy-tests

Update devcontainer config
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
Due: none

Try running install in Dockerfile
  .devcontainer/Dockerfile
Due: none

Add explicit type checks
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/edge_set.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
  src/ansys/acp/core/_tree_objects/material/material.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/rosette.py
  src/ansys/acp/core/_tree_objects/sensor.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  type_checks/README.md
  type_checks/create_methods.py
  type_checks/grpc_properties.py
  type_checks/mutable_mapping.py
Due: mypy-code

Add explicit type checks (#352)
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/edge_set.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
  src/ansys/acp/core/_tree_objects/material/material.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/rosette.py
  src/ansys/acp/core/_tree_objects/sensor.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  type_checks/README.md
  type_checks/create_methods.py
  type_checks/grpc_properties.py
  type_checks/mutable_mapping.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for ba544a27e831903de433492f65d3367dbdb32d8a
  benchmarks/data.js
Due: none

DOC: update development documentation ba544a27e831903de433492f65d3367dbdb32d8a
  version/dev/.buildinfo
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_001.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_002.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_003.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_004.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_005.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_006.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_007.vtksz
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/api/_autosummary/ansys.acp.core.BooleanSelectionRule.html
  version/dev/api/_autosummary/ansys.acp.core.CADGeometry.html
  version/dev/api/_autosummary/ansys.acp.core.CutoffSelectionRule.html
  version/dev/api/_autosummary/ansys.acp.core.CylindricalSelectionRule.html
  version/dev/api/_autosummary/ansys.acp.core.EdgeSet.html
  version/dev/api/_autosummary/ansys.acp.core.ElementSet.html
  version/dev/api/_autosummary/ansys.acp.core.Fabric.html
  version/dev/api/_autosummary/ansys.acp.core.GeometricalSelectionRule.html
  version/dev/api/_autosummary/ansys.acp.core.LookUpTable1D.html
  version/dev/api/_autosummary/ansys.acp.core.LookUpTable1DColumn.html
  version/dev/api/_autosummary/ansys.acp.core.LookUpTable3D.html
  version/dev/api/_autosummary/ansys.acp.core.LookUpTable3DColumn.html
  version/dev/api/_autosummary/ansys.acp.core.Material.html
  version/dev/api/_autosummary/ansys.acp.core.Model.html
  version/dev/api/_autosummary/ansys.acp.core.ModelingPly.html
  version/dev/api/_autosummary/ansys.acp.core.OrientedSelectionSet.html
  version/dev/api/_autosummary/ansys.acp.core.ParallelSelectionRule.html
  version/dev/api/_autosummary/ansys.acp.core.Rosette.html
  version/dev/api/_autosummary/ansys.acp.core.Sensor.html
  version/dev/api/_autosummary/ansys.acp.core.SphericalSelectionRule.html
  version/dev/api/_autosummary/ansys.acp.core.Stackup.html
  version/dev/api/_autosummary/ansys.acp.core.TubeSelectionRule.html
  version/dev/api/_autosummary/ansys.acp.core.VariableOffsetSelectionRule.html
  version/dev/api/_autosummary/ansys.acp.core.VirtualGeometry.html
  version/dev/api/tree_objects.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Add type hints for plot data objects
  examples/001_basic_flat_plate.py
  examples/002_start_from_existing_project.py
  examples/solve_class40.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
Due: mypy-code, mypy-tests

Get example files from example-data repo
  .github/workflows/ci_cd.yml
  README.rst
  examples/001_basic_flat_plate.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_utils/example_helpers.py
  src/ansys/acp/core/workflow.py
Due: mypy-code, mypy-tests

Fix download location of example
  src/ansys/acp/core/_utils/example_helpers.py
Due: mypy-code

Fix merge
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
Due: mypy-code

Refine tree object hierarchy
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Enable setting doc on properties
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/production_ply.py
Due: mypy-code

Fix package structure and add documentation
  README.rst
  doc/source/api/index.rst
  doc/source/api/tree_objects.rst
  doc/source/api/workflow.rst
  examples/001_basic_flat_plate.py
  examples/002_start_from_existing_project.py
  examples/solve_class40.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_utils/example_helpers.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code, mypy-tests

Delay import of ansys-dpf-composites
  README.rst
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Refine tree type hierarchy, fix some docstrings (#353)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/production_ply.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 62ec7ae1beb7010538f9c68a70b3d08db905f0dd
  benchmarks/data.js
Due: none
