Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: "23.3.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.3.0]

  - repo: https://github.com/pycqa/isort
    rev: "5.12.0"
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: "6.1.0"
    hooks:
      - id: flake8
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock$'
  - repo: https://github.com/python-poetry/poetry/
    rev: "1.7.0"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      additional_dependencies: [toml]
      exclude: "^(tests/)|(examples/)"
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]
  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: ["--namespace-packages", "--explicit-package-bases"]

Handle missing mesh query data (#403)
  examples/001_basic_flat_plate.py
  examples/solve_class40.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  tests/unittests/test_modeling_ply.py
  type_checks/plots.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 26a0427943a3253e14f563ffe95d51eab718a290
  benchmarks/data.js
Due: none

Update examples with upstream changes and use example files from examples repo.
  examples/003_sandwich_panel.py
  examples/004_rules.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/example_helpers.py
Due: mypy-code, mypy-tests

Add 'connect' launch mode
  README.rst
  doc/source/user_guide/howto/launch_configuration.rst
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/connect.py
  src/ansys/acp/core/_server/launch.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Remove Fabric.locked
  src/ansys/acp/core/_tree_objects/fabric.py
  type_checks/grpc_properties.py
Due: mypy-code

Remove Fabric.locked (#417)
  src/ansys/acp/core/_tree_objects/fabric.py
  type_checks/grpc_properties.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for fbcf2ec43f6c2f1fc3e6dbc56544f66ffe593025
  benchmarks/data.js
Due: none

Add concept page for material property sets
  doc/source/user_guide/concepts/material_property_sets.rst
  doc/source/user_guide/concepts/store.rst
  tests/unittests/test_material.py
Due: mypy-tests

Fix description for homogeneous core
  doc/source/user_guide/concepts/material_property_sets.rst
Due: none

Add classmethods to construct property sets from ortho-/isotropic constants
  examples/001_basic_flat_plate.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/engineering_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/strain_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/stress_limits.py
  tests/unittests/test_material.py
Due: mypy-code, mypy-tests

Improve error when unavailable material property is accessed
  doc/source/user_guide/concepts/index.rst
  doc/source/user_guide/concepts/material_property_sets.rst
  src/ansys/acp/core/_tree_objects/material/property_sets/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/engineering_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/property_helper.py
  src/ansys/acp/core/_tree_objects/material/property_sets/strain_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/stress_limits.py
  tests/unittests/test_material.py
Due: mypy-code, mypy-tests

Move import
  doc/source/user_guide/concepts/material_property_sets.rst
Due: none

Fix tests
  tests/unittests/test_material.py
Due: mypy-tests

Improve usability of isotropic / orthotropic material property sets (#414)
  doc/source/user_guide/concepts/index.rst
  doc/source/user_guide/concepts/material_property_sets.rst
  doc/source/user_guide/concepts/store.rst
  examples/001_basic_flat_plate.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/engineering_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/property_helper.py
  src/ansys/acp/core/_tree_objects/material/property_sets/strain_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/stress_limits.py
  tests/unittests/test_material.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 9dae1188245e405be2fd869a4b5bf0f44a23f706
  benchmarks/data.js
Due: none

Test change
  doc/source/index.rst
Due: none

Add another regression test
  tests/unittests/test_stackup.py
Due: mypy-tests

Fix conditional
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Fix empty resource path handling
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Add object permanence tests for container types
  tests/unittests/test_object_permanence.py
Due: mypy-tests

Fix empty resource path handling in EdgePropertyList
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
Due: mypy-code

Add object cache for tree objects
  src/ansys/acp/core/_tree_objects/base.py
  tests/unittests/test_object_permanence.py
Due: mypy-code, mypy-tests

Another regression test
  tests/unittests/test_stackup.py
Due: mypy-tests

Make edge property list instances permanent
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
Due: mypy-code

Add extra checks for empty resource paths
  src/ansys/acp/core/_tree_objects/base.py
  tests/unittests/test_object_permanence.py
Due: mypy-code, mypy-tests

Add regression test
  tests/unittests/test_parallel_selection_rule.py
Due: mypy-tests

Factor out object cache into mixin class
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_object_cache.py
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Add note about using id() as cache key
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  tests/unittests/test_object_permanence.py
Due: mypy-code, mypy-tests

Add 'connect' launch mode (#416)
  README.rst
  doc/source/user_guide/howto/launch_configuration.rst
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_server/connect.py
  src/ansys/acp/core/_server/launch.py
  tests/conftest.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for ca4339f5fc919e4f5b55f2ddd7e606050bd71fee
  benchmarks/data.js
Due: none

Get ansys-api-tools-filetransfer from public PyPI
  .ci/internal_requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Split selection rule example in 2
  examples/003_sandwich_panel.py
  examples/004_basic_rules.py
  examples/005_advanced_rules.py
Due: mypy-tests

Remove comment
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
Due: mypy-code

Get ansys-api-tools-filetransfer from public PyPI (#422)
  .ci/internal_requirements.txt
  poetry.lock
  pyproject.toml
Due: none

add PyACP benchmarks (pytest) benchmark result for d6fcff87e5bd4b27255881c12d05b529e332ce44
  benchmarks/data.js
Due: none

Delay MAPDL import
  src/ansys/acp/core/example_helpers.py
Due: mypy-code
