Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py38-plus]
- repo: https://github.com/psf/black
  rev: '22.12.0'
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: '5.12.0'
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: '6.0.0'
  hooks:
  - id: flake8
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
- repo: https://github.com/python-poetry/poetry/
  rev: '1.3.0'
  hooks:
  - id: poetry-check
    name: "poetry: check pyproject.toml syntax"
  # We're slightly abusing the 'poetry-lock' hook, by running
  # 'poetry lock --check' instead of 'poetry lock'
  - id: poetry-lock
    name: "poetry: check poetry.lock consistency"
    args: ['--check']
    files: '^(pyproject\.toml|poetry\.lock)$'
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
- repo: https://github.com/kynan/nbstripout
  rev: 0.6.1
  hooks:
  - id: nbstripout
    args: ["--extra-keys", "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode"]
- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|^(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)|^(examples/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Expose mesh data, add plotting capability.
  examples/solve_class40.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_utils/array_conversions.py
  src/ansys/acp/core/_utils/visualization.py
Due: mypy-code, mypy-tests

Add comment regarding the enum key / value conversion
  src/ansys/acp/core/_tree_objects/enums.py
Due: mypy-code

Fix name of NamedTreeObject Add test for production ply list refresh.
  src/ansys/acp/core/_tree_objects/base.py
  tests/unittests/test_production_ply.py
Due: mypy-code, mypy-tests

Remove unneeded import
  tests/unittests/test_production_ply.py
Due: mypy-tests

Expose mesh data, add plotting capability. (#231)
  examples/solve_class40.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_utils/array_conversions.py
  src/ansys/acp/core/_utils/visualization.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 8ed07ce9742f19940c3b52cea866b7ed7a46724b
  benchmarks/data.js
Due: none

Fix typo in drop_off_material
  src/ansys/acp/core/_tree_objects/stackup.py
Due: mypy-code

Fix MutableSequence interface in linked_object_list
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
Due: mypy-code

Fix MutableSequence interface in edge_property_list
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
Due: mypy-code

Basic analysis ply object
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  tests/unittests/test_analysis_ply.py
Due: mypy-code, mypy-tests

Add __slots___
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

rename mappings an stub protocols
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/property_helper.py
Due: mypy-code

Add tests for model mesh data
  tests/unittests/test_model.py
Due: mypy-tests

Add tests for pyvista conversion, modeling ply mesh data
  tests/unittests/test_model.py
  tests/unittests/test_modeling_ply.py
Due: mypy-tests

Use shim to avoid internal (COM-) objects
  examples/pymechanical/acp_future/ACPFuture.csproj
  examples/pymechanical/acp_future/ACPFuture.sln
  examples/pymechanical/acp_future/Properties/AssemblyInfo.cs
  examples/pymechanical/acp_future/Shims.cs
  examples/pymechanical/generate_mesh.py
  examples/pymechanical/remote_workflow.py
  poetry.lock
  pyproject.toml
Due: mypy-tests

Add some files to .gitignore
  .gitignore
Due: none

Apply suggestions from code review
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
Due: mypy-code

Implement PR comments
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_production_ply.py
Due: mypy-code, mypy-tests

Add tests for mesh data (#249)
  tests/unittests/test_model.py
  tests/unittests/test_modeling_ply.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 50c8a6f8d3bb27e1582cfe1ca0e7051c82497003
  benchmarks/data.js
Due: none

DOC: update development documentation 50c8a6f8d3bb27e1582cfe1ca0e7051c82497003
  version/dev/.buildinfo
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Implement PR comments
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  tests/unittests/common/tree_object_tester.py
Due: mypy-code, mypy-tests

Fix import order
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
Due: mypy-code

Jvonrick/production ply object (#244)
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/property_helper.py
  src/ansys/acp/core/_tree_objects/material/property_sets/wrapper.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/object_registry.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_production_ply.py
Due: mypy-code, mypy-tests

Expose mesh data on production plies
  src/ansys/acp/core/_tree_objects/production_ply.py
  tests/unittests/test_production_ply.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for ba6656f665601a9d27370158b1a096a67292ea6a
  benchmarks/data.js
Due: none

Add missing analysis_plies in production ply
  src/ansys/acp/core/_tree_objects/production_ply.py
Due: mypy-code

Fix string representation of objects containing edge property list
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
Due: mypy-code

implement suggestions from the code review.
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/stackup.py
Due: mypy-code

apply pre-commit check
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
Due: mypy-code

Exposure of Stackup (#239)
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/stackup.py
  tests/unittests/test_stackup.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 2df92e53cd419a06af64dd87ddafcfe43f1491e6
  benchmarks/data.js
Due: none

Add analysis_ply to documentation
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/production_ply.py
Due: mypy-code

Update poetry lock file to get analysis ply protos
  poetry.lock
Due: none

Add Mesh data for analysis plies
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  tests/unittests/test_analysis_ply.py
Due: mypy-code, mypy-tests

Expose mesh data on production plies (#251)
  src/ansys/acp/core/_tree_objects/production_ply.py
  tests/unittests/test_production_ply.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 3f31101f3c319e09fcd9284b258a254dfd2d1a09
  benchmarks/data.js
Due: none
