Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Rename DimensionType to PhysicalDimension (#716)
  doc/source/api/enum_types.rst
  examples/modeling_features/03-advanced-selection-rules.py
  examples/modeling_features/04-layup-thickness-definitions.py
  examples/modeling_features/06-ply-direction-lookup-table.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_column_base.py
  tests/unittests/test_lookup_table_column.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 751e3934eacedcd155a1067a559e50962a9a42e6
  benchmarks/data.js
Due: none

Sort examples (#719)
  doc/create_doc_windows.ps1
  examples/modeling_features/002-rosettes-ply-directions.py
  examples/modeling_features/003-simple-selection-rules.py
  examples/modeling_features/004-advanced-selection-rules.py
  examples/modeling_features/005-ply-direction-lookup-table.py
  examples/modeling_features/006-layup-thickness-definitions.py
  examples/modeling_features/010-sandwich-panel-layup.py
  examples/modeling_features/030-imported-plies.py
  examples/modeling_features/031-imported-solid-model.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 3ae9d16ec360754137bd5faeff3d7ed62b6a0e18
  benchmarks/data.js
Due: none

add sensor example
  doc/source/index.rst
  examples/modeling_features/006-sensor.py
  src/ansys/acp/core/extras/__init__.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

update index of new example
  examples/modeling_features/007-sensor.py
Due: mypy-tests

fix type check if thickness data is none
  examples/modeling_features/007-sensor.py
Due: mypy-tests

fix reference to OrientedSelectionSet
  examples/modeling_features/007-sensor.py
Due: mypy-tests

Fix tests
  tests/unittests/test_model.py
Due: mypy-tests

Fix: disable 'price' on 'ModelElementalData'
  examples/modeling_features/031-imported-solid-model.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code, mypy-tests

Fix: disable 'price' on 'ModelElementalData' (#721)
  examples/modeling_features/031-imported-solid-model.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Doc: remove beta note from the main doc page
  doc/source/index.rst
  pyproject.toml
Due: none

add PyACP benchmarks (pytest) benchmark result for ec6d1530b8bd3f6d00340925336c15eb4f9ea016
  benchmarks/data.js
Due: none

add sensor example (#723)
  doc/source/index.rst
  examples/modeling_features/007-sensor.py
  src/ansys/acp/core/extras/__init__.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 7d2e00a7ee4dd73293b63f2ceaae8f00c6d2667c
  benchmarks/data.js
Due: none

Doc: remove beta note from the main doc page (#709)
  doc/source/index.rst
  pyproject.toml
Due: none

add PyACP benchmarks (pytest) benchmark result for 98ea99755a43632c8e7d747faf2e6cdbd7a3b13a
  benchmarks/data.js
Due: none

Fix vale warnings
  doc/source/_static/gallery_thumbnails/README.txt
  doc/source/user_guide/howto/file_management.rst
Due: none

Fix flaky object permanence test
  tests/unittests/test_object_permanence.py
Due: mypy-tests

Fix flaky object permanence test (#726)
  tests/unittests/test_object_permanence.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 10f4b16ab8af1856f4473f7bb220c84be68937b8
  benchmarks/data.js
Due: none

Add compatibility and upgrade section
  doc/source/user_guide/compatibility.rst
  doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/index.rst
Due: none

Fix vale warnings
  doc/styles/config/vocabularies/ANSYS/accept.txt
Due: none

Upgrade indirect dependencies
  poetry.lock
Due: none

Fix incorrect method reference
  doc/source/user_guide/compatibility.rst
Due: none

Add compatibility and upgrade section (#727)
  doc/source/user_guide/compatibility.rst
  doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Due: none

add PyACP benchmarks (pytest) benchmark result for da9ed3ba7765286fa5e3dd9dada136b98eb0e594
  benchmarks/data.js
Due: none

Bump version to 0.1rc1
  pyproject.toml
Due: none

Upgrade indirect dependencies (#728)
  poetry.lock
Due: none

add PyACP benchmarks (pytest) benchmark result for 84ae4b76ac7ef94665d4d35aeef3402e280ca7a7
  benchmarks/data.js
Due: none

Adapt security considerations to mention auto-transfer mode
  doc/source/user_guide/security_considerations.rst
Due: none

Switch to main branch for doc-style action
  .github/workflows/ci_cd.yml
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
