Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]

  - repo: https://github.com/psf/black
    rev: "24.3.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.3.0]

  - repo: https://github.com/pycqa/isort
    rev: "5.13.2"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.0.0"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "1.8.0"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.2.9
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

Update spelling of PyDPF - Composites (#755)
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/pymechanical_with_shim/embedded_workflow.py
  examples/use_cases/01-optimizing-ply-angles.py
  examples/workflows/01-pymapdl-workflow.py
  examples/workflows/02-advanced-pymapdl-workflow.py
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  src/ansys/acp/core/dpf_integration_helpers.py
Due: mypy-code, mypy-tests

Add PyACP logo to documentation
  .pre-commit-config.yaml
  README.rst
  doc/source/_static/pyacp.svg
  doc/source/index.rst
Due: none

Improve error message on inexistent files with local server (#754)
  src/ansys/acp/core/_server/acp_instance.py
  tests/unittests/test_acp_instance.py
Due: mypy-code, mypy-tests

Add PyACP logo (#756)
  .pre-commit-config.yaml
  README.rst
  doc/source/_static/pyacp.svg
  doc/source/index.rst
Due: none

Bump version number to 0.1.0
  pyproject.toml
Due: none

Update ansys-mapdl-core dependency
  poetry.lock
  pyproject.toml
Due: none

add PyACP benchmarks (pytest) benchmark result for f7a7b17b5f8e95a80600c5cbe1894dfbb5678e85
  benchmarks/data.js
Due: none

Set LIBGL_ALWAYS_SOFTWARE env variable in doc build
  .github/workflows/ci_cd.yml
Due: none

Set LIBGL_ALWAYS_SOFTWARE env variable in doc build (#762)
  .github/workflows/ci_cd.yml
Due: none

add PyACP benchmarks (pytest) benchmark result for d47183c083168fb70a763c965bcb3eb6a2839489
  benchmarks/data.js
Due: none

Use feature branch of PyMAPDL
  poetry.lock
  pyproject.toml
Due: none

Remove now-unused type ignore statements
  examples/modeling_features/005-ply-direction-lookup-table.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for b944c2c389260399a27edbceffd32ede0d942765
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for 3a1e32302f26e9562edef93a5bf3ee78fb399d7e
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for 9574b0ff224a5f4a9e2c10b56e45e0e03de47700
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for f1924cbfb086f1db04662dbb6cfcfdd51882196e
  benchmarks/data.js
Due: none

Added example models for the getting started section, changed intro.rst to account for the changes and have the files needed
  doc/source/intro.rst
  examples/.gitignore
  examples/getting_started/model.acph5
  examples/getting_started/model.cdb
Due: none

WIP on Getting Started, moving files to the ansys/example-data repo
  doc/source/intro.rst
  examples/getting_started/model.acph5
  examples/getting_started/model.cdb
Due: none

Added getting started files to helper to download files
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code

WIP on doc, changed names in helper function to download examples
  doc/source/intro.rst
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code

Modified Getting Started guide to be more verbose and more similar to the examples code. Can be run from start to end from a user + works with doctest
  doc/source/intro.rst
Due: none

Pre-commit hooks
  doc/source/intro.rst
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code

Update doc/source/intro.rst
  doc/source/intro.rst
Due: none

Updated example files key name + doc
  doc/source/intro.rst
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code

Moved material name assignment to proper section
  doc/source/intro.rst
Due: none

Getting Started update (#774)
  doc/source/intro.rst
  examples/.gitignore
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 8bbe9223acf83b77ad758eeb61fbfb2fd4f30834
  benchmarks/data.js
Due: none

Fix Vale style warnings
  doc/source/intro.rst
Due: none

Update pre-commit hooks, use poetry 2.x
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  README.rst
  dockerfiles/DirectLaunchTest.Dockerfile
  pyproject.toml
Due: none

Use main branch (raw) for logo link
  README.rst
Due: none

Always orphan the gh-pages branch
  .github/workflows/ci_cd.yml
Due: none

Use main branch for logo link (#780)
  README.rst
Due: none
