Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]

  - repo: https://github.com/psf/black
    rev: "24.3.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.3.0]

  - repo: https://github.com/pycqa/isort
    rev: "5.13.2"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.0.0"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "1.8.0"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.2.9
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

Remove deprecated version in Docker compose files
  docker-compose/docker-compose-benchmark.yaml
  docker-compose/docker-compose-extras.yaml
  src/ansys/acp/core/_server/docker-compose.yaml
Due: none

Add CI tests with 'direct' launch mode
  .github/workflows/ci_cd.yml
  dockerfiles/DirectLaunchTest.Dockerfile
  dockerfiles/DirectLaunchTest.Dockerfile.dockerignore
  tests/unittests/test_cad_geometry.py
  tests/unittests/test_imported_solid_model.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for bcc80d3e587a7cd042aaf9df4863d78788f46198
  benchmarks/data.js
Due: none

Add CI tests with 'direct' launch mode (#700)
  .github/workflows/ci_cd.yml
  dockerfiles/DirectLaunchTest.Dockerfile
  dockerfiles/DirectLaunchTest.Dockerfile.dockerignore
  tests/unittests/test_cad_geometry.py
  tests/unittests/test_imported_solid_model.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 218e03fd5e12c3407a38aa52df2bb8085f5dd6a3
  benchmarks/data.js
Due: none

Add CDB to PyMechanical example
  doc/source/_static/gallery_thumbnails/sphx_glr_06-cdb-to-pymechanical-workflow_thumb.png
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code, mypy-tests

Remove deprecated version in Docker compose files (#704)
  docker-compose/docker-compose-benchmark.yaml
  docker-compose/docker-compose-extras.yaml
  src/ansys/acp/core/_server/docker-compose.yaml
Due: none

add PyACP benchmarks (pytest) benchmark result for a9eea3c7c87a4a4257867065db5a68cf69a6be90
  benchmarks/data.js
Due: none

Add [plotting] extra when installing in nightly build
  .github/workflows/nightly.yml
Due: none

Add description
  examples/workflows/06-cdb-to-pymechanical-workflow.py
Due: mypy-tests

Rename mesh import helper function
  doc/source/api/mechanical_integration_helpers.rst
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code, mypy-tests

Add solid_mesh to SolidElementSet and finalize the example.
  examples/modeling_features/021-imported-solid-model.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/solid_element_set.py
Due: mypy-code, mypy-tests

Doc: add link to the Ansys Help Composites page
  doc/source/conf.py
  doc/source/index.rst
Due: none

Fix type check
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
Due: mypy-code

Make format of the refresh method optional
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
Due: mypy-code

Doc: add link to the Ansys Help Composites page (#708)
  doc/source/conf.py
  doc/source/index.rst
Due: none

Fix file handling
  examples/modeling_features/021-imported-solid-model.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for 4d20b6da0629abae8c895f074a91668cf2c3b4bd
  benchmarks/data.js
Due: none

Add CDB to PyMechanical example (#705)
  doc/source/_static/gallery_thumbnails/sphx_glr_06-cdb-to-pymechanical-workflow_thumb.png
  doc/source/api/mechanical_integration_helpers.rst
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/06-cdb-to-pymechanical-workflow.py
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for e36f836626eae9ca076c4072ce2d76e7f2fb3e0a
  benchmarks/data.js
Due: none

Update doc string of refresh methods of ImportedSolidModel and CADGeometry
  examples/modeling_features/021-imported-solid-model.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
Due: mypy-code, mypy-tests

Add [plotting] extra when installing in nightly build (#706)
  .github/workflows/nightly.yml
Due: none

Fix tree printer to include all object types
  src/ansys/acp/core/_model_printer.py
  tests/unittests/test_tree_printer.py
Due: mypy-code, mypy-tests

Fix doctests, add hide_empty flag to print function
  doc/source/user_guide/howto/print_model.rst
  src/ansys/acp/core/_model_printer.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for c34ff5323c01125d7cbd4afe6cab8394c3c7bcd3
  benchmarks/data.js
Due: none

Add unit tests for the edited and enhanced functions.
  tests/unittests/test_imported_solid_model.py
  tests/unittests/test_solid_element_set.py
Due: mypy-tests

Docs/imported solid model (#697)
  examples/modeling_features/021-imported-solid-model.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/solid_element_set.py
  src/ansys/acp/core/extras/example_helpers.py
  tests/unittests/test_imported_solid_model.py
  tests/unittests/test_solid_element_set.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 0ecbd0732dc802876dadc950bfc872217d0c2bde
  benchmarks/data.js
Due: none

Minor tweaks to PyMechanical workflow examples
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
Due: mypy-tests

Change thickness and force values in CDB to PyMechanical example
  examples/workflows/06-cdb-to-pymechanical-workflow.py
Due: mypy-tests

Add first draft of Imported Plies example, polish plots of the solid model and imported solid model examples. Add solid_mesh property to the imported solid model and imported_analysis_ply.
  examples/modeling_features/020-solid_model.py
  examples/modeling_features/021-imported-solid-model.py
  examples/modeling_features/07-imported-plies.py
  src/ansys/acp/core/_tree_objects/imported_analysis_ply.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

Polish imported plies example
  examples/modeling_features/07-imported-plies.py
Due: mypy-tests

Document the limitation of the mechanical composite failure tool
  doc/source/index.rst
Due: none
