Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Implement ButtJointSequence objects
  doc/source/api/linked_object_definitions.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-code, mypy-tests

Skip ButtJointSequence tests on 242 server
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-tests

Update src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
Due: mypy-code

Tweak docstring
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
Due: mypy-code

Run pre-commit hooks
  src/ansys/acp/core/_tree_objects/modeling_group.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for d3986e6d68c9c2e303231d097a758c8000883454
  benchmarks/data.js
Due: none

skip imported ply tests if the server is older than 2025 R1
  tests/unittests/test_imported_analysis_ply.py
  tests/unittests/test_imported_modeling_group.py
  tests/unittests/test_imported_modeling_ply.py
  tests/unittests/test_imported_production_ply.py
Due: mypy-tests

cosmetic changes
  tests/unittests/test_imported_analysis_ply.py
  tests/unittests/test_imported_modeling_group.py
  tests/unittests/test_imported_modeling_ply.py
  tests/unittests/test_imported_production_ply.py
Due: mypy-tests

Add ButtJointSequence exposure (#606)
  doc/source/api/linked_object_definitions.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 0dcd83498d21b634d3a4add1c3b8a25f62a3701d
  benchmarks/data.js
Due: none

fix docu
  doc/source/api/enum_types.rst
Due: none

Update API library dependency
  poetry.lock
  pyproject.toml
Due: none

Add Sampling Point
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/sampling_point.py
Due: mypy-code

Add sampling point tests
  tests/unittests/test_sampling_point.py
Due: mypy-tests

Add section cut
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/section_cut.py
Due: mypy-code

Finish docstring
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/section_cut.py
Due: mypy-code

Add tests for section cut
  tests/unittests/test_section_cut.py
Due: mypy-tests

Skip tests on 24R2
  tests/unittests/test_section_cut.py
Due: mypy-tests

fix docu build
  src/ansys/acp/core/_tree_objects/enums.py
Due: mypy-code

fix docu
  src/ansys/acp/core/_tree_objects/imported_analysis_ply.py
  src/ansys/acp/core/_tree_objects/imported_modeling_group.py
Due: mypy-code

complete material handling for solid models to fabric
  src/ansys/acp/core/_tree_objects/fabric.py
  tests/unittests/test_fabric.py
Due: mypy-code, mypy-tests

add supported since handling to the new properties
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/fabric.py
  tests/unittests/test_fabric.py
Due: mypy-code, mypy-tests

run pre-commit hooks
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/fabric.py
  tests/unittests/test_fabric.py
Due: mypy-code, mypy-tests

Fix network-limited benchmarks not running (#627)
  tests/benchmarks/conftest.py
Due: mypy-tests

Update API library dependency (#628)
  poetry.lock
  pyproject.toml
Due: none

Run all benchmarks on Python 3.12 / latest server
  .github/workflows/ci_cd.yml
Due: none

Disable 100ms benchmark
  tests/benchmarks/conftest.py
Due: mypy-tests

Update section cut limitation
  doc/source/index.rst
Due: none

Add section cut (#630)
  doc/source/api/enum_types.rst
  doc/source/api/tree_objects.rst
  doc/source/index.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/section_cut.py
  tests/unittests/test_section_cut.py
Due: mypy-code, mypy-tests

Add note about sampling point limitation
  doc/source/index.rst
Due: none

Add sampling point (#629)
  doc/source/api/tree_objects.rst
  doc/source/index.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/sampling_point.py
  tests/unittests/test_sampling_point.py
Due: mypy-code, mypy-tests

Update test_fabric.py
  tests/unittests/test_fabric.py
Due: mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
