Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Improve testing, remove unneeded setters
  .gitignore
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material.py
  tests/test_material.py
Due: mypy-code, mypy-tests

Rename property set classes
  src/ansys/acp/core/_tree_objects/material.py
  tests/test_material.py
Due: mypy-code, mypy-tests

Improve structure of material property set code
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material.py
  src/ansys/acp/core/_tree_objects/material/__init__.py
  src/ansys/acp/core/_tree_objects/material/material.py
  src/ansys/acp/core/_tree_objects/material/property_set_base.py
  src/ansys/acp/core/_tree_objects/material/property_sets.py
  src/ansys/acp/core/_tree_objects/material/variable_property_set_attributes.py
Due: mypy-code

Create helpers for property set properties
  src/ansys/acp/core/_tree_objects/material/material.py
  src/ansys/acp/core/_tree_objects/material/property_set_base.py
  src/ansys/acp/core/_tree_objects/material/property_set_wrapper.py
  src/ansys/acp/core/_tree_objects/material/property_sets.py
Due: mypy-code

Simplify nested attribute access
  pyproject.toml
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material/material.py
  src/ansys/acp/core/_tree_objects/material/property_set_base.py
  src/ansys/acp/core/_tree_objects/material/property_sets.py
  src/ansys/acp/core/_tree_objects/material/property_sets/__init__.py
  src/ansys/acp/core/_tree_objects/material/property_sets/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/density.py
  src/ansys/acp/core/_tree_objects/material/property_sets/engineering_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/fabric_fiber_angle.py
  src/ansys/acp/core/_tree_objects/material/property_sets/larc_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/property_helper.py
  src/ansys/acp/core/_tree_objects/material/property_sets/puck_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/strain_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/stress_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/tsai_wu_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/woven_characterization.py
  src/ansys/acp/core/_tree_objects/material/property_sets/woven_stress_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/wrapper.py
  tests/test_material.py
Due: mypy-code, mypy-tests

Update default values
  src/ansys/acp/core/_tree_objects/material/property_sets/larc_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/puck_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/tsai_wu_constants.py
Due: mypy-code

Extend material tests, fix woven_characterization
  src/ansys/acp/core/_tree_objects/material/__init__.py
  src/ansys/acp/core/_tree_objects/material/property_sets/__init__.py
  src/ansys/acp/core/_tree_objects/material/property_sets/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/variable_property_set_attributes.py
  src/ansys/acp/core/_tree_objects/material/property_sets/woven_characterization.py
  tests/conftest.py
  tests/test_material.py
Due: mypy-code, mypy-tests

Rename GPRC_PROPERTIES
  doc/source/api/index.rst
  doc/source/api/material_property_sets.rst
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/material/property_sets/density.py
  src/ansys/acp/core/_tree_objects/material/property_sets/engineering_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/fabric_fiber_angle.py
  src/ansys/acp/core/_tree_objects/material/property_sets/larc_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/puck_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/strain_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/stress_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/tsai_wu_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/woven_characterization.py
  src/ansys/acp/core/_tree_objects/material/property_sets/woven_stress_limits.py
Due: mypy-code

Add some minimal docstrings
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/wrapper.py
Due: mypy-code

Remove outdated mixin attributes
  src/ansys/acp/core/_tree_objects/material/property_sets/engineering_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/larc_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/strain_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/stress_limits.py
  src/ansys/acp/core/_tree_objects/material/property_sets/tsai_wu_constants.py
  src/ansys/acp/core/_tree_objects/material/property_sets/woven_characterization.py
  src/ansys/acp/core/_tree_objects/material/property_sets/woven_stress_limits.py
Due: mypy-code

Add documentation for wrap_property_set
  src/ansys/acp/core/_tree_objects/material/property_sets/wrapper.py
Due: mypy-code

Run poetry lock
  poetry.lock
Due: none

Reduce sphinx-build verbosity
  .github/workflows/ci_cd.yml
Due: none

Add minimal docstrings to FieldVariable and InterpolationOptions
  src/ansys/acp/core/_tree_objects/material/property_sets/variable_property_set_attributes.py
Due: mypy-code

Add note about property sets to Material docstring
  src/ansys/acp/core/_tree_objects/material/material.py
  src/ansys/acp/core/_tree_objects/material/property_sets/puck_constants.py
Due: mypy-code

Make COLLECTION_LABEL attribute private
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/edge_set.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/material/material.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/object_registry.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/rosette.py
Due: mypy-code

Disable force-orphan option in dev doc deployment
  .github/workflows/ci_cd.yml
Due: none

Disable force-orphan option in dev doc deployment (#155)
  .github/workflows/ci_cd.yml
Due: none

DOC: update development documentation 6572f681bf427389e70aeb4d5506644f3bb10af4
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Keep untagged containers which are newer than 7 days (#146)
  .github/workflows/package_cleanup.yml
Due: none

DOC: update development documentation 17f24cfef4051d83fb5060071ccd41efe04efc28
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Add workaround for sphinx-pydata-theme install issue
  .github/workflows/ci_cd.yml
  README.rst
  poetry.lock
Due: none

Add workaround for sphinx-pydata-theme install issue (#158)
  .github/workflows/ci_cd.yml
  README.rst
  poetry.lock
Due: none

DOC: update development documentation 72d24a31457ac9017385da7c02e62d43619b2f3d
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/index.html
  version/dev/searchindex.js
Due: none

Fix path to versions.json file
  doc/source/conf.py
Due: none

DOC: update development documentation 77782df31db8becf305f09aae2cdfc6159e2b905
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Fix path to versions.json file (#159)
  doc/source/conf.py
Due: none

DOC: update development documentation 4d0bf4c0a073c68d4590f49e8db197d676cad3a7
  version/dev/_images/sphx_glr_solve_class40_001.png
  version/dev/_images/sphx_glr_solve_class40_thumb.png
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation 03c2b985436085ebd1865d92c7c5d8f2c73a58a6
  version/dev/_images/sphx_glr_solve_class40_001.png
  version/dev/_images/sphx_glr_solve_class40_thumb.png
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation 26f306e9cfb2969d2b40e628db0a06fe9bf73bad
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation 05c763f571228499deee44cccbf8fe44ced07ec3
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Remove poetry config workaround
  .github/workflows/ci_cd.yml
  README.rst
Due: none

DOC: update development documentation db86deccc5de0acf6642f28afc0d68869d8e10e2
  version/dev/_images/sphx_glr_solve_class40_001.png
  version/dev/_images/sphx_glr_solve_class40_thumb.png
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/_static/pyansys-logo-black-cropped.png
  version/dev/_static/pyansys-logo-white-cropped.png
  version/dev/_static/pyansys_dark.png
  version/dev/_static/pyansys_dark_square.png
  version/dev/_static/pyansys_light.png
  version/dev/_static/pyansys_light_square.png
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation f0af9f68782a4fc15758f3084a89db403abb2f6a
  version/dev/_images/sphx_glr_solve_class40_001.png
  version/dev/_images/sphx_glr_solve_class40_thumb.png
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation 7447a41427db874df32c708aec1d069aeafe8cdb
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
