Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py38-plus]
- repo: https://github.com/psf/black
  rev: '22.12.0'
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: '5.12.0'
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: '6.0.0'
  hooks:
  - id: flake8
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
- repo: https://github.com/python-poetry/poetry/
  rev: '1.3.0'
  hooks:
  - id: poetry-check
    name: "poetry: check pyproject.toml syntax"
  # We're slightly abusing the 'poetry-lock' hook, by running
  # 'poetry lock --check' instead of 'poetry lock'
  - id: poetry-lock
    name: "poetry: check poetry.lock consistency"
    args: ['--check']
    files: '^(pyproject\.toml|poetry\.lock)$'
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
- repo: https://github.com/kynan/nbstripout
  rev: 0.6.1
  hooks:
  - id: nbstripout
    args: ["--extra-keys", "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode"]
- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|^(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)|^(examples/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

add PyACP benchmarks (pytest) benchmark result for 8adae81b894a6f12caaaccaace2bb2acda3c35b6
  benchmarks/data.js
Due: none

Remove redundant cast
  src/ansys/acp/core/_server/direct.py
Due: mypy-code

Exposure of SubLaminate and add read only properties to Fabric and Stackup
  poetry.lock
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  tests/unittests/test_sublaminate.py
Due: mypy-code, mypy-tests

update test for the Fabric and Stackup
  tests/unittests/test_fabric.py
  tests/unittests/test_stackup.py
Due: mypy-tests

revert accidental changes in poetry.lock
  poetry.lock
Due: none

run pre-commit checks
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  tests/unittests/test_sublaminate.py
Due: mypy-code, mypy-tests

update reference to the ansys-api-acp git repo
  poetry.lock
Due: none

Exposure of SubLaminate and add read only properties to Fabric and Stackup (#260)
  poetry.lock
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  tests/unittests/test_fabric.py
  tests/unittests/test_stackup.py
  tests/unittests/test_sublaminate.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for dc16f7a6e2aedbe81d265a9880404a149173475e
  benchmarks/data.js
Due: none

Update examples/pymechanical/Readme.md
  examples/pymechanical/Readme.md
Due: none

Update examples/pymechanical/acp_future/readme.md
  examples/pymechanical/acp_future/readme.md
Due: none

Remove unnecessary comment
  examples/pymechanical/acp_future/Shims.cs
Due: none

ModelingPly: test linkage of all possible ply materials (Fabric, Stackup and SubLaminate)
  tests/unittests/test_modeling_ply.py
Due: mypy-tests

run pre-commit checks
  tests/unittests/test_modeling_ply.py
Due: mypy-tests

Update tests/unittests/test_modeling_ply.py
  tests/unittests/test_modeling_ply.py
Due: mypy-tests

Test link between MP and Fabric, Stackup or SubLaminate (#262)
  tests/unittests/test_modeling_ply.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for f7a470eb92c787ee12e097d1012d871e09f52d30
  benchmarks/data.js
Due: none

DOC: update development documentation f7a470eb92c787ee12e097d1012d871e09f52d30
  version/dev/.buildinfo
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Add draping attributes to the modeling ply
  poetry.lock
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
Due: mypy-code

Add draping attributes to the Oriented Selection Set
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
Due: mypy-code

Add tests for draping attributes
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_oriented_selection_set.py
Due: mypy-code, mypy-tests

Add Variable Offset Selection Rules
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_oriented_selection_set.py
  tests/unittests/test_variable_offset_selection_rule.py
Due: mypy-code, mypy-tests

Add variable offset selection rule (#264)
  doc/source/api/tree_objects.rst
  poetry.lock
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_oriented_selection_set.py
  tests/unittests/test_variable_offset_selection_rule.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for c2f86b6188f17896c88e1c3c974685d0e21ac9f0
  benchmarks/data.js
Due: none

Add sensor class
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/sensor.py
  tests/unittests/test_sensor.py
Due: mypy-code, mypy-tests

Document check_optional on grpc_data_getter
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
Due: mypy-code

Document read-only properties of the Sensor
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/sensor.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 5a47434920bd102c2de5755a71782a12fe7c3a09
  benchmarks/data.js
Due: none

DOC: update development documentation 5a47434920bd102c2de5755a71782a12fe7c3a09
  version/dev/.buildinfo
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Update lockfile
  poetry.lock
Due: none

Add Sensor class (#265)
  doc/source/api/tree_objects.rst
  poetry.lock
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/sensor.py
  tests/unittests/test_sensor.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 93785bf164c2425d0f9b5de75123dc7ab01f60e9
  benchmarks/data.js
Due: none

Expose server version
  poetry.lock
  src/ansys/acp/core/_client.py
  tests/unittests/test_client.py
Due: mypy-code, mypy-tests

Implement PR comments
  examples/pymechanical/acp_future/Properties/AssemblyInfo.cs
  examples/pymechanical/acp_future/Shims.cs
Due: none

Jvonrick/pymechanical workflow (#237)
  .gitignore
  examples/pymechanical/Readme.md
  examples/pymechanical/acp_future/ACPFuture.csproj
  examples/pymechanical/acp_future/ACPFuture.sln
  examples/pymechanical/acp_future/Properties/AssemblyInfo.cs
  examples/pymechanical/acp_future/Shims.cs
  examples/pymechanical/acp_future/readme.md
  examples/pymechanical/constants.py
  examples/pymechanical/embedded_workflow.py
  examples/pymechanical/generate_mesh.py
  examples/pymechanical/geometry/flat_plate.agdb
  examples/pymechanical/output/.gitkeep
  examples/pymechanical/postprocess_results.py
  examples/pymechanical/remote_workflow.py
  examples/pymechanical/set_bc.py
  examples/pymechanical/setup_acp_model.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/direct.py
Due: mypy-code, mypy-tests
