Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
- repo: https://gitlab.com/PyCQA/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
- repo: https://github.com/kynan/nbstripout
  rev: 0.5.0
  hooks:
  - id: nbstripout
    args: ["--extra-keys", "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode"]
- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Merge docs and precommit groups
  .github/workflows/ci_cd.yml
  README.rst
  pyproject.toml
Due: none

Limit MAPDL to one core by default
  docker/docker-compose-mapdl.yaml
Due: none

Tweak the solve script
  examples/solve_class40.py
Due: mypy-code

Add example gallery to the documentation (#102)
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  .gitignore
  .pre-commit-config.yaml
  README.rst
  doc/Makefile
  doc/make.bat
  doc/source/_templates/README.md
  doc/source/_templates/sidebar-nav-bs.html
  doc/source/conf.py
  doc/source/examples/.gitignore
  doc/source/examples/index.rst
  doc/source/index.rst
  docker/docker-compose-mapdl.yaml
  docker/docker-compose.yaml
  examples/README.rst
  examples/class40/results/.gitignore
  examples/class40/solve_class40.ipynb
  examples/data/class40/class40.cdb
  examples/solve_class40.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_grpc_helpers/mapping.py
  src/ansys/acp/core/_server/docker-compose.yaml
Due: mypy-code

Fix inconsistent use of CDB_FILENAME in example
  examples/solve_class40.py
Due: mypy-code

Remove broken logo link
  doc/source/conf.py
Due: none

Ensure the two ports are different in docker-compose launch
  src/ansys/acp/core/_server/__init__.py
Due: mypy-code

Minor documentation fixes (#103)
  doc/source/conf.py
  examples/solve_class40.py
Due: mypy-code

Ensure the two ports are different in docker-compose launch (#104)
  src/ansys/acp/core/_server/__init__.py
Due: mypy-code

Deploying to gh-pages from @ pyansys/pyacp-private@eb2915a0868045ef9b157acc5497e326326aebd3 🚀
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/solve_class40.rst.txt
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/solve_class40.html
  searchindex.js
Due: none

intermediate state of the basic example with composite post-processing by dpf composites
  .github/workflows/ci_cd.yml
  docker/docker-compose-pydpf-composites.yaml
  examples/README.rst
  examples/data/class40/class40.cdb
  examples/solve_class40.py
  pyproject.toml
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/material.py
Due: mypy-code

fix cicd (testing)
  .github/workflows/ci_cd.yml
Due: none

fix namespace error
  src/ansys/acp/core/_tree_objects/enums.py
Due: mypy-code

update lock file
  poetry.lock
Due: none

run pre-commit hooks
  examples/solve_class40.py
  pyproject.toml
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/material.py
Due: mypy-code

add ansys-dpf-core dependency
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_tree_objects/material.py
Due: mypy-code

run pre-commit hooks
  src/ansys/acp/core/_tree_objects/material.py
Due: mypy-code

plot results using dpf core
  examples/solve_class40.py
  pyproject.toml
Due: mypy-code

fix examples/solve_class40.py
  examples/solve_class40.py
Due: mypy-code

add export_materials and further test the example
  docker/docker-compose-mapdl.yaml
  docker/docker-compose-pydpf-composites.yaml
  examples/solve_class40.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

pre-commit hooks
  examples/solve_class40.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

pre-commit hooks
  examples/solve_class40.py
Due: mypy-code

fix example
  docker/docker-compose-mapdl.yaml
  docker/docker-compose-pydpf-composites.yaml
Due: none

fix example
  examples/solve_class40.py
Due: mypy-code

fix Model.export_shell_composite_definitions
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

add unit system to the model properties update example
  examples/solve_class40.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

run style checks
  examples/solve_class40.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

run style checks
  src/ansys/acp/core/_tree_objects/enums.py
Due: mypy-code

run style checks
  examples/solve_class40.py
Due: mypy-code

update poetry.lock -> ACP API repo
  poetry.lock
Due: none

fix documentation
  .github/workflows/ci_cd.yml
  docker/docker-compose_examples.yaml
Due: none

update example
  docker/docker-compose_examples.yaml
  examples/solve_class40.py
  tests/test_model.py
Due: mypy-code, mypy-tests

rename docker-compose-examples.yaml
  docker/docker-compose-examples.yaml
Due: none

run pre-commit checks
  examples/solve_class40.py
  tests/test_model.py
Due: mypy-code, mypy-tests

polish examples/solve_class40.py
  .github/workflows/ci_cd.yml
  docker/docker-compose-examples.yaml
  docker/docker-compose-extras.yaml
  docker/docker-compose-pydpf-composites.yaml
  examples/solve_class40.py
  pyproject.toml
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

run pre-commit checks
  examples/solve_class40.py
Due: mypy-code
