Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: "23.3.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.3.0]

  - repo: https://github.com/pycqa/isort
    rev: "5.12.0"
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: "6.1.0"
    hooks:
      - id: flake8
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock$'
  - repo: https://github.com/python-poetry/poetry/
    rev: "1.7.0"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
    - id: pydocstyle
      additional_dependencies: [toml]
      exclude: "^(tests/)|(examples/)"
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]
  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: ["--namespace-packages", "--explicit-package-bases"]

Make OBJECT_INFO_TYPE and CREATE_REQUEST_TYPE private
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cad_component.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/edge_set.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d_column.py
  src/ansys/acp/core/_tree_objects/material/material.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  src/ansys/acp/core/_tree_objects/rosette.py
  src/ansys/acp/core/_tree_objects/sensor.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
Due: mypy-code

Move clone definition to CreatableTreeObject
  src/ansys/acp/core/_tree_objects/base.py
  tests/unittests/test_model.py
  tests/unittests/test_production_ply.py
Due: mypy-code, mypy-tests

Remove 'xfail' for tests of 3d lookup table columns set as empty list
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_lookup_table_column.py
Due: mypy-tests

Reenable warning as error on quick doc build
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  doc/source/examples/index.rst
  doc/source/index.rst
Due: none

Add file management how-to
  doc/source/api/workflow.rst
  doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/index.rst
  doc/source/user_guide/howto/launch_configuration.rst
Due: none

Rename 'save_analysis_model' to 'export_analysis_model'
  examples/solve_class40.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Rename 'get_local_acp_h5_file' to 'get_local_acph5_file'
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Make OBJECT_INFO_TYPE and CREATE_REQUEST_TYPE private (#457)
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/boolean_selection_rule.py
  src/ansys/acp/core/_tree_objects/cad_component.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/cutoff_selection_rule.py
  src/ansys/acp/core/_tree_objects/cylindrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/edge_set.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/geometrical_selection_rule.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d.py
  src/ansys/acp/core/_tree_objects/lookup_table_1d_column.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d.py
  src/ansys/acp/core/_tree_objects/lookup_table_3d_column.py
  src/ansys/acp/core/_tree_objects/material/material.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/parallel_selection_rule.py
  src/ansys/acp/core/_tree_objects/production_ply.py
  src/ansys/acp/core/_tree_objects/rosette.py
  src/ansys/acp/core/_tree_objects/sensor.py
  src/ansys/acp/core/_tree_objects/spherical_selection_rule.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/tube_selection_rule.py
  src/ansys/acp/core/_tree_objects/variable_offset_selection_rule.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
Due: mypy-code

Remove 'xfail' for tests of 3d lookup table columns set as empty list (#460)
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_lookup_table_column.py
Due: mypy-tests

Unify export function names (#463)
  examples/solve_class40.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_model.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Revert renaming 'modeling_plies' to 'plies' (#456)
  doc/source/user_guide/howto/visualize_model.rst
  examples/001_basic_flat_plate.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
  examples/solve_class40.py
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_object_permanence.py
  tests/unittests/test_plot_utils.py
  tests/unittests/test_production_ply.py
  type_checks/plots.py
Due: mypy-code, mypy-tests

Apply suggestions from code review
  doc/source/user_guide/howto/file_management.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for ae66fdf03067dfcc3c68f5220905dabc7d1e2e85
  benchmarks/data.js
Due: none

Move clone definition to CreatableTreeObject (#459)
  src/ansys/acp/core/_tree_objects/base.py
  tests/unittests/test_model.py
  tests/unittests/test_production_ply.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for db58936e167db93697d341e68703136b11d3376a
  benchmarks/data.js
Due: none

Add file management how-to (#462)
  doc/source/api/workflow.rst
  doc/source/user_guide/howto/file_management.rst
  doc/source/user_guide/howto/index.rst
  doc/source/user_guide/howto/launch_configuration.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for 8cee8df84269d9fb354bd4db83bb57fa17feabf3
  benchmarks/data.js
Due: none

Update CI stages
  .github/workflows/ci_cd.yml
Due: none

Modify build stage
  .github/workflows/ci_cd.yml
Due: none

Add token injection step to build-wheelhouse
  .github/workflows/ci_cd.yml
Due: none

Add token for api-acp
  .github/workflows/ci_cd.yml
Due: none

Comment out build-wheelhouse while dependencies are private
  .github/workflows/ci_cd.yml
Due: none

Remove comment on confirmation dialog.
  doc/source/user_guide/howto/view_model_in_acp_gui.rst
Due: none

Rename get_local_acp_h5_file to get_local_acph5_file
  doc/source/user_guide/howto/view_model_in_acp_gui.rst
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Change main python version to 3.12
  .github/workflows/ci_cd.yml
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/polymorphic_from_pb.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/property_helper.py
  src/ansys/acp/core/_utils/array_conversions.py
  src/ansys/acp/core/_utils/property_protocols.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Document loading an pyACP project in the ACP gui (#447)
  doc/source/intro.rst
  doc/source/user_guide/howto/create_input_file.rst
  doc/source/user_guide/howto/index.rst
  doc/source/user_guide/howto/view_model_in_acp_gui.rst
  examples/001_basic_flat_plate.py
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for da4a72a651067b433c288ff2a22f41dae1f2fc30
  benchmarks/data.js
Due: none

Reenable warning as error on quick doc build (#461)
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  doc/source/examples/index.rst
  doc/source/index.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for eba2434dabd61a9cc341f9ce4af9f0c7119c76fa
  benchmarks/data.js
Due: none

Update pre-commit hooks (#465)
  .pre-commit-config.yaml
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/polymorphic_from_pb.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material/property_sets/property_helper.py
  src/ansys/acp/core/_utils/array_conversions.py
  src/ansys/acp/core/_utils/property_protocols.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 318a183dabbdf5abff62008680b8bbdb3c43cdca
  benchmarks/data.js
Due: none

Add missing CI stages (#466)
  .github/workflows/ci_cd.yml
Due: none

add PyACP benchmarks (pytest) benchmark result for cd188e5569ba867ef0399632f72ae27cbdfc674f
  benchmarks/data.js
Due: none
