Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]

  - repo: https://github.com/psf/black
    rev: "24.3.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.3.0]

  - repo: https://github.com/pycqa/isort
    rev: "5.13.2"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.0.0"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "1.8.0"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.2.9
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

add PyACP benchmarks (pytest) benchmark result for 3b68c1368e888cb3c1f9d617ff65a6730ddaca3c
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for 699324d2a73ba0886195ac3f79f73cc66429f843
  benchmarks/data.js
Due: none

Polish PyMechanical shell example
  doc/source/_static/gallery_thumbnails/README.md
  doc/source/_static/gallery_thumbnails/sphx_glr_010_pymechanical_shell_workflow_thumb.png
  doc/source/_templates/autosummary/experimental/base.rst.jinja2
  doc/source/api/index.rst
  doc/source/api/mechanical_integration_helpers.rst
  doc/source/conf.py
  examples/010_pymechanical_shell_workflow.py
  examples/011_pymechanical_solid_workflow.py
  examples/pymechanical/constants.py
  examples/pymechanical/generate_mesh_noshim.py
  examples/pymechanical/postprocess_results.py
  examples/pymechanical/remote_workflow_noshim.py
  examples/pymechanical/remote_workflow_solid_noshim.py
  examples/pymechanical/set_bc_solid.py
  examples/pymechanical/setup_acp_model.py
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/example_helpers.py
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code, mypy-tests

Polish the solid workflow example
  doc/source/_static/gallery_thumbnails/sphx_glr_011_pymechanical_solid_workflow_thumb.png
  examples/010_pymechanical_shell_workflow.py
  examples/011_pymechanical_solid_workflow.py
  examples/pymechanical/Readme.md
  examples/pymechanical_with_shim/Readme.md
  examples/pymechanical_with_shim/acp_future/ACPFuture.csproj
  examples/pymechanical_with_shim/acp_future/ACPFuture.sln
  examples/pymechanical_with_shim/acp_future/Properties/AssemblyInfo.cs
  examples/pymechanical_with_shim/acp_future/Shims.cs
  examples/pymechanical_with_shim/acp_future/readme.md
  examples/pymechanical_with_shim/constants.py
  examples/pymechanical_with_shim/embedded_workflow.py
  examples/pymechanical_with_shim/generate_mesh.py
  examples/pymechanical_with_shim/geometry/flat_plate.agdb
  examples/pymechanical_with_shim/output/.gitkeep
  examples/pymechanical_with_shim/postprocess_results.py
  examples/pymechanical_with_shim/remote_workflow.py
  examples/pymechanical_with_shim/set_bc.py
  examples/pymechanical_with_shim/setup_acp_model.py
Due: mypy-tests

Update limitations
  doc/source/index.rst
Due: none

Fix __init__.py
  src/ansys/acp/core/__init__.py
Due: mypy-code

Add pymechanical to intersphinx_mapping
  doc/source/conf.py
Due: none

rename ACP to ACPInstance and move example_helpers.py to extras
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
  examples/006_rosettes.py
  examples/007_direction_definitions.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/__init__.py
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_server/launch.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/extras/__init__.py
  src/ansys/acp/core/extras/example_helpers.py
  tests/conftest.py
Due: mypy-code, mypy-tests

clean up
  src/ansys/acp/core/_server/docker-compose.yaml
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_server/launch.py
  src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/extras/__init__.py
  tests/benchmarks/conftest.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Benchmark: fix and re-enable 100ms delay case
  src/ansys/acp/core/_server/acp_instance.py
  tests/benchmarks/conftest.py
  tests/conftest.py
Due: mypy-code, mypy-tests

update example files (new import)
  doc/build/html/user_guide/howto/visualize_model-1.py
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
  examples/006_rosettes.py
  examples/007_direction_definitions.py
  examples/009_optimization.py
Due: mypy-tests

Remove triangle mesh from ansys.acp.core
  src/ansys/acp/core/__init__.py
Due: mypy-code

Launch PyMechanical in batch mode
  examples/011_pymechanical_solid_workflow.py
Due: mypy-tests

Add PyMechanical to CDB example
  doc/source/_static/gallery_thumbnails/sphx_glr_012_pymechanical_to_cdb_workflow_thumb.png
  doc/source/index.rst
  examples/011_pymechanical_solid_workflow.py
  examples/012_pymechanical_to_cdb_workflow.py
Due: mypy-tests

Show which examples use an object in the API documentation
  .gitignore
  doc/make.bat
  doc/source/_templates/autosummary/base.rst
  doc/source/_templates/autosummary/class.rst
  doc/source/_templates/autosummary/experimental/base.rst.jinja2
  doc/source/conf.py
Due: none

Turn off vale in autosummary templates
  doc/source/_templates/autosummary/base.rst
  doc/source/_templates/autosummary/class.rst
Due: none

add doc string
  doc/build/html/user_guide/howto/visualize_model-1.py
Due: none

rename PORT_PYACP to PORT_ACP and fix missed renaming of image_name_pyacp to image_name_acp
  .github/workflows/ci_cd.yml
  doc/source/user_guide/howto/launch_configuration.rst
  docker-compose/docker-compose-benchmark.yaml
  src/ansys/acp/core/_server/docker-compose.yaml
  src/ansys/acp/core/_server/docker_compose.py
Due: mypy-code

fix documentation
  doc/source/api/example_helpers.rst
  doc/source/api/mesh_data.rst
  doc/source/api/server.rst
Due: none

Remove duplicate config keys
  doc/source/conf.py
Due: none

fix docu
  doc/source/user_guide/security_considerations.rst
  src/ansys/acp/core/_workflow.py
Due: mypy-code

fix docu
  doc/build/html/user_guide/howto/visualize_model-1.py
  doc/source/api/mesh_data.rst
  doc/source/user_guide/howto/visualize_model.rst
  src/ansys/acp/core/__init__.py
Due: mypy-code

skip __init.py of extras from code coverage
  src/ansys/acp/core/extras/__init__.py
Due: mypy-code

Benchmark: fix and re-enable 100ms delay case (#674)
  src/ansys/acp/core/_server/acp_instance.py
  tests/benchmarks/conftest.py
  tests/conftest.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 75168cbc83dc74d61291e5f9d1e56ffe5ab132e3
  benchmarks/data.js
Due: none

Show which examples use an object in the API documentation (#683)
  .gitignore
  doc/make.bat
  doc/source/_templates/autosummary/base.rst
  doc/source/_templates/autosummary/class.rst
  doc/source/_templates/autosummary/experimental/base.rst.jinja2
  doc/source/conf.py
Due: none

add PyACP benchmarks (pytest) benchmark result for acffc13e073f939011231e5f638f835097a887a1
  benchmarks/data.js
Due: none

Clean up of core module: part 1 (#675)
  .github/workflows/ci_cd.yml
  doc/source/api/example_helpers.rst
  doc/source/api/server.rst
  doc/source/user_guide/howto/launch_configuration.rst
  doc/source/user_guide/howto/visualize_model.rst
  doc/source/user_guide/security_considerations.rst
  docker-compose/docker-compose-benchmark.yaml
  examples/001_basic_flat_plate.py
  examples/002_sandwich_panel.py
  examples/003_basic_rules.py
  examples/004_advanced_rules.py
  examples/005_thickness_definitions.py
  examples/006_rosettes.py
  examples/007_direction_definitions.py
  examples/009_optimization.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/docker-compose.yaml
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_server/launch.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_workflow.py
  src/ansys/acp/core/extras/__init__.py
  src/ansys/acp/core/extras/example_helpers.py
  tests/benchmarks/conftest.py
  tests/conftest.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 6da89433e586c8ea8a3dac2d057fe86d1f04d621
  benchmarks/data.js
Due: none

move mesh data into separate namespace
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/mesh_data.py
Due: mypy-code

fix imports
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/mesh_data.py
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_cutoff_selection_rule.py
  tests/unittests/test_cylindrical_selection_rule.py
  tests/unittests/test_geometrical_selection_rule.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_parallel_selection_rule.py
  tests/unittests/test_production_ply.py
  tests/unittests/test_spherical_selection_rule.py
  tests/unittests/test_tube_selection_rule.py
  tests/unittests/test_variable_offset_selection_rule.py
Due: mypy-code, mypy-tests

run pre-commit hooks
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_plotter.py
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_cutoff_selection_rule.py
  tests/unittests/test_cylindrical_selection_rule.py
  tests/unittests/test_geometrical_selection_rule.py
  tests/unittests/test_model.py
  tests/unittests/test_spherical_selection_rule.py
  type_checks/plots.py
Due: mypy-code, mypy-tests

Document how to plot data on parts of the mesh
  doc/source/user_guide/howto/visualize_model.rst
  src/ansys/acp/core/_plotter.py
Due: mypy-code

Skip unsupported test cases in older servers
  tests/unittests/test_plot_utils.py
Due: mypy-tests

Add no cover pragma on type checking branches
  src/ansys/acp/core/_plotter.py
  src/ansys/acp/core/_typing_helper.py
  src/ansys/acp/core/extras/example_helpers.py
  tests/unittests/common/linked_object_list_tester.py
Due: mypy-code, mypy-tests
