Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Update dev notebooks
  dev_utils/connection_test.ipynb
  dev_utils/material.ipynb
  dev_utils/test.ipynb
Due: none

Add explicit check for minimum ACP version (#377)
  src/ansys/acp/core/_server/launch.py
Due: mypy-code

Add scaffolding for improved documentation (#373)
  CONTRIBUTING.md
  README.rst
  doc/source/contributing.rst
  doc/source/howto/index.rst
  doc/source/howto/launch_configuration.rst
  doc/source/index.rst
  doc/source/intro.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for d2922c7836360ac8931f420c4c826ace73210023
  benchmarks/data.js
Due: none

Add usage section to intro
  doc/source/index.rst
  doc/source/intro.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for dd0ed346b3b63e32c661739a5ca590c44a389435
  benchmarks/data.js
Due: none

Add 'usage' section to the getting started documentation (#379)
  doc/source/index.rst
  doc/source/intro.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for 9b6ea413ea2aaef1b1ab41a695bdce2dcd31b887
  benchmarks/data.js
Due: none

Implement PR feedback
  examples/001_basic_flat_plate.py
  src/ansys/acp/core/_plotter.py
  tests/unittests/test_plot_utils.py
Due: mypy-code, mypy-tests

Remove dev_utils notebooks
  dev_utils/connection_test.ipynb
  dev_utils/material.ipynb
  dev_utils/test.ipynb
Due: none

Use darker colors
  src/ansys/acp/core/_plotter.py
Due: mypy-code

Update the workflow so it expects either a acph5 or a cdb file as input.
  examples/001_basic_flat_plate.py
  examples/002_start_from_existing_project.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code, mypy-tests

[WIP] Add doctest
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  doc/source/intro.rst
Due: none

Remove dev notebooks other than connection test, add outdated note
  dev_utils/README.md
  dev_utils/connection_test.ipynb
  dev_utils/material.ipynb
  dev_utils/test.ipynb
Due: none

Add concepts page
  doc/source/concepts/index.rst
  doc/source/concepts/store.rst
  doc/source/index.rst
Due: none

Update dev notebooks (#383)
  dev_utils/README.md
  dev_utils/connection_test.ipynb
  dev_utils/material.ipynb
  dev_utils/test.ipynb
Due: none

add PyACP benchmarks (pytest) benchmark result for 1eb256ad9484cafd798f5ac331f00b08cc37a7af
  benchmarks/data.js
Due: none

DOC: update development documentation 1eb256ad9484cafd798f5ac331f00b08cc37a7af
  version/dev/.buildinfo
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_001.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_002.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_003.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_004.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_001_basic_flat_plate_005.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_001.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_002.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_003.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_004.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_005.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_006.vtksz
  version/dev/_images/examples/gallery_examples/images/sphx_glr_solve_class40_007.vtksz
  version/dev/_sources/examples/gallery_examples/001_basic_flat_plate.rst.txt
  version/dev/_sources/examples/gallery_examples/002_start_from_existing_project.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  version/dev/examples/gallery_examples/001_basic_flat_plate.html
  version/dev/examples/gallery_examples/002_start_from_existing_project.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/examples/gallery_examples/solve_class40.html
  version/dev/searchindex.js
Due: none

Add store concept page
  doc/source/concepts/store.rst
Due: none

Fix / ignore some vale errors
  doc/source/concepts/store.rst
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

Remove use of We
  doc/source/concepts/store.rst
Due: none

Reorder pages in main toctree
  doc/source/index.rst
Due: none

Add launch configuration howto
  doc/source/howto/launch_configuration.rst
Due: none

Re-add vale fixes
  doc/source/howto/launch_configuration.rst
Due: none

Add a howto for printing the model tree
  doc/source/howto/index.rst
  doc/source/howto/print_model.rst
  src/ansys/acp/core/_model_printer.py
  tests/unittests/test_tree_printer.py
Due: mypy-code, mypy-tests

Add prettier representation for MutableMapping
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
Due: mypy-code

Add blank line indicator
  doc/source/howto/print_model.rst
Due: none

Update doc/source/howto/print_model.rst
  doc/source/howto/print_model.rst
Due: none

Add LinkedObjectList __repr__, update EdgePropertyList.__repr__
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
Due: mypy-code

Support adding cad geometry from local files and refresh the cad geometry
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

Fix error in test
  tests/unittests/test_workflow.py
Due: mypy-tests

Fix assertion for remote case
  tests/unittests/test_workflow.py
Due: mypy-tests

Test code examples in docs (#387)
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  doc/source/intro.rst
Due: none

Add launch configuration howto (#389)
  doc/source/howto/launch_configuration.rst
Due: none

Improve __repr__ of collection types (#392)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
Due: mypy-code

Add a howto for printing the model tree (#390)
  doc/source/howto/index.rst
  doc/source/howto/print_model.rst
  src/ansys/acp/core/_model_printer.py
  tests/unittests/test_tree_printer.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 0d3d18c7e07bd5352d38b4a374750891ba192872
  benchmarks/data.js
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
