Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Merge branch 'main' into jvonrick/more_modeling_ply_properties
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
Due: mypy-code

Add comment on global_ply_nr default
  src/ansys/acp/core/_tree_objects/modeling_ply.py
Due: mypy-code

Update poetry lock file
  poetry.lock
Due: none

Add data properties
  src/ansys/acp/core/_tree_objects/modeling_ply.py
Due: mypy-code

More modeling ply properties (#79)
  poetry.lock
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  tests/test_modeling_ply.py
Due: mypy-code, mypy-tests

update class40 example (set ply angle)
  examples/class40/solve_class40.ipynb
Due: none

Consisently use 'wrap_to_string_enum' for enum types
  src/ansys/acp/core/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/material.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/rosette.py
  src/ansys/acp/core/_utils/enum_conversions.py
Due: mypy-code

Keep uppercase value for StatusType
  src/ansys/acp/core/_tree_objects/enums.py
Due: mypy-code

Remove dead code
  src/ansys/acp/core/_grpc_helpers/enum_wrapper.py
Due: mypy-code

Adapt fabric tests to modified enums
  src/ansys/acp/core/_tree_objects/fabric.py
  tests/test_fabric.py
Due: mypy-code, mypy-tests

pre-commit hooks
  examples/class40/solve_class40.ipynb
Due: none

update poetry.lock
  poetry.lock
Due: none

Feat/add class40 example (#84)
  examples/class40/class40.cdb
  examples/class40/results/.gitignore
  examples/class40/solve_class40.ipynb
  poetry.lock
  pyproject.toml
Due: none

Consisently use 'wrap_to_string_enum' for enum types (#85)
  src/ansys/acp/core/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/material.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/rosette.py
  src/ansys/acp/core/_utils/enum_conversions.py
  tests/test_fabric.py
Due: mypy-code, mypy-tests

Use __slots__ in tree objects.
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/material.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/rosette.py
Due: mypy-code

Use __slots__ in tree objects. (#86)
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/material.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/rosette.py
Due: mypy-code

Add docker launch option to class40 example
  examples/class40/solve_class40.ipynb
  src/ansys/acp/core/_server.py
Due: mypy-code

Add reference to examples dir to the docs, remove test.ipynb
  README.rst
  examples/test.ipynb
Due: none

Miscellaneous documentation improvements (#87)
  README.rst
  examples/class40/solve_class40.ipynb
  examples/test.ipynb
  src/ansys/acp/core/_server.py
Due: mypy-code

Deploying to gh-pages from @ pyansys/pyacp-private@828875672ceab2941d52cfa64672ebffa5b79ef0 🚀
  index.html
  searchindex.js
Due: none

Remove 'use_default_section_tolerances' property from Model
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Remove use_default_section_tolerances from test
  tests/test_model.py
Due: mypy-tests

Remove 'use_default_section_tolerances' property from Model (#88)
  src/ansys/acp/core/_tree_objects/model.py
  tests/test_model.py
Due: mypy-code, mypy-tests

Fix numpy version constraint
  poetry.lock
  pyproject.toml
Due: none

Fix numpy version constraint (#91)
  poetry.lock
  pyproject.toml
Due: none

Loosen and update dependencies
  poetry.lock
  pyproject.toml
Due: none

Switch to sphinx_autodoc_typehints for doc
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Due: none

Try installing all extras for doc build
  .github/workflows/ci_cd.yml
Due: none

Use functools.wraps to get rid of doc warnings
  src/ansys/acp/core/_grpc_helpers/mapping.py
Due: mypy-code

Improve clean target in doc makefiles
  doc/Makefile
  doc/make.bat
Due: none

Revert extras used in docs install
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Due: none

Add mypy-extensions to docs requirements
  poetry.lock
  pyproject.toml
Due: none

Adopt common autodoc_typehints configuration
  doc/source/conf.py
Due: none

Upgrade flake8, and consume from main github repo
  .pre-commit-config.yaml
Due: none

Switch to sphinx_autodoc_typehints for doc (#93)
  .pre-commit-config.yaml
  doc/Makefile
  doc/make.bat
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_grpc_helpers/mapping.py
Due: mypy-code

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
