Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Fix allowed values in reference_direction_field, small bugfix in .store()
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
Due: mypy-code

Fix LUT copying in recursive copy
  src/ansys/acp/core/_recursive_copy.py
  tests/unittests/test_recursive_copy.py
Due: mypy-code, mypy-tests

Use linked_object_helpers to replace links
  src/ansys/acp/core/_recursive_copy.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_helpers.py
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Update src/ansys/acp/core/_recursive_copy.py
  src/ansys/acp/core/_recursive_copy.py
Due: mypy-code

Implement KEEP / COPY / DISCARD link handling modes
  src/ansys/acp/core/_recursive_copy.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_typing_helper.py
  tests/unittests/test_recursive_copy.py
Due: mypy-code, mypy-tests

Make tree objects hashable, use them in dict
  src/ansys/acp/core/_recursive_copy.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Switch to returning an old -> new mapping
  src/ansys/acp/core/_recursive_copy.py
Due: mypy-code

Fix tests
  src/ansys/acp/core/_recursive_copy.py
  tests/unittests/test_recursive_copy.py
Due: mypy-code, mypy-tests

Fix pre-commit hooks and doc build
  doc/source/api/enum_types.rst
  src/ansys/acp/core/__init__.py
  tests/benchmarks/conftest.py
Due: mypy-code, mypy-tests

Remove _traversal helpers, move dependency graph generation to separate file
  src/ansys/acp/core/_dependency_graph.py
  src/ansys/acp/core/_recursive_copy.py
  src/ansys/acp/core/_tree_objects/_traversal.py
Due: mypy-code

Implement suggestions from code review
  src/ansys/acp/core/_recursive_copy.py
Due: mypy-code

Test exceptions when copying across models
  src/ansys/acp/core/_recursive_copy.py
  tests/unittests/test_recursive_copy.py
Due: mypy-code, mypy-tests

Improve test_properties performance
  tests/unittests/common/tree_object_tester.py
Due: mypy-tests

Adapt test_workflow_unit_system_dat to server changes
  tests/unittests/test_workflow.py
Due: mypy-tests

Add tests for EdgePropertyType clone
  tests/unittests/test_edge_property_types.py
Due: mypy-tests

Add tests for the .parent property
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_cad_component.py
  tests/unittests/test_model.py
Due: mypy-tests

Add multiple coverage uploads
  .github/workflows/ci_cd.yml
Due: none

Remove broken HTML coverage upload
  .github/workflows/ci_cd.yml
Due: none

Implement recursive copying helper (#563)
  .github/workflows/ci_cd.yml
  doc/source/api/enum_types.rst
  doc/source/api/index.rst
  doc/source/api/other_utils.rst
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_dependency_graph.py
  src/ansys/acp/core/_recursive_copy.py
  src/ansys/acp/core/_server/common.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_helpers.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/stackup.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  src/ansys/acp/core/_typing_helper.py
  tests/benchmarks/conftest.py
  tests/unittests/common/tree_object_tester.py
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_cad_component.py
  tests/unittests/test_edge_property_types.py
  tests/unittests/test_model.py
  tests/unittests/test_recursive_copy.py
  tests/unittests/test_workflow.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 7e20b60f8a581ae3fcbf673dcd7d9fee2ed6ab81
  benchmarks/data.js
Due: none

expose the thickness of the AnalysisPly tree object.
  src/ansys/acp/core/_tree_objects/analysis_ply.py
  tests/unittests/test_analysis_ply.py
Due: mypy-code, mypy-tests

fix value of analysis ply thickness
  tests/unittests/test_analysis_ply.py
Due: mypy-tests

intermediate state
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/imported_analysis_ply.py
  src/ansys/acp/core/_tree_objects/imported_modeling_ply.py
  src/ansys/acp/core/_tree_objects/imported_production_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  tests/unittests/test_production_ply.py
Due: mypy-code, mypy-tests

making progress with the implementation of imported plies
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/imported_modeling_group.py
  src/ansys/acp/core/_tree_objects/imported_modeling_ply.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
Due: mypy-code

Done: ImportedAnalaysisPly
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/imported_modeling_ply.py
  tests/conftest.py
  tests/data/minimal_complete_model.acph5
  tests/data/minimal_model_imported_plies.acph5
  tests/unittests/test_imported_analysis_ply.py
Due: mypy-code, mypy-tests

Done: ImportedProductionPly
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  tests/unittests/test_imported_production_ply.py
Due: mypy-code, mypy-tests

Done: ImportedModelingGroup
  src/ansys/acp/core/_tree_objects/imported_modeling_ply.py
  tests/unittests/test_imported_modeling_group.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 57ec18ef491dc03897c318c208647e80d5ce4622
  benchmarks/data.js
Due: none

Create PyMechanical examples not using the Shim
  examples/pymechanical/generate_mesh_noshim.py
  examples/pymechanical/postprocess_results.py
  examples/pymechanical/remote_workflow_noshim.py
  examples/pymechanical/setup_acp_model.py
Due: mypy-tests

Add 'supported_since' keywords to the gRPC property helpers
  .github/workflows/ci_cd.yml
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/supported_since.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/model.py
  tests/conftest.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

Allow marking 'supported_since' on class level
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/supported_since.py
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Add trailing newlines to edited docstring
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
Due: mypy-code

Fix docstring indentation
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
Due: mypy-code

Skip ButtJointSequence tests on 242 server
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-tests

Implement ButtJointSequence objects
  doc/source/api/linked_object_definitions.rst
  doc/source/api/tree_objects.rst
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/butt_joint_sequence.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  tests/unittests/test_butt_joint_sequence.py
Due: mypy-code, mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
