Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases
  - --disable-error-code
  - no-untyped-def
  - --disable-error-code
  - no-untyped-call

Extend get_directions_plotter tests
  tests/unittests/test_plot_utils.py
Due: mypy-tests

Document how to plot data on parts of the mesh (#678)
  doc/source/user_guide/howto/visualize_model.rst
  src/ansys/acp/core/_plotter.py
  src/ansys/acp/core/_typing_helper.py
  src/ansys/acp/core/extras/example_helpers.py
  tests/unittests/common/linked_object_list_tester.py
  tests/unittests/test_plot_utils.py
Due: mypy-code, mypy-tests

remove mesh_data from the top level of pyacp to ansys.acp.core.mesh_data
  README.rst
  doc/create_doc_windows.ps1
  doc/source/api/mesh_data.rst
  doc/source/conf.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/model.py
  type_checks/plots.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for 0f3e00443085e62124da628b1b052bd22549da2c
  benchmarks/data.js
Due: none

Run pre-commit checks
  doc/create_doc_windows.ps1
  doc/source/conf.py
Due: none

run pre-commit hooks
  doc/create_doc_windows.ps1
  src/ansys/acp/core/_tree_objects/field_definition.py
Due: mypy-code

Update doc/source/api/mechanical_integration_helpers.rst
  doc/source/api/mechanical_integration_helpers.rst
Due: none

Improve docstrings on mechanical integration helpers
  doc/source/api/mechanical_integration_helpers.rst
  examples/011_pymechanical_solid_workflow.py
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code, mypy-tests

Fix mechanical_integration_helpers docstring
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code

Address review comments
  doc/source/index.rst
  examples/010_pymechanical_shell_workflow.py
  examples/011_pymechanical_solid_workflow.py
  examples/012_pymechanical_to_cdb_workflow.py
  src/ansys/acp/core/__init__.py
Due: mypy-code, mypy-tests

improve error message in doc/create_doc_windows.ps1
  doc/create_doc_windows.ps1
Due: none

Add PyMechanical helpers and examples (#673)
  doc/source/_static/gallery_thumbnails/README.md
  doc/source/_static/gallery_thumbnails/sphx_glr_010_pymechanical_shell_workflow_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_011_pymechanical_solid_workflow_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_012_pymechanical_to_cdb_workflow_thumb.png
  doc/source/api/index.rst
  doc/source/api/mechanical_integration_helpers.rst
  doc/source/conf.py
  doc/source/index.rst
  examples/010_pymechanical_shell_workflow.py
  examples/011_pymechanical_solid_workflow.py
  examples/012_pymechanical_to_cdb_workflow.py
  examples/pymechanical/Readme.md
  examples/pymechanical_with_shim/Readme.md
  examples/pymechanical_with_shim/acp_future/ACPFuture.csproj
  examples/pymechanical_with_shim/acp_future/ACPFuture.sln
  examples/pymechanical_with_shim/acp_future/Properties/AssemblyInfo.cs
  examples/pymechanical_with_shim/acp_future/Shims.cs
  examples/pymechanical_with_shim/acp_future/readme.md
  examples/pymechanical_with_shim/constants.py
  examples/pymechanical_with_shim/embedded_workflow.py
  examples/pymechanical_with_shim/generate_mesh.py
  examples/pymechanical_with_shim/geometry/flat_plate.agdb
  examples/pymechanical_with_shim/output/.gitkeep
  examples/pymechanical_with_shim/postprocess_results.py
  examples/pymechanical_with_shim/remote_workflow.py
  examples/pymechanical_with_shim/set_bc.py
  examples/pymechanical_with_shim/setup_acp_model.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/extras/example_helpers.py
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for 2fb23c1d7b245d74b790a7c3d877284d8b4015f0
  benchmarks/data.js
Due: none

run pre-commit hooks
  src/ansys/acp/core/__init__.py
Due: mypy-code

Split examples into groups
  doc/Makefile
  doc/make.bat
  doc/source/_static/gallery_thumbnails/README.md
  doc/source/_static/gallery_thumbnails/sphx_glr_03-pymechanical-shell-workflow_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_04-pymechanical-solid-workflow_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_05-pymechanical-to-cdb-workflow_thumb.png
  doc/source/conf.py
  doc/source/examples/.gitignore
  doc/source/examples/index.rst
  doc/source/user_guide/howto/create_input_file.rst
  examples/modeling_features/01-sandwich-panel-layup.py
  examples/modeling_features/02-simple-selection-rules.py
  examples/modeling_features/03-advanced-selection-rules.py
  examples/modeling_features/04-layup-thickness-definitions.py
  examples/modeling_features/05-rosettes-ply-directions.py
  examples/modeling_features/06-ply-direction-lookup-table.py
  examples/modeling_features/README.rst
  examples/use_cases/01-optimizing-ply-angles.py
  examples/use_cases/README.rst
  examples/workflows/01-pymapdl-workflow.py
  examples/workflows/02-advanced-pymapdl-workflow.py
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/README.rst
Due: mypy-tests

Split examples into groups (#684)
  doc/Makefile
  doc/make.bat
  doc/source/_static/gallery_thumbnails/README.md
  doc/source/_static/gallery_thumbnails/sphx_glr_03-pymechanical-shell-workflow_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_04-pymechanical-solid-workflow_thumb.png
  doc/source/_static/gallery_thumbnails/sphx_glr_05-pymechanical-to-cdb-workflow_thumb.png
  doc/source/conf.py
  doc/source/examples/.gitignore
  doc/source/examples/index.rst
  doc/source/user_guide/howto/create_input_file.rst
  examples/modeling_features/01-sandwich-panel-layup.py
  examples/modeling_features/02-simple-selection-rules.py
  examples/modeling_features/03-advanced-selection-rules.py
  examples/modeling_features/04-layup-thickness-definitions.py
  examples/modeling_features/05-rosettes-ply-directions.py
  examples/modeling_features/06-ply-direction-lookup-table.py
  examples/modeling_features/README.rst
  examples/use_cases/01-optimizing-ply-angles.py
  examples/use_cases/README.rst
  examples/workflows/01-pymapdl-workflow.py
  examples/workflows/02-advanced-pymapdl-workflow.py
  examples/workflows/03-pymechanical-shell-workflow.py
  examples/workflows/04-pymechanical-solid-workflow.py
  examples/workflows/05-pymechanical-to-cdb-workflow.py
  examples/workflows/README.rst
Due: mypy-tests

add PyACP benchmarks (pytest) benchmark result for f9a2f3af8b87857649ab8f26813f61f775fc2d44
  benchmarks/data.js
Due: none

Remove mesh data objects from top level interface (#686)
  README.rst
  doc/create_doc_windows.ps1
  doc/source/api/mesh_data.rst
  doc/source/conf.py
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_plotter.py
  src/ansys/acp/core/_tree_objects/field_definition.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/mesh_data.py
  tests/unittests/test_analysis_ply.py
  tests/unittests/test_boolean_selection_rule.py
  tests/unittests/test_cutoff_selection_rule.py
  tests/unittests/test_cylindrical_selection_rule.py
  tests/unittests/test_geometrical_selection_rule.py
  tests/unittests/test_model.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_parallel_selection_rule.py
  tests/unittests/test_production_ply.py
  tests/unittests/test_spherical_selection_rule.py
  tests/unittests/test_tube_selection_rule.py
  tests/unittests/test_variable_offset_selection_rule.py
  type_checks/plots.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for a72e2db4f91aba9dfb67971e89b724f9bc7f488a
  benchmarks/data.js
Due: none

Fix links at the end of the getting started page
  doc/source/api/index.rst
  doc/source/intro.rst
  doc/source/user_guide/howto/index.rst
Due: none

Fix build without API
  doc/source/api/index.rst
  doc/source/index.rst
Due: none

Do not exclude api/index.rst, add top-bar link to PyACP home
  doc/source/api/index.rst
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/index.rst
  doc/source/intro.rst
  doc/source/user_guide/concepts/index.rst
Due: none

Fix sphinx exclude pattern
  doc/source/conf.py
Due: none

Fix links at the end of the getting started page (#688)
  doc/source/api/index.rst
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/index.rst
  doc/source/intro.rst
  doc/source/user_guide/concepts/index.rst
  doc/source/user_guide/howto/index.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for fa58a450d5579accbf5b76c7c5d279eca88c75b5
  benchmarks/data.js
Due: none

Remove redundant optional / extras dependencies
  .github/workflows/ci_cd.yml
  README.rst
  poetry.lock
  pyproject.toml
  tests/unittests/test_modeling_ply.py
Due: mypy-tests

Update user install instructions
  README.rst
  doc/source/intro.rst
Due: none

Test check-vulnerabilities branch
  .github/workflows/ci_cd.yml
Due: none

Add missing pytest marks
  tests/unittests/test_plot_utils.py
Due: mypy-tests

Make PyVista optional, fix optional deps definition
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_model_printer.py
  src/ansys/acp/core/_plotter.py
  src/ansys/acp/core/_recursive_copy.py
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_server/docker_compose.py
  src/ansys/acp/core/_tree_objects/_elemental_or_nodal_data.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/_solid_model_export.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
  src/ansys/acp/core/_tree_objects/imported_solid_model.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_utils/path_to_str.py
  src/ansys/acp/core/_utils/pyvista_import_check.py
  src/ansys/acp/core/_utils/string_manipulation.py
  src/ansys/acp/core/_utils/typing_helper.py
  src/ansys/acp/core/_utils/visualization.py
  src/ansys/acp/core/_workflow.py
  tests/conftest.py
  tests/unittests/test_edge_property_list.py
  tests/unittests/test_model.py
  tests/unittests/test_modeling_ply.py
  tests/unittests/test_plot_utils.py
Due: mypy-code, mypy-tests

Add missing imports in conf.py
  doc/source/conf.py
  src/ansys/acp/core/_tree_objects/cad_geometry.py
Due: mypy-code

Fix typing_helper import
  src/ansys/acp/core/mechanical_integration_helpers.py
Due: mypy-code

Use released ansys/actions
  .github/workflows/ci_cd.yml
Due: none

add an example for material, stackup, fabric, and sub-laminate
  doc/create_doc_windows.ps1
  examples/modeling_features/001-materials.py
  src/ansys/acp/core/extras/example_helpers.py
Due: mypy-code, mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
