Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]

  - repo: https://github.com/psf/black
    rev: "24.3.0" # when changed, also update the version in blacken-docs
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.3.0]

  - repo: https://github.com/pycqa/isort
    rev: "5.13.2"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "7.0.0"
    hooks:
      - id: flake8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"] # needed to parse pyproject.toml
        exclude: '^poetry\.lock$'

  - repo: https://github.com/python-poetry/poetry/
    rev: "1.8.0"
    hooks:
      - id: poetry-check
        name: "poetry: check pyproject.toml syntax"
      - id: poetry-check
        name: "poetry: check poetry.lock consistency"
        args: ["--lock"]
        files: '^(pyproject\.toml|poetry\.lock)$'

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      additional_dependencies: [tomli]
      exclude: "^(tests/)|(type_checks/)|(examples/)"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args:
          [
            "--extra-keys",
            "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode",
          ]

  - repo: https://github.com/ansys/pre-commit-hooks
    rev: v0.2.9
    hooks:
    - id: add-license-headers
      args: ["--start_year", "2022"]

  - repo: local
    hooks:
      - id: mypy-code
        name: "mypy: strict checks on code"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        exclude: "^(doc/)|(tests/)|^(examples/)"
        args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
      - id: mypy-tests
        name: "mypy: lenient checks on tests"
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        files: "^(tests/)|^(examples/)"
        args: [
          "--strict",
          "--namespace-packages",
          "--explicit-package-bases",
          "--disable-error-code", "no-untyped-def",
          "--disable-error-code", "no-untyped-call"
        ]

Add method for replacing the mesh (#548)
  .github/workflows/ci_cd.yml
  poetry.lock
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for d893c29615d9607564fe254322faa01896087aea
  benchmarks/data.js
Due: none

Remove now-redundant type cast
  src/ansys/acp/core/_tree_objects/_object_cache.py
Due: mypy-code

add PyACP benchmarks (pytest) benchmark result for dba9c86956eb5763117fac7dec38ea51c0b578a1
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for 2800e91dbfe767623483b9322b260b665c12f72f
  benchmarks/data.js
Due: none

Remove note about 2024R2 server not being released
  README.rst
  doc/source/index.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for 2d5db9d654aa2945f79615857005e95a43104179
  benchmarks/data.js
Due: none

add PyACP benchmarks (pytest) benchmark result for bda68366c1c5deb016bbf3dbb6ccfda06cd27d46
  benchmarks/data.js
Due: none

Update to ansys-sphinx-theme 1.x
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Due: none

Remove note about 2024R2 server not being released (#552)
  README.rst
  doc/source/index.rst
Due: none

add PyACP benchmarks (pytest) benchmark result for bb2d70e217a20b03e0f63455143b0169fde8953e
  benchmarks/data.js
Due: none

Update to ansys-sphinx-theme 1.x (#558)
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Due: none

add PyACP benchmarks (pytest) benchmark result for eb5056ca886e76366197d491047c1da64ee7a03c
  benchmarks/data.js
Due: none

Address review comments
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_tree_objects/model.py
Due: mypy-code

Remove reference to now-private from_fe_file in docstring
  src/ansys/acp/core/_server/acp_instance.py
Due: mypy-code

Implement ply geometry export for modeling plies (#557)
  doc/source/api/enum_types.rst
  doc/source/api/internal.rst
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_server/acp_instance.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  tests/unittests/test_model.py
Due: mypy-code, mypy-tests

add PyACP benchmarks (pytest) benchmark result for a2feb2ce1ab8e60cf2267c0bda60c713f9807bd6
  benchmarks/data.js
Due: none

Add regression test for loading models with non-empty EdgePropertyList
  tests/unittests/test_sublaminate.py
Due: mypy-tests

Fix EdgePropertyList being empty when constructed via _from_object_info
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/polymorphic_from_pb.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  tests/unittests/test_sublaminate.py
Due: mypy-code, mypy-tests

Enhance typing
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Add type check for CreatableFromResourcePath
  src/ansys/acp/core/_tree_objects/base.py
Due: mypy-code

Fix new test
  tests/unittests/test_sublaminate.py
Due: mypy-tests

Fix order of attribute creation in EdgePropertyList
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
Due: mypy-code

Add more test cases for the edge property list
  tests/unittests/test_sublaminate.py
Due: mypy-tests

Clean up diff
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
Due: mypy-code

Disallow accessing EdgePropertyList on unstored objects
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  tests/unittests/test_edge_property_list.py
  tests/unittests/test_sublaminate.py
Due: mypy-code, mypy-tests

Mark test_edge_property_list_parent_store as expected failure
  tests/unittests/test_object_permanence.py
Due: mypy-tests

Add another EdgePropertyList test
  tests/unittests/test_edge_property_list.py
Due: mypy-tests

Add no-cover pragmas to ignore type checking code also on codecov
  src/ansys/acp/core/_tree_objects/_grpc_helpers/polymorphic_from_pb.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  src/ansys/acp/core/_workflow.py
Due: mypy-code

Fix instantiation of EdgePropertyList with existing objects in the Protobuf msg
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  tests/unittests/test_edge_property_list.py
Due: mypy-code, mypy-tests

Fix EdgePropertyList construction via _from_object_info (#562)
  src/ansys/acp/core/_tree_objects/_grpc_helpers/edge_property_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/polymorphic_from_pb.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/_mesh_data.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/linked_selection_rule.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/sublaminate.py
  src/ansys/acp/core/_tree_objects/virtual_geometry.py
  src/ansys/acp/core/_workflow.py
  tests/unittests/test_edge_property_list.py
  tests/unittests/test_object_permanence.py
Due: mypy-code, mypy-tests
