Repository ansys/pyacp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py38-plus]
- repo: https://github.com/psf/black
  rev: '22.12.0'
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: '5.12.0'
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: '6.0.0'
  hooks:
  - id: flake8
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
- repo: https://github.com/python-poetry/poetry/
  rev: '1.3.0'
  hooks:
  - id: poetry-check
    name: "poetry: check pyproject.toml syntax"
  # We're slightly abusing the 'poetry-lock' hook, by running
  # 'poetry lock --check' instead of 'poetry lock'
  - id: poetry-lock
    name: "poetry: check poetry.lock consistency"
    args: ['--check']
    files: '^(pyproject\.toml|poetry\.lock)$'
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
- repo: https://github.com/kynan/nbstripout
  rev: 0.6.1
  hooks:
  - id: nbstripout
    args: ["--extra-keys", "metadata.interpreter metadata.kernelspec metadata.language_info metadata.vscode"]
- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|^(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)|^(examples/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Address review comments
  src/ansys/acp/core/_tree_objects/edge_set.py
Due: mypy-code

Use common testing method for edge set
  tests/test_edge_set.py
Due: mypy-tests

Use sentence-style capitalization in docs (#127)
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  README.rst
  doc/.vale.ini
  doc/source/_static/README.md
  doc/source/api/index.rst
  doc/source/api/server.rst
  doc/source/api/tree_objects.rst
  doc/source/examples/others/local_pyacp_executable.rst
  doc/source/index.rst
  doc/styles/.gitignore
  doc/styles/Vocab/ANSYS/accept.txt
  doc/styles/Vocab/ANSYS/reject.txt
Due: none

DOC: add development documentation
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/solve_class40.html
  dev/searchindex.js
Due: none

Update resolved API reference
  poetry.lock
Due: none

Add Edge Set tree object class (#126)
  doc/source/api/tree_objects.rst
  poetry.lock
  src/ansys/acp/core/__init__.py
  src/ansys/acp/core/_tree_objects/__init__.py
  src/ansys/acp/core/_tree_objects/edge_set.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/rosette.py
  tests/test_edge_set.py
Due: mypy-code, mypy-tests

Add pipeline for cleaning untagged packages
  .github/workflows/package_cleanup.yml
Due: none

Add contents:write permission
  .github/workflows/package_cleanup.yml
Due: none

Use renamed filetransfer module
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  README.rst
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_server/docker-compose.yaml
  src/ansys/acp/core/_server/docker_compose.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Use renamed filetransfer module (#138)
  .github/workflows/ci_cd.yml
  .github/workflows/nightly.yml
  README.rst
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_client.py
  src/ansys/acp/core/_server/docker-compose.yaml
  src/ansys/acp/core/_server/docker_compose.py
  tests/conftest.py
Due: mypy-code, mypy-tests

DOC: add development documentation
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  dev/api/_autosummary/ansys.acp.core.DockerComposeLaunchConfig.html
  dev/api/_autosummary/ansys.acp.core.DockerComposeLaunchConfig.image_name_filetransfer.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/solve_class40.html
  dev/index.html
  dev/searchindex.js
Due: none

Add pipeline for cleaning untagged packages (#137)
  .github/workflows/package_cleanup.yml
Due: none

DOC: add development documentation
  dev/_images/sphx_glr_solve_class40_001.png
  dev/_images/sphx_glr_solve_class40_thumb.png
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/solve_class40.rst.txt
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/solve_class40.html
  dev/searchindex.js
Due: none

Re-lock dependencies
  poetry.lock
Due: none

Add testing notebook
  dev_utils/test.ipynb
Due: none

Update dependencies; fix doc build instructions
  README.rst
  poetry.lock
Due: none

Update doc build instructions
  README.rst
Due: none

Move '_grpc_helpers' into '_tree_objects', start exposing material props
  dev_utils/test.ipynb
  src/ansys/acp/core/_tree_objects/_grpc_helpers/enum_wrapper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_helpers.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/linked_object_list.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/mapping.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/nested_object.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/edge_set.py
  src/ansys/acp/core/_tree_objects/element_set.py
  src/ansys/acp/core/_tree_objects/enums.py
  src/ansys/acp/core/_tree_objects/fabric.py
  src/ansys/acp/core/_tree_objects/material.py
  src/ansys/acp/core/_tree_objects/model.py
  src/ansys/acp/core/_tree_objects/modeling_group.py
  src/ansys/acp/core/_tree_objects/modeling_ply.py
  src/ansys/acp/core/_tree_objects/oriented_selection_set.py
  src/ansys/acp/core/_tree_objects/rosette.py
Due: mypy-code

FIX : Add verbose to debug
  .github/workflows/ci_cd.yml
Due: none

Remove circular dependency between grpc helpers and tree object
  poetry.lock
  pyproject.toml
  src/ansys/acp/core/_tree_objects/_grpc_helpers/nested_object.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material.py
Due: mypy-code

Improve naming
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material.py
Due: mypy-code

Update versions.json
  release/versions.json
Due: none

FIX : change the malformed json file
  doc/source/conf.py
Due: none

Fiix : check switcher enabled
  doc/source/conf.py
Due: none

Update doc build instructions (#141)
  README.rst
Due: none

Keep untagged containers which are newer than 7 days
  .github/workflows/package_cleanup.yml
Due: none

Add prototype implementation for density and engineering_constants
  dev_utils/test.ipynb
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material.py
Due: mypy-code

Add prototype implementation for variable mat data
  dev_utils/material.ipynb
  src/ansys/acp/core/_tree_objects/_grpc_helpers/property_helper.py
  src/ansys/acp/core/_tree_objects/_grpc_helpers/protocols.py
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material.py
Due: mypy-code

Enable constructing nested attribute class without parent
  dev_utils/material.ipynb
  pyproject.toml
  src/ansys/acp/core/_tree_objects/base.py
  src/ansys/acp/core/_tree_objects/material.py
Due: mypy-code

Add testing for material property sets
  dev_utils/material.ipynb
  src/ansys/acp/core/_tree_objects/material.py
  tests/data/minimal_complete_model.acph5
  tests/data/variable_material.acph5
  tests/test_material.py
Due: mypy-code, mypy-tests
